/* I2P Theme Override:Light */
/* Comment:Larger text & other optimizations for Chinese & other doublebyte charactersets */
/* Author:dr|z3d */

b,a,input,button,input[type=submit],input[type="reset"],i,th,thead,tfoot,.mediumtags,.themelabel{font-weight:400;font-style:normal}
button.control{padding:12px 11px}
button,input[type=submit],input[type="reset"]{padding:3px 5px 3px 22px;display:inline-block;line-height:1.6;letter-spacing:.15em;font-size:10.5pt}
button,input[type=submit],input[type="reset"]{display:inline-block;line-height:1.6;letter-spacing:.15em;font-size:10.5pt}
.main button,.main input[type=submit],.main input[type="reset"],.main button:hover,.main input[type=submit]:hover,.main input[type="reset"]:hover,.main button:focus,.main input[type=submit]:focus,.main [type="reset"]:focus{padding:3px 12px 3px 30px!important;background-position:12px center!important}
button.reload[value="restart"],button.stop[value="shutdown"]{padding-top:3px;padding-bottom:3px}
code,tt,div,input,button{font-size:10pt}
h1,h2,h3,h4{font-weight:400;text-shadow:none;word-spacing:.1em}
h3,#routerinformation h2,#config_family th{font-size:12pt}
th,td,.mediumtags,div.news,.newscontent p{font-size:10pt;font-weight:400}
.applabel{padding:2px 6px}
.applabel a{padding:2px;display:inline-block;vertical-align:middle}
.cells tt,#profilelist tt,tt a{font-weight:700}
.formaction{margin-top:-16px}
.langselect .optbox:checked ~ .ui_lang{font-size:90%}
.messages,.messages li,.infohelp,.infowarn{font-weight:400;font-size:11pt}
.netdb_name{font-weight:400;color:#112}
.statusnotes{font-size:10.5pt;letter-spacing:.2em;text-shadow:none}
.tablefooter tr,.tablefooter td{font-size:10pt}
.tab,.tab2{font-size:11pt;font-weight:400}
.tunnels a{font-size:9.5pt;word-spacing:0;letter-spacing:0}
.tunnel_cap b,b.tunnel_cap{color:#fff;font-weight:700}
.tunneldisplay th{font-size:10.5pt}
.ui_lang{font-size:9pt}
#applinks,#sitelinks{font-size:13pt}
#applinks a[href$="configapps"],#sitelinks a[href$="configsites"]{padding:11px 0 5px 9px}
#clock{font-size:16pt}
#config_family p.infohelp{margin-bottom:12px}
#config_service p.infohelp,#config_clients p.infohelp,#config_clients p.infowarn,#config_clients p#pluginconfig,#config_tunnels p.infohelp,#enablefullstats{margin-top:12px}
#console a:hover code{color:#f60}
#console code,#console a{word-spacing:normal;letter-spacing:normal;font-size:10.5pt}
#console li{margin-left:20px;margin-top:10px;margin-bottom:10px;text-align:justify;list-style:none}
#console .links li{margin-left:35px}
#console p a,#console li a{padding:1px 4px;display:inline-block;background:rgba(220,220,255,.5);border-radius:2px}
#console p,#console li,#console b{font-size:10.5pt;word-spacing:0;letter-spacing:.15em;line-height:1.6}
#console .twocol li{text-align:left}
#console .twocol{margin-bottom:-5px}
#externali2cp td label + br{display:none}
#externali2cp td label{margin-right:8px;white-space:nowrap}
#home .applabel a,.sitemapLabel{font-size:11pt;font-weight:400}
#jardump td,#jardump td tt,.smallhead{font-size:8.5pt}
#newsStatus,#newsDisplay{font-size:10.5pt;letter-spacing:.05em}
#sb_general td::after,#sb_shortgeneral td::after,#sb_advancedgeneral td::after,#sb_bandwidth td::after,#sb_peers td::after,#sb_peersadvanced td::after,#sb_tunnels td::after,#sb_queue td::after{min-height:15px}
#sb_newsheadings td,#sb_newsheadings tr:hover td{padding-left:22px;background-position:4px center}
#sidebar a{font-size:10pt;font-weight:400}
#sidebar a{word-spacing:.1em;font-size:10pt;line-height:1.3}
#sidebar b{font-size:9.5pt;font-weight:400}
#sidebarconf button{padding:3px}
#sidebar form button.download{font-size:8.5pt}
#sidebar h3 a{font-size:11pt}
#sidebar h3,#sidebar h4,#sidebar p,#sidebar h3 a,#sidebar a{text-shadow:none}
#sidebar h4,#sidebar h4 a{font-size:10.5pt}
#sidebar table{font-size:8.5pt}
#sidebar .sb_netstatus a{vertical-align:middle}

@media (min-width:1500px){#console p,#console li,#console code,#console a,#home .applabel a,.themelabel,button,input[type=submit],input[type="reset"],.main label,#helptranslate,.main .infohelp,.main .infowarn{font-size:11pt}.ui_lang,#tunnels th:nth-child(n+2),#tunnels th{font-size:10pt}h3,#routerinformation h2,#config_family th{font-size:13pt}#sidebar h3 a,#tunnels h3{font-size:12pt}.applabel{padding:4px 6px}#applinks a[href$="configapps"],#sitelinks a[href$="configsites"]{padding-left:11px}#sidebar form button.download{font-size:9.5pt}}