/* I2P Theme:Light */
/* Description:RTL Light blue highlights for Arabic locale. */
/* Author:dr|z3d */

:root{
--h1_rtl:linear-gradient(-135deg,#fcfcff,rgba(252,252,255,0) 600px),linear-gradient(180deg,#fcfcff 50%,rgba(248,248,255,.6) 50%),repeating-linear-gradient(-135deg,rgba(255,255,255,.5) 2px,rgba(221,221,255,.3) 3px,#fff 5px) #fafaff;
--title_ar:linear-gradient(180deg,#fff 50%,rgba(255,255,255,.6) 50%,rgba(240,240,255,.4)),linear-gradient(to left,#fff 5%,rgba(231,231,255,.8) 15%) right center;
}

body{direction:rtl}
pre{text-align:right}
#help pre,#logs li,#proof textarea{text-align:left;direction:ltr}
table{direction:rtl;margin-right:-16px}
td{text-align:right}
h1,h2 ,h3,h4{direction:rtl;text-align:right}
h2,h3{background:linear-gradient(180deg,#fff 50%,rgba(255,255,255,.6) 50%,rgba(240,240,255,.4)),linear-gradient(to left,#fff 5%,rgba(231,231,255,.8) 15%)}
.welcome h2{padding-right:32px}
#debug h2{background:var(--bug) no-repeat 6px center,linear-gradient(180deg,#fcfcff 50%,rgba(255,255,255,.6) 50%,rgba(240,240,255,.4)),linear-gradient(to left,#fcfcff 5%,rgba(231,231,255,.8) 25%);background-size:20px,100%,100%}
#portmapper th:last-child,#portmapper td:last-child,#sockets td:last-child{text-align:center}
.buckets{margin-bottom:-10px}
#sb_wrap{margin-right:-1px}
.sb{margin-bottom:4px}
.sb h4{text-align:center}
h1{margin:0 212px -15px 0;padding:16px 20px 15px 10px;background:var(--h1_network) no-repeat 8px center,var(--ht_rtl)}
h1.home{background:var(--h1_home) no-repeat right 10px center,var(--h1_rtl)}
h1.perf{background:var(--h1_perf) no-repeat right 10px center,var(--h1_rtl)}
h1.nfo{background:var(--h1_info) no-repeat right 10px center,var(--h1_rtl)}
h1.hlp{background:var(--h1_help) no-repeat right 10px center,var(--h1_rtl)}
h1.addbook{background:var(--h1_addbook) no-repeat right 10px center,var(--h1_rtl)}
h1.snark{background:var(--h1_snark) no-repeat right 10px center,var(--h1_rtl)}
h1.mail{background:var(--h1_mail) no-repeat 8px center,var(--h1_rtl)}
h1.conf{background:var(--h1_config) no-repeat right 10px center,var(--h1_rtl)}
h1.adv{background:var(--h1_info) no-repeat right 10px center,var(--h1_rtl)}
h1.err{background:var(--h1_error) no-repeat right 10px center,var(--h1_rtl)}
h1.sched{background:var(--h1_tasks) no-repeat right 10px center,var(--h1_rtl)}
h1.log{background:var(--h1_logs) no-repeat right 10px center,var(--h1_rtl)}
h1.webapp{background:var(--h1_webapp) no-repeat right 10px center,var(--h1_rtl)}
h1[class]{padding-right:48px;background-position:right 10px center;background-size:34px auto,100%,100%,100%}
h2{font-size:16pt}
h3{font-size:13pt;padding-right:10px}
form{text-align:right;margin:0 16px 0 -16px}
#stats form{margin:0}
#sb_logo img{margin-right:-5px}
table.search td:nth-child(2){padding:0 10px 0 0}
table.search td:nth-child(3){padding:0 2px 0 8px}
input.search[type=text],input.search[type=text]:focus{background-position:right 4px center;padding:5px 24px 5px 5px}
button,input[type=submit],input[type="reset"]{display:inline-block;line-height:120%;font-size:10pt}
#config_homepage.main input.delete{float:right;margin-top:5px}
button.search,input[type=submit],input[type="reset"],button.search:hover,input[type=submit]:hover,input[type="reset"]:hover,button.search:focus,input[type=submit]:focus,input[type="reset"]:focus,button.search:active,input[type=submit]:active,input[type="reset"]:active{background-position:right 6px center;padding:5px 24px 5px 7px}
select,select:hover,select:focus,select:active{padding:4px 4px 4px 16px;background-position:left center;text-align:right}
#loggingoptions input[type=text],#i2pupdates input[type=text],#addkeyring input[type=text],#reseedconfig input[type=text],#manualreseed input[type=text],#plugininstall input[type=text],.homelinkedit input[type=text]{direction:ltr;text-align:right}
.homelinkedit td:nth-child(4){direction:ltr}
input[name="refreshInterval"]{text-align:left}
#loggingoptions td:last-child:not(.optionsave){text-align:right}
#statsForm,#joinfamily,#newfamily,#permabanned{margin-left:0;margin-right:0}
form[action="configpeer"]{margin-left:-16px;margin-right:16px}
form[action="configpeer"] > h3.tabletitle{margin-left:16px;margin-right:-16px}
#config_summarybar table.configtable{margin-right:0}
div.wideload{margin-left:-16px;margin-right:16px}
#sidebar{margin-right:-21px}
.sb h3 a{font-size:120%}
.sb h3,.sb h4{text-align:center}
.sb form{text-align:center}
#sb_newsheadings{margin:5px -8px 0 0}
#sb_newsheadings:hover{margin:5px -5px 0 0}
#sb_newsheadings table{margin:-12px 0 -8px -10px;border-collapse:separate;border-spacing:0}
#sb_newsheadings table:hover{padding-right:3px}
#sb_newsheadings tr td,#sb_newsheadings tr:hover td{padding-right:24px;padding-left:6px;background-position:right 6px center;background-color:none}
#sidebar #sb_services td{text-align:right}
#sb_services a:link,#sb_services a:visited{text-align:right;background-position:right 6px center}
#sb_services a::before{margin-left:6px}
#sb_graphcontainer{background-position:left -60px top -20px;transform:scale(-1,+1)}
#sb_bandwidthgraph{margin:-5px -5px -5px 0}
#sidebar td:first-child,#sb_localtunnels td:nth-child(2){text-align:right}
#sidebar td.digits{text-align:left}
.tunnelBuildStatus::before{margin-left:4px;width:4px;height:9px}
.percentBarOuter{margin:-4px -3px -4px -5px;background:linear-gradient(to left,rgba(0,255,0,.05) 50%,rgba(255,255,0,.05) 75%,rgba(255,128,0,.05) 90%,rgba(255,0,0,.1)),repeating-linear-gradient(90deg,rgba(180,180,255,.7) 1px,rgba(180,180,255,.7) 2px,rgba(221,221,255,.7) 2px,rgba(221,221,255,.7) 4px)}
.sb_info .percentBarOuter{margin:3px 2px -19px -4px}
.sb_updatestatus,.sb_info .percentBarText{font-size:9pt}
.sb_info .percentBarText{padding-top:1px;direction:ltr}
.sb td:last-child{text-align:left}
.logo{float:right}
.messages li,.messages li:first-child,.error li:first-child,.error li{padding:0 24px 0 0;font-size:12pt}
.error li,.notice li{background-position:right center;font-size:12pt}
.warning{text-align:right}
.main{margin:10px 212px 0 0;padding:7px 20px 30px 20px}
.sorry{margin:14px 212px 0 0;padding:20px 70px 20px 20px;background:#fff var(--err) no-repeat right 15px center / 40px}
.main li{text-align:right}
#home{padding-bottom:10px}
div.news{margin:10px 212px -12px 0;padding:7px 20px 10px 20px;direction:ltr}
.news h3,#newspage h3{direction:ltr}
.graphspanel form{text-align:right}
#graphs td.infohelp{text-align:right;padding-right:40px}
p#helptranslate{padding:20px 20px 20px 20px;text-align:right;background:var(--infohelp) no-repeat right 14px center / 28px}
#loggingoptions p{text-align:right}
.confignav{margin-left:-20px;margin-right:-20px;margin-top:-5px;direction:ltr}
.formaction{text-align:left;margin:0 -16px 0 16px}
.formaction#submitconsolepass,.formaction#tunnelconfigsave,.formaction#homeapps,.formaction#homesites,#sidebardefaults,#loggingoptions,#reseedconfig,#addkeyring,#netconfig,#advconf,#bandwidthconfig,#externali2cp,#newfamily,#webappconfigactions,#configstats{margin-bottom:15px}
#clientconfig,#webappconfig{margin-right:-32px}
#clientconfig td:nth-child(2),#clientconfig td:nth-child(3){text-align:center}
#clientconfig th:first-child,#clientconfig td:first-child,#webappconfig th:first-child,#webappconfig td:first-child{text-align:left}
#webappconfig th:nth-child(2),#webappconfig td:nth-child(2),#webappconfig th:nth-child(3),#webappconfig td:nth-child(3){text-align:center}
#webappconfigactions{margin-left:32px;margin-right:-32px}
div[lang="ar"] p,div[lang="ar"] ul{padding:0 20px;font-size:11pt}
div[lang="ar"] .links li{list-style:none;margin-bottom:15px;padding-right:5px}
div[lang="ar"] ul li{list-style-image:url("images/link.png");list-style-position:outside;margin-left:0;padding-left:0;margin-top:15px;margin-right:50px}
div[lang="ar"] ul,div[lang="ar"] p{margin:10px}
#help li{margin-left:20px}
.links li:first-child{margin-top:15px}
#help .links li:first-child{margin-top:-10px}
#help .links li{margin:5px 50px 5px 20px}
#fullhistory{text-align:left}
#fullhistory::before{margin-left:10px}
.links li code{text-align:right}
code{text-align:right}
th{text-align:right}
.links code,#console code{font-size:10pt}
th a.script{float:left}
div.joblog li{text-align:left;direction:ltr}
span#newtab{text-align:left;font-size:8pt;float:left;letter-spacing:0;margin-left:10px}
#tunnelconfig + hr{background:#fff }
#plugininstall,#plugininstall2{margin:0 0 0 -16px}
#updateplugins{margin:0}
#pluginconfig th:first-child,#pluginconfig td:first-child{min-width:100px;white-space:normal;text-align:left;padding-right:5px}
#pluginconfig th:nth-child(2),#pluginconfig th:nth-child(3),#pluginconfig td:nth-child(2),#pluginconfig td:nth-child(3){text-align:center}
#pluginconfig table th:nth-child(2),#pluginconfig table td:nth-child(2){text-align:right}
#config_plugins{overflow:hidden}
td.optionsave,#peerdefs td:first-child{text-align:left}
p.infohelp,p.infowarn,td.infohelp,td.infowarn,#bugreports td.infohelp,p#debugmode,p#sybilinfo,#bandwidthconfig tr:first-child .infohelp,#addkeyring td.infohelp,#joinfamily tr:nth-child(3) td:first-child,#newfamily tr:last-child td:first-child,#floodfillconfig .infohelp,p#clientconf.infohelp,p#webappconfig.infohelp,p#pluginconfig,#plugininstall .infohelp,#manualreseed tr:nth-last-child(2) td.infohelp,#config_peers tr:nth-child(3) td.infohelp,h3#shutdownrouter + p.infohelp,h3#restartrouter + p.infohelp,h3#systray + p.infohelp,h3#servicedebug + p.infohelp,h3#browseronstart + p.infohelp,#config_reseed p.infohelp,p#enablefullstats,p#gatherstats,#config_family .infohelp,#consolepass tr:first-child td,form[action="events"],#plugininstall tr:nth-child(3) td:nth-last-child(2),#manualreseed tr:nth-child(3) td:nth-last-child(2),#manualreseed tr:nth-child(5) td:nth-last-child(2),#plugininstall2 tr:nth-child(2) td:nth-last-child(2),#config_summarybar .configtable td:not(.optionsave){background-position:right 12px center;padding:15px 50px 15px 10px}
#themesettings,#langsettings{margin-left:16px;margin-right:-16px;margin-bottom:16px}
div.themechoice,div.langselect{float:right}
.themelabel{padding:3px;font-size:10pt;font-weight:700}
.h3navlinks{float:left}
.homelinkedit tr:last-child td:first-child,p#helptranslate{text-align:left}
#sidebarconf tr:last-child td:last-child{text-align:right}
#sidebarconf th:last-child{text-align:center}
#sidebarconf th{text-align:right}
#sidebarconf td:last-child{text-align:right;padding-left:10px}
#sidebarconf td:nth-last-child(2){text-align:left}
#manualreseed,#config_keyring .configtable{margin-right:0}
#config_keyring form h3,#config_update form h3,form h3{margin-right:-16px;margin-left:16px}
#plugininstall,#plugininstall2{margin-right:0}
#pluginconfig{margin-right:-32px}
#tunnelconfig td:nth-child(n+2){text-align:right}
.formaction#clientsconfig,.formaction#pluginconfig{margin-left:32px;margin-right:-32px;margin-bottom:15px}
.infohelp#webappconfig,h3#webappconfiguration,#pluginconfig,h3#pconfig{margin-right:0}
#configstats td:first-child{text-align:center}
#configstats td:nth-child(2){padding-right:10px;direction:ltr}
#i2pupdates td:first-child,#reseedconfig td:first-child,#configstats tr:last-child td,textarea[name="levels"]{text-align:left}
textarea#advancedsettings,#i2pupdates textarea,#addkeyring textarea,#reseedconfig textarea,#enviro{direction:ltr}
.main[id^="config_"] select,.main[id^="config_"] textarea,.main[id^="config_"] .optbox{margin-right:3px}
#i2pupdates input[type=text]:not([readonly]),#i2pupdates textarea,.main[id^="config_"] textarea,input[name="newsURL"]{width:calc(100% - 10px)}
.homelinkedit th:first-child,.homelinkedit td:first-child{text-align:center}
.homelinkedit th:nth-child(2),.homelinkedit td:nth-child(2){text-align:left;width:24px}
#bannedips,#banlist{margin-left:0;margin-right:0}
#bannedips,#bannedips table{direction:ltr}
.mediumtags,#enviro td{text-align:left}
h3#advancedconfig a,h3#bwlimiter a,h3.tabletitle a,h3.ptitle a,th a.script,th#upnpconfig a,h3#graphinfo a,h3#graphdisplay a{float:left}
#config_advanced .wideload{margin-left:0;margin-right:0}
#config_service p.infohelp{margin-right:-16px;margin-left:16px}
#browserstart{margin-bottom:15px}
#config_update.main .messages{text-align:right;padding-right:50px}
#addkeyring tr:last-child td{text-align:left}
#banlist li{padding:5px 35px 5px 5px;background-position:right 10px center}
.tab,.tab2{display:inline-block;font-size:11pt;margin-top:-5px;padding-top:6px;padding-bottom:6px}
.tab a{padding:0 5px;display:inline}
table.search{margin-top:-26px;margin-bottom:15px}
.search td{padding-top:4px;padding-bottom:0}
#eventlog{margin-left:-16px;margin-right:0}
#applinks{margin-top:15px;background:url(images/favicon.svg) no-repeat 10px center / 16px,var(--title_ar)}
#sitelinks{clear:left;margin-top:10px;background:var(--planet) no-repeat 10px center / 16px,var(--title_ar)}
#applinks,#sitelinks,#news h3,.news h3{background-position:right 7px center,right center,right center;padding:6px 30px 6px 10px;direction:ltr}
#applinks a,#sitelinks a{float:left}
.applabel a{font-size:11pt}
.applink:hover .appicon .extlink::after{left:-1px;right:auto;border-radius:2px 0 2px 0}
div.news h3,#news h3,#newspage #news h3{padding:5px 30px 5px 10px;background:var(--news) no-repeat right 8px center / 15px,var(--title_ar)}
#newsStatus{float:none}
#newsDisplay{margin-left:0}
#news #newsStatus,#news #newsDisplay{margin-top:6px;margin-bottom:-2px}
#news #newsStatus{margin:-2px 0 0;font-size:9pt}
.newsAuthor{float:left}
#netdboverview,#netdboverview td,#netdboverview table{direction:ltr}
#netdboverview table td{border:1px solid #7778bf}
#sb_internals td,#sb_advanced td{text-align:center}
#sb_localtunnels td{vertical-align:top;}
#sb_localtunnels td:last-child{padding-left:1px;text-align:left}
#leasesetdebug th:last-child,#leasesetsummary th:last-child,table.leaseset th:last-child,table.leaseset td:nth-child(2){text-align:left}
#leasesetdebug th,#leasesetsummary th,table.leaseset th{text-align:right}
.leaseset th:first-child code,.leaseset th:first-child b{float:right}
.leaseset th:first-child code{direction:ltr;padding-right:5px}
#leasesetdebug td:nth-child(2n+1){text-align:left}
#leasesetdebug td:nth-child(2n){text-align:right}
#leasesetdebug,#leasesetsummary,table.leaseset,table.sybil_routerinfo,#netdboverview,.netdbentry{margin-right:0}
p.family,p.sybil_info{direction:ltr}
.sybil_routerinfo th{padding:1px 6px 1px 1px}
.sybil_routerinfo th:nth-last-child(2),.sybil_routerinfo th:last-child,#netdblookup td:first-child:not(.subheading){text-align:left}
td.subheading{text-align:right}
.sybil_routerinfo th:first-child{text-align:right}
.sybil_routerinfo td:first-child{text-align:left}
table.leaseset:last-child,.netdbentry:last-child,#profile_defs{margin-bottom:-10px}
#leasesetdebug td:first-child,#leasesetsummary td:first-child{text-align:left}
#netdboverview th,#netdblookup th{background-position:right 8px center;padding:8px 32px 8px 5px;text-align:right}
#netdbversions th:first-child,#netdbtransports th:first-child,#netdbcountrylist th:first-child{text-align:left}
#netdbversions th:last-child,#netdbtransports th:last-child,#netdbcountrylist th:last-child{text-align:right;padding-right:5px}
.netdbentry th:first-child{text-align:right}
.netdbentry th:last-child{text-align:left}
.netdbentry td:nth-child(2){direction:ltr}
.netdbentry th:last-child{border-left:1px solid #7778bf}
.netdbentry th a img{margin-left:6px}
#sybilnav li{padding:3px 24px 3px 3px;background:var(--eye) no-repeat right 5px center / 16px,linear-gradient(90deg,#eef 30%,#fff)}
.threatpoints + ul li{margin-right:20px}
.leaseset th:last-child,.leaseset td:last-child,.sybil_routerinfo th:last-child,.sybil_routerinfo td:last-child{border-right:none}
p#profiles_overview,#profiles .widescroll + h3,#thresholds + h3,#profiles #banlist{margin-right:-16px}
p#profiles_overview,#profiles .widescroll + h3,#thresholds + h3,#profiles #banlist{margin-left:16px}
#profiles_overview + .widescroll{margin:0 -16px 0 16px}
#profiles .confignav + .widescroll{overflow:visible}
#profilelist{margin:0}
#profilelist th:last-child,#profilelist td:last-child,#addkeyring td:first-child{text-align:left}
#profile_defs td:first-child{text-align:left}
#profile_defs td:last-child,td.infohelp{text-align:right}
#profilelist td:nth-child(2){text-align:right}
#thresholds p{padding-right:10px}
.sybil_routerinfo th img[src^="/flags"],.netdbentry th a img{margin-left:5px}
.wideload .confignav{margin-left:-3px;margin-right:-35px}
#floodfills,.statusnotes:last-child{margin-bottom:-10px}
#profiles ul#banlist{margin-bottom:-10px}
#peers table,#tunnels table,#logs table,#debug table{margin-right:0}
#bugreports{padding:10px 10px 10px 0}
#logs #bugreports td.infohelp{padding:5px 65px 5px 0}
#logs table td:first-child{padding-right:15px}
.logtable tr:first-child td{direction:ltr;text-align:right}
#wrapperlogs pre{text-align:left;direction:ltr;width:100%;margin-right:-15px}
#wrapperlogs{margin-bottom:-10px}
#pluginconfigactions{margin:-6px -32px -6px 32px}
#config_service .formaction{margin-top:-13px}
pre#activetransports{padding:10px 10px 0 0}
#changelog{margin-bottom:-9px}
#advancedsettings #configinfo{margin:0 0 5px}
#portfaq{width:auto;margin:16px 0 5px}
#help h3{border-width:1px 5px 1px 1px}
#help.main td.infohelp,#help.main td.infowarn{padding-right:46px;padding-left:15px}
#faq h3{background:var(--question) no-repeat,linear-gradient(180deg,#fff 50%,rgba(255,255,255,.6) 50%,rgba(240,240,240,.4)) repeat scroll 0 0%,rgba(0,0,0,0) linear-gradient(to left,#fff 5%,rgba(231,231,255,.8) 15%);background-position:right 6px center,right center,right center;padding-right:30px;background-size:18px 18px,100%,100%}
#consolepass input[name="nofilter_pw"],#externali2cp input[name="nofilter_pw"],#consolepass input[name="nofilter_pw"]:focus,#externali2cp input[name="nofilter_pw"]:focus,#consolepass input[name="name"],#externali2cp input[name="user"],#consolepass input[name="name"]:focus,#externali2cp input[name="user"]:focus{background-position:right 3px center,center center;padding:4px 20px 4px 4px;margin:5px 3px 5px 15px}
label{text-align:right;display:inline-block}
#graphs input{margin-left:8px}
#graphs td:first-child{padding-right:10px;text-align:left}
#consolepass tr:first-child td,p#clientconf.infohelp,p#webappconfigtext.infohelp,#floodfillconfig .infohelp,#bandwidthconfig tr:first-child .infohelp,h3#shutdownrouter + p.infohelp,h3#restartrouter + p.infohelp,h3#systray + p.infohelp,h3#servicedebug + p.infohelp,h3#browseronstart + p.infohelp,#addkeyring td:first-child,#config_peers tr:nth-child(3) td.infohelp,#config_reseed.main p.infohelp,#plugininstall tr:nth-child(3) td:nth-last-child(2),#manualreseed tr:nth-child(3) td:nth-last-child(2),#manualreseed tr:nth-child(5) td:nth-last-child(2),#plugininstall2 tr:nth-child(2) td:nth-last-child(2),#manualreseed tr:nth-last-child(2) td.infohelp,p#enablefullstats,p#gatherstats,p#pluginconfigtext,#plugininstall .infohelp,#config_family .infohelp,#joinfamily tr:nth-child(3) td:first-child,#newfamily tr:last-child td:first-child,#config_summarybar .configtable td:not(.optionsave),#bugreports td.infohelp{background-position:right 12px center;padding:15px 50px 15px 15px}
.sb h4{font-size:11pt}
.sb h4 span,.sb h4 span a{font-size:10pt}
.sb td:first-child,.sb td:nth-last-child(n+2),.sb td a{font-size:10pt}
.sb h4 span::before{padding:0 0 0 5px}
.sb .error::before,.sb .warn::before,.sb .testing::before,.sb .hidden::before,.sb .running::before,.sb .firewalled::before,.sb .vmcomm::before,.sb .clockskew::before{padding-left:6px;padding-right:0}
#sb_newsheadings td,#sb_newsheadings tr:hover td{background-position:right center;padding-right:18px;padding-left:8px;text-align:right}
#sb_newsheadings td a{font-size:9pt}
#config_ui.main .themechoice .optbox{margin-left:0;margin-right:-38px}
#config_ui.main .langselect .optbox,#config_ui.main .langselect .optbox:hover,#config_ui.main .langselect .optbox:focus{margin-left:0;margin-right:-2px}
.tunnel_peer{text-align:left}
.tunnel_local{margin-right:0;margin-left:4px;text-align:center}
.tunnel_id:empty + .tunnel_cap{display:inline-block;margin-left:0;margin-right:12px}
#tunnel_defs td:nth-child(3){border-right:none}
#tunnels .cells{text-align:center}
b.suboption{padding-left:20px;padding-right:5px}
#pluginconfigtext + form{float:left;margin-left:8px}
#config_reseed #reseedurl,#installPluginUrl{background:#eaeaff var(--link) no-repeat right 10px center;background-size:28px 28px,100%,100%}
#config_reseed #reseedurl:hover,#installPluginUrl:hover{background:#ffd var(--link) no-repeat right 10px center;background-size:28px 28px}
#config_reseed#reseedzip,#installPluginFile{background:#eaeaff var(--files) no-repeat right 10px center;background-size:28px 28px,100%,100%}
#config_reseed #reseedzip:hover,#installPluginFile:hover{background:#ffd var(--files) no-repeat right 10px center;background-size:28px 28px}
#config_reseed #reseedcreatefile{background:#eaeaff var(--package) no-repeat right 10px center;background-size:28px 28px,100%,100%;text-align:justify}
#config_reseed #reseedcreatefile:hover{background:#ffd var(--package) no-repeat right 10px center;background-size:28px 28px}
#installPluginUrl,#installPluginFile,#reseedzip,#reseedcreatefile{padding:5px 55px 0 5px}
input[type="file"]:hover{border-radius:15px 0 0 15px;background:linear-gradient(to left,rgba(255,255,255,0),#dda)}
#config_plugins .wideload{margin-bottom:22px}
#manualreseed{margin-bottom:16px}
.optionsingle p{padding:15px 55px 15px 15px}
#manualreseed .optionsingle,#newfamily .optionsingle,#joinfamily .optionsingle,#manualreseed .optionsingle:hover ,#newfamily .optionsingle:hover,#joinfamily .optionsingle:hover{padding:5px 45px 5px 5px;background-position:right 8px center}
.optionsingle table{margin-right:0}
#reseedurl input[type=text],#reseedzip input[type="file"],#reseedcreatefile p{width:calc(100% - 20px)}
#bandwidthconfig td:first-child:not(.infohelp){padding:0 5px 0 80px;background:url(/themes/console/images/info/arrow_left.png) no-repeat 30px center}
#joinfamily tr:nth-child(3) td:first-child,#newfamily tr:last-child td:first-child{padding:5px}
#config_reseed .confignav + .infohelp + form{margin-left:-16px;margin-right:16px}
#updateHelper b,#updateProxyHostPort b,#i2pupdates b{text-align:left}
#i2pupdates td:first-child,#reseedconfig td:first-child,#configstats tr:last-child td,textarea[name="levels"]{text-align:right}
.sub-option label{min-width:0;width:auto}
.sub-option .optbox,#config_update .suboption .optbox{margin-right:0;margin-left:5px}
#config_update .suboption label[for="newsThroughProxy"]{margin-right:5px;margin-left:15px}

@media screen and (min-width:800px){
#console{overflow:hidden}
}

@media screen and (min-width:1000px){
body{overflow-x:hidden}
}

@media screen and (min-width:1500px){
.main,.news,h1,.sorry,#news.news{margin-right:250px;margin-left:0}
#config_ui.main .themechoice .optbox{margin-left:0;margin-right:-49px}
#sb_logo img{margin-right:-8px}
}