/* I2PSnark theme "Camo" aka Dark */
/* Author:dr|z3d */

@import url(/themes/console/dark/global.css);

:root {
--bevel_notify:var(--bevel),inset 0 0 3px 3px #131,inset 0 0 1px 5px rgba(16,48,16,.1);
--border_filtered:var(--border);
--notify:#000 var(--tr);
--row_filtered:var(--tr);
--row_highlight:var(--highlight),inset 0 0 2px 1px #040,inset 0 0 0 3px #000800;
--tabIcon:linear-gradient(180deg,#000 50%,#040 50%);
}

html{background:#000}
body {margin:3px;font-size:9pt;background:#000}
body.iframed {margin:1px 0;background:none}
body::before {width:32px;height:32px;display:inline-block;position:absolute;bottom:0;right:0;background:var(--snark_hover),var(--forum_hover),var(--tracker_hover),var(--search_hover),var(--snark_active),var(--forum_active),var(--tracker_active),var(--search_active);opacity:0;content:""}
body,input,select,#commentInfo textarea {font-family:var(--bodyfont)}
.page {margin:5px 0 0;min-width:890px;line-height:1.6;text-align:center;font-size:9pt;background:#000}
.iframed .page {margin:5px 0;padding:0;border:none;background:none}
p {line-height:1.5}
hr {margin:5px 0 7px;width:0;height:1px;color:transparent;opacity:0}
a,a:link,a:visited {color:#7c7}
a:hover,a:focus {color:#f40}
code {padding:0 2px;font-size:8.5pt;color:#ff6}
.newTab {margin:1px 4px -2px;float:right;filter:sepia(1) saturate(0) invert(1)}
.newTab:hover,.newTab:focus {filter:sepia(1) saturate(0) invert(1) drop-shadow(0 0 2px #f60)}
.toggleview,.configTitle,#navbar,img,input[type=submit],input[type=radio],input[type=checkbox],label,th img,#createSection,#closelog,#pagenav {user-select:none}
table {margin:0 0 10px;padding:0;border:none;border-collapse:collapse}
thead,thead:hover tr,tfoot {background:#000}
thead,thead:hover tr {border-bottom:1px solid #101}
tr {contain:layout}
#torrents,.dirInfo,#videoTitle {position:relative}
#torrents::before,#screenLog::before,.dirInfo::before,.dirInfo::before,#videoTitle::before {width:0;height:1px;display:block;position:absolute;top:1px;left:0;z-index:1000;background:rgba(255,96,0,.4);animation:ease-in bar .5s reverse;content:"";will-change:transform}
.iframed #navbar,.iframed .mainsection,.iframed #addSection,.iframed #createSection,.iframed #configSection,.iframed .configPanel {border-left:none;border-right:none;border-radius:0}

/* topnav */
#navbar {margin:0 0 -6px;padding:9px 0;min-width:888px;position:sticky;top:-2px;z-index:999;text-align:center;border:var(--border);box-shadow:var(--highlight),inset 0 0 1px 1px #050;background:var(--topnav);will-change:transform}
.iframed #navbar {margin-top:-2px;padding:8px 0 7px;position:static}
#navbar a:not(:hover):not(:focus):not(:active) {color:#32ff32}
.nav_main {border-radius:1px 0 0 1px;padding-left:24px;background:#000 var(--snark) no-repeat 7px center}
.nav_forum {background:#000 var(--forum) no-repeat 7px center}
.nav_tracker {background:#000 var(--tracker) no-repeat 7px center}
.nav_search {background:#000 var(--search) no-repeat 7px center}
.nav_main:hover,.nav_main:focus {background-image:var(--snark_hover),var(--nav_hover)}
.nav_forum:hover,.nav_forum:focus {background-image:var(--forum_hover),var(--nav_hover)}
.nav_tracker:hover,.nav_tracker:focus {background-image:var(--tracker_hover),var(--nav_hover)}
.nav_search:hover,.nav_search:focus {background-image:var(--search_hover),var(--nav_hover)}
.nav_main:active {background:var(--snark_active) no-repeat 7px center,linear-gradient(180deg,#d30,#f50)}
.nav_forum:active {background:var(--forum_active) no-repeat 7px center,linear-gradient(180deg,#d30,#f50)}
.nav_tracker:active {background:var(--tracker_active) no-repeat 7px center,linear-gradient(180deg,#d30,#f50)}
.nav_search:active {background:var(--search_active) no-repeat 7px center,linear-gradient(180deg,#d30,#f50)}
.nav_main.snarkNav:last-child {border-radius:1px}
.snarkNav {margin:-1px -2px 0;padding:4px 7px 5px 23px;display:inline-block;position:relative;line-height:1.2;letter-spacing:.1em;text-transform:uppercase;font-size:10pt;font-weight:700;text-shadow:0 0 1px #000;border:1px solid #4a4;border-radius:0;box-shadow:var(--highlight),inset 0 0 1px 1px #0f0;opacity:.5}
.snarkNav,.snarkNav:hover,.snarkNav:focus {color:#177d17;background-size:15px,100%;background-position:7px center,center center,center center;background-repeat:no-repeat,repeat}
.snarkNav:hover,.snarkNav:focus {z-index:10;color:#f60;border:1px solid #930;border-radius:0;box-shadow:var(--highlight),inset 0 0 0 2px rgba(255,96,0,.2);opacity:1}
.snarkNav:last-child {border-radius:0 1px 1px 0}
.snarkNav:active,.snarkNav:active {box-shadow:var(--highlight),inset 2px 2px 2px 1px rgba(0,0,0,.6);text-shadow:none;color:#fff;background-size:14px,100%,100%;background-repeat:no-repeat;filter:none;transition:ease box-shadow .05s}
.iframed .nav_main,.iframed .nav_main.snarkNav:last-child,.iframed .snarkNav:last-child {border-radius:0}
.iframed .snarkNav:last-child[href="/i2psnark/"] {margin-top:0}

/* search */
#snarkSearch{display:block;position:absolute;top:5px;right:10px}
#snarkSearch input[type=search],#snarkSearch input[type=submit]{padding:12px 8px 4px;height:28px;color:var(--ink);border:none;box-shadow:none;background:transparent}
#snarkSearch input[type=search]:not(:focus){opacity:0}
#snarkSearch:hover input[type=search],#snarkSearch input[type=search]:focus{padding:6px 22px 6px 6px;border-bottom:1px solid #131;opacity:1;transform:translateY(-10px)}
#snarkSearch input[type=search]::placeholder{font-weight:600;font-style:italic;opacity:.65;color:#252}
#snarkSearch input[type=search]:focus::placeholder{opacity:0}
#snarkSearch input[type="submit"]{width:28px;min-width:0;color:transparent;text-shadow:none;background:var(--search) no-repeat center right/24px;opacity:.4}
#snarkSearch input[type="submit"]:hover{background-size:26px}
#snarkSearch input[type="submit"]:active{background-size:22px;filter:none}
#snarkSearch:hover input[type="submit"],#snarkSearch:focus-within input[type="submit"]{opacity:.8}
#searchwrap{position:relative}
#searchwrap a[href="/i2psnark"]{height:12px;width:12px;display:inline-block;position:absolute;top:calc(50% - 14px);right:4px;font-size:0;background:url(images/delete.svg) no-repeat center center / 12px;border:none;box-shadow:none;opacity:0;filter:none}
#snarkSearch input[type=search]:focus:not(:placeholder-shown) + a[href="/i2psnark"]{opacity:.5}
#snarkSearch input[type=search]:focus:not(:placeholder-shown) + a[href="/i2psnark"]:hover{opacity:1}

/* screenlog */
#screenlog,#screenlog.collapsed {margin:0;padding:3px 5px;width:auto;height:56px;resize:none;overflow:hidden;line-height:1.2;text-align:left;font-size:8.5pt;color:#69f;box-shadow:var(--highlight),inset 0 0 0 2px #020;border-bottom:var(--border)}
#screenlog,#screenlog.expanded,#screenlog.collapsed {background:repeating-linear-gradient(180deg,rgba(0,16,0,.7) 2px,rgba(0,32,0,.6) 4px),url(images/hat.png) no-repeat scroll right bottom,var(--th),url("/viewstat.jsp?stat=[I2PSnark] InBps&showEvents=false&period=60000&periodCount=1440&end=0&width=2000&height=160&hideLegend=true&hideTitle=true&hideGrid=true") no-repeat,repeating-linear-gradient(180deg,rgba(0,0,0,.9) 2px,rgba(0,16,0,.6) 4px),#001000;background-size:100% 4px,80px auto,100%,calc(100% - 80px) calc(100% - 4px),100% 4px;background-position:center center,right bottom,center center,left bottom;background-blend-mode:darken,lighten,screen,luminosity,normal,normal;scrollbar-color:rgba(16,72,16,.8) #000800}
#screenlog:hover,#screenlog:focus {overflow:auto}
#screenlog:focus {box-shadow:inset 0 0 0 1px #930}
#screenlog a,#screenlog a:visited {font-weight:700;color:#2b2}
#screenlog a:hover {color:#f70}
#screenlog ul {margin:-1px 0 2px;padding:0 0 0 14px;list-style:none}
#screenlog li,#screenlog li a,#torrents tt,#ourDest tt {line-height:1.15;font-size:8.5pt;font-weight:700}
#screenlog li,#screenlog li a {line-height:1.28;text-shadow:0 0 1px #000,0 0 2px #000,0 0 3px #000,0 0 4px #001000}
#screenlog li {margin-left:-15px;opacity:.7}
#screenlog li:hover {opacity:1}
#screenlog li::before {width:16px;height:11px;display:inline-block;background:var(--bullet) no-repeat 2px bottom / 9px;filter:drop-shadow(0 0 1px #000);content:""}
#closelog,#expand,#shrink {position:sticky;top:-2px;z-index:10;float:right;font-size:0}
#closelog img,#expand img,#shrink img {margin:-5px -5px 4px 5px;padding:4px;width:11px;border:var(--border);border-right:1px solid transparent;border-top:none;box-shadow:var(--highlight),inset 0 0 2px 1px #030;background:rgba(0,0,0,.3);opacity:.7}
#closelog img {border-right:var(--border)}
#screenlog:focus #closelog img,#screenlog:focus #expand img,#screenlog:focus #shrink img {background:#000;opacity:1}
#closelog img:hover,#expand img:hover,#shrink img:hover {border:var(--border);border-top:none;box-shadow:var(--highlight),inset 0 0 0 2px rgba(255,96,0,.5);background:#000;opacity:1;filter:none}
#closelog:active img,#expand:active img,#shrink:active img {box-shadow:var(--btn_shadow_active);background:#f60}
#shrink {display:none}
.logshim {margin-top:-10px}
#screenlog + .logshim {margin-top:10px}

th,#showRatings {padding:3px 2px;white-space:nowrap;vertical-align:middle;font-size:9pt;border-top:var(--border);border-bottom:var(--border);background:var(--th)}
#addSection td:first-child,#createSection td:first-child,#commentInfo td:first-child,#userComments td:first-child {text-align:right}
#torrents th#torrentSort {text-align:right}
#pagenav,th.torrentETA,th.torrentDownloaded,th.torrentUploaded,th.RateDown,th.RateUp,th.SnarkTorrentAction {text-align:center}
#torrents {margin:-1px 0 0;border:1px solid #101}
#torrents thead {box-shadow:none}

/* filter bar*/
#filterResults,#filterResults td {animation:disappear .1s linear 2.5s both}
#torrents #filterResults td,#torrents #filterResults tr:hover td {padding:4px 8px 8px;text-align:center;vertical-align:middle;line-height:2.5;font-weight:700;font-style:italic;border-bottom:var(--border);background:linear-gradient(180deg,#002000,#001000)}
#torrents .noneLoaded,#torrents .noneLoaded:hover {font-size:10pt;font-weight:700;border-bottom:var(--border);background:#000}
#torrents .noneLoaded td,#torrents .noneLoaded:hover td {padding:10px;text-align:center;background:transparent}
.noneLoaded i {padding:15px 10px;display:inline-block;font-size:115%}

.infohash {font-family:var(--monospaced);color:#cc0;border-radius:2px;user-select:all}
.infohash::selection {color:#000;background:#0f0}
.torrentInfo .infohash::selection {background:#cc0;color:#000}
.torrentlink,.magnetlink,.torrentInfo .infohash {margin:0 2px 0 3px;padding:4px 5px 4px 3px;vertical-align:middle;border-radius:1px;box-shadow:var(--outline);background:var(--badge)}
.torrentlink:hover,.torrentlink:focus,.magnetlink:hover,.magnetlink:focus {box-shadow:var(--outline),inset 0 0 0 1px rgba(255,96,0,.5)}
.torrentlink {margin-right:-3px}
.torrentlink img:hover,.magnetlink img:hover {filter:none}
.torrentInfo .infohash {margin:0 2px;padding:6px 3px 6px 24px;display:inline-block;line-height:1;background:var(--hash) no-repeat 7px center / 14px,var(--badge)}
.magnetLabel {max-width:300px;display:inline-block;vertical-align:middle;white-space:nowrap;font-style:italic}
#torrents .infohash {margin-right:3px;padding:1px 5px 1px 17px;color:#000;background:#cc0 var(--hash2) no-repeat 3px center / 12px}
#torrents .infohash,.torrentInfo .infohash {display:inline-block;max-width:120px;white-space:nowrap;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;opacity:.8}
#torrents .infohash::selection {color:#ff0;background:#000}

.snarkNewTorrent {font-size:9pt}
.configTitle,.toggleview {margin:0 0 -3px;min-width:300px;display:inline-block;font-size:0;border:var(--border);border-radius:0 0 3px 3px;border-top:none;box-shadow:var(--highlight),inset 0 0 0 2px rgba(0,0,0,.1),0 1px 1px #000;background:linear-gradient(180deg,#001800,#000800 50%,#000)}
.iframed .configTitle,.iframed .toggleview {border-radius:0}
.configTitle {margin-bottom:-2px}
#configSection .configTitle:hover,.toggleview:hover,input.toggle_input:focus + .toggleview {background:linear-gradient(180deg,#030,#010 50%,#000);mix-blend-mode:exclusion;transition:ease all .1s}
.configTitle:hover a,.configTitle a:focus {color:#f60;transition:ease all .1s}
.configTitle:active,.toggleview:active {background:var(--th);box-shadow:var(--btn_shadow_active);transition:linear box-shadow .1s}
#trackers .snarkConfig .configTitle::before,.configPanel .configTitle::before {margin-right:3px;width:18px;height:18px;display:inline-block;vertical-align:middle;background:var(--configure) no-repeat scroll left calc(50% - 1px) / 16px;opacity:.8;content:""}
.configPanel .configTitle {margin:-1px -1px -14px;padding:8px;display:block;letter-spacing:0.2em;text-align:left;text-transform:uppercase;font-variant:normal;font-size:10.5pt;font-weight:700;border-top:var(--border);box-shadow:var(--highlight);background:linear-gradient(135deg,#000,#000800);mix-blend-mode:normal;filter:none;pointer-events:none}
.iframed .configPanel .configTitle {margin:-1px 0 -16px;border-left:none;border-right:none}
.snarkConfig {font-size:10pt;width:100%}
.snarkConfig i {padding-left:5px}
form {margin-bottom:0}
input.disabled,a.controld {opacity:.5;cursor:not-allowed}
#configs input[type=submit],.trackerconfig input[type=submit],input[name="savepri"] {text-transform:capitalize}
#setPriority input.disabled,#setPriority a.controld {display:none}
#addSection input,#createSection input {margin-top:0;margin-bottom:5px}
input[type=submit],input.disabled:hover,a.control {padding:7px 12px;min-width:95px;font-size:8.5pt;font-weight:700;text-align:center;color:#494;border:1px solid #000;border-radius:2px;background:var(--btn);filter:none}
input[type=submit]:hover,input[type=submit]:focus,a.control:hover,a.control:focus {color:#f60;border:1px solid #f60;box-shadow:var(--btn_shadow_hover);background-color:#000}
input[type=submit]:active,a.control:active {color:var(--ink);text-shadow:none;border:1px solid #f60;box-shadow:var(--btn_shadow_active);background:#f60}
input.disabled {color:#494;border:1px solid #000;box-shadow:var(--btn_shadow);pointer-events:none}
thead img {margin:0 2px;padding:0;border-radius:0;border:0 none transparent}
a img:hover,a:focus img {outline:none;filter:saturate(200%) drop-shadow(0 0 1px #f60) drop-shadow(0 0 2px #f30)}
thead a:active img {transform:scale(0.9)}
#torrents .torrentAction {white-space:nowrap;text-align:center}
#torrents td[colspan="10"] {white-space:normal}
input[type=text],input[type=password],textarea,select {box-sizing:border-box;line-height:1.3;font-size:8.5pt}
input[type=text],textarea[name="nofilter_newComment"] {padding:6px 7px;transition:ease box-shadow .1s}
input.r {text-align:right}
input[type=text]:hover,input.r:hover {cursor:text}
input[type=text]:focus,textarea:focus {color:var(--ink);border:1px solid #373;box-shadow:var(--highlight),inset 4px 4px 4px #000,0 0 0 1px rgba(255,96,0,.3);background:linear-gradient(180deg,#001800,#001000);transition:ease box-shadow .1s}
input[name="nofilter_commentsName"] {width:250px;overflow:hidden;text-overflow:ellipsis}
input[name="nofilter_commentsName"]:focus::placeholder {opacity:0}
.configPanel input[type=text],#configs select {margin-top:4px;margin-bottom:4px}
thead img,thead img:hover {max-height:20px;opacity:.8}
th a img,th a:visited img {opacity:1}
select {min-width:120px}
label {cursor:pointer}
input.default {width:1px;height:1px;visibility:hidden}
input[size="85"] {width:calc(100% - 170px)}
#addSection input,#createSection input {margin-left:5px}
select {margin:2px 4px 2px 0;padding:7px 24px 7px 7px;font-size:8pt}
textarea {padding:1px 4px 0;font-size:8pt;font-weight:700}
textarea:focus {color:var(--ink)}
.script {margin-top:-2px;display:inline-block;vertical-align:middle}
a.control,a.controld {margin:2px 4px 2px 0;padding:5px 10px 4px;border-radius:2px;text-align:left;font-weight:700;display:inline-block;color:#494;min-width:0}
a.control img,a.controld img,a.control:hover img,a.control img:hover {width:14px;height:14px;margin:0;padding:0;vertical-align:middle;filter:none}
a.control:hover img {filter:sepia(100%) hue-rotate(10deg)}
img {border:none;margin:0 3px 1px;vertical-align:middle;line-height:1}
img:hover {border:none}
input.trackername {width:100px}
input.trackerhome,input.trackerannounce {width:210px}

/* pagenav */
.pagenavcontrols > * {vertical-align:top}
.pagenavcontrols {padding:2px 10px;display:inline-block;vertical-align:middle;line-height:1.2;font-weight:700}
#pagenavtop.pagenavcontrols {padding:9px 0;display:block}
#pagenavbottom .pagenavcontrols img {margin:0 3px}
#pagenavbottom td {vertical-align:middle;text-align:center;border-top:var(--border)}
.pagenavcontrols img.disable,.pagenavcontrols img.disable:hover {opacity:.3}
.pagenavcontrols img {padding:2px;height:15px;display:inline-block;vertical-align:middle;border:1px solid #151;border-radius:1px;box-shadow:var(--highlight);background:linear-gradient(180deg,#030 50%,#010 50%)}
.pagenavcontrols a img:hover {background:linear-gradient(180deg,#050 50%,#000 50%);filter:none}
.pagenavcontrols img:active {box-shadow:inset 3px 3px 3px #000}
.pagenavcontrols img::before {content:"";display:inline-block;height:16px;width:14px;vertical-align:middle}
#pagecount {margin:-2px 6px 0;padding:5px 10px;display:inline-block;vertical-align:middle;color:#494;letter-spacing:.2em;text-shadow:0 1px 1px #000;border-radius:3px;box-shadow:inset 0 0 0 1px #010;background:linear-gradient(180deg,#131,#121)}
.pagenavcontrols:hover #pagecount {color:var(--ink);background:linear-gradient(180deg,#141,#121);mix-blend-mode:normal}

/* newtorrent tracker selection */
#trackerselect {margin:2px 5px 0;width:100%;width:calc(100% - 170px);min-width:460px;border:var(--border_soft)}
#trackerselect tr {border-left:var(--border_soft);border-right:var(--border_soft)}
#trackerselect tr:nth-child(n+2):hover td {box-shadow:none}
#trackerselect tr:nth-child(even) {background:#000800}
#trackerselect tr:nth-child(odd) td {background:#001000}
#trackerselect tr:nth-child(2n+2) td {background:#000800}
#trackerselect tr:last-child td {border-bottom:var(--border_soft)}
#trackerselect tr:first-child td {background:var(--th);border-bottom:var(--border_soft);font-weight:700}
#trackerselect tr:first-child td {font-weight:700}
#trackerselect td {padding:5px;text-align:center;color:#bb7}
#trackerselect tr:nth-child(n+2):hover td {color:var(--ink);background:#030}
#trackerselect td:first-child,#trackerselect td:last-child {width:40%;font-weight:400}
#trackerselect td:nth-child(n+2) {text-align:center}
#trackerselect td:last-child {text-align:left}
#trackerselect input {margin:3px}
#trackerselect a {display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.snarkNewTorrent td {padding:2px 3px}
.snarkNewTorrent td:nth-child(2),.snarkNewTorrent td:nth-child(3) {padding-right:5px;min-width:72px;font-weight:700}
.snarkNewTorrent td[rowspan="0"]{width:50%}
.snarkConfig tr:last-child {border:var(--border)}
.optbox[name="add_tracker_type"] {cursor:pointer}

#addSection table,#createSection table {background:none}
#addSection table,#createSection table:not(#trackerselect) {animation:fade-in .2s linear,slide-in .15s ease-out;will-change:transform}
.iframed #addSection table,.iframed #createSection table:not(#trackerselect) {animation:fade-in .15s linear;will-change:transform}
#addSection table[border="0"] {margin-bottom:10px}
#createSection table[border="0"] {margin-bottom:15px}
#createSection td:first-child,#addSection td:first-child {padding-right:5px;padding-left:5px;font-weight:700;width:120px}
#createSection td:nth-child(n+2),#addSection td:nth-child(n+2) {text-align:left}
.configPanel td:first-child {padding-right:10px;padding-left:5px;font-weight:700}
#addtracker td {padding-top:8px;padding-bottom:8px;border-top:var(--border);background:var(--th)}
.trackerconfig table {border:none}
.section,.mainsection,#createSection,#addSection,#configSection,.configPanel {background:#000;border:var(--border);text-align:center}
#createSection,#addSection,#configSection {box-shadow:inset 0 0 5px 2px #000}
.section,.mainsection {margin:0;padding:0;border-bottom:none}
#createSection,#addSection,#configSection,.configPanel,#snarkFiles,#commentSection,#editSection {background:repeating-linear-gradient(90deg,rgba(0,80,0,.1) 1px,rgba(0,16,0,.3) 2px,rgba(0,16,0,.3) 3px),repeating-linear-gradient(180deg,rgba(0,0,0,.8) 1px,rgba(0,16,0,.5) 2px,rgba(0,16,0,.5) 3px),linear-gradient(180deg,rgba(0,16,0,.4),rgba(0,0,0,.5)),url(/themes/console/dark/images/camotile2.png);background-size:4px 100%,100%,100%,175px}
#createSection {margin:-1px 0 0;padding:0 10px}
#addSection {margin:-1px 0 0;padding:0 10px}
.snarkAddInfo code {user-select:all}

/* torrents */
#snarkhead th {background:none}
#snarkhead tr {background:var(--title);background-size:4px 100%,100%}
#torrents th {text-align:center}
#torrents th.graphicStatus {padding-left:2px;text-align:left}
#torrents td {line-height:1.2;text-align:left;font-size:8pt}
#torrents td[colspan="10"] {padding:2px;color:#cc7}
#torrents td:empty,#torrents th:empty,#torrents tfoot tr:first-child th:empty {padding-right:0;padding-left:0;width:0;min-width:0}
#torrents tbody tr:last-child td {border-bottom:var(--border)}
#torrents td.torrentDetails img:not([src$="rateme.svg"]) {margin-top:-2px;margin-bottom:-2px;padding:4px;width:19px;height:19px}
#torrents tfoot th {font-weight:400}
#torrents tfoot tr:first-child th {padding:7px 4px;min-width:64px;vertical-align:middle;line-height:1.4;white-space:no-wrap;font-weight:700;background:transparent}
#torrents tfoot tr:first-child th:first-child {text-align:left}
#torrents tfoot th br {margin-left:20px;display:inline-block}
#torrents tfoot td:first-child {padding-left:0;text-align:left}
#torrents tfoot th {padding-bottom:4px;white-space:normal}
#torrents img {padding:0}
#torrents tt {display:inline-block;line-height:1.2;letter-spacing:.1em;font-weight:700}
#torrents th img {padding:1px}
#torrents thead img {opacity:.8}
#torrents thead img:hover {opacity:1}
#torrents tr:hover td,.dirInfo tr:hover,#trackerselect tr:nth-child(n+2):hover,.trackerconfig tr:nth-child(n+2):hover,.peerinfo:hover td,.peerinfo:hover + .debuginfo,
#torrents tbody td,.debuginfo.rowOdd td,.debuginfo.rowEven td {border-top:1px solid #001b00;border-bottom:1px solid #001b00}
#torrents tr:hover td,.dirInfo tr:hover,#trackerselect tr:nth-child(n+2):hover,.trackerconfig tr:nth-child(n+2):hover {background:#030}
#torrents .graphicStatus {padding-left:5px;padding-right:5px;width:1%;text-align:center}
#torrents td.graphicStatus {padding-left:2px}
td.graphicStatus img {margin-top:-3px;margin-bottom:-3px;width:auto;height:21px;display:inline-block;vertical-align:middle}
.peerCount {padding-left:0;padding-right:0;width:1%;min-width:50px;white-space:nowrap}
th.peerCount a img {margin-left:-5px}
.zero .peerCount b {display:none}
.peerCount .left,.peerCount .right {min-width:12px;display:inline-block}
.peerCount .left {padding-left:2px;text-align:left}
.peerCount .right {padding-right:2px;text-align:right}
.trackerLink,.torrentDetails {padding-left:0;padding-right:0;width:1%;white-space:nowrap;text-align:center;font-weight:700}
.trackerLink img,.torrentDetails img,.dirInfo td:first-child img {margin:0;padding:1px}
.trackerLink img {padding:4px;width:16px;height:16px;opacity:.7}
.trackerLink a:hover img,.trackerLink a:focus img,.torrentDetails a:hover img[src^="/i2psnark/.resources/icons/"]:not([src$="rateme.svg"]),.torrentDetails a:focus img[src^="/i2psnark/.resources/icons/"]:not([src$="rateme.svg"]),.commentDetails a:hover img,.commentDetails a:focus img {border-radius:1px;box-shadow:var(--outline),inset 0 0 1px 1px #930;background:linear-gradient(180deg,#030 50%,#010 50%);filter:none}
.trackerLink a:active img,.torrentDetails a:active img:not([src$="rateme.svg"]),.dirInfo td:first-child a:active img {box-shadow:var(--highlight),inset 0 0 1px 1px #f60,inset 3px 3px 3px 3px rgba(0,0,0,.8);transform:scale(.9)}
tr:hover .trackerLink img {opacity:1}
tr:not(:hover) .torrentName a,tr:not(:hover) .snarkFileName a {-webkit-text-stroke:2px rgba(0,0,0,.3)}
.rowOdd,.rowEven {background:var(--tr)}
.rowOdd td,.rowEven td {border-bottom:1px solid #000}
.rowOdd td,.rowEven td {color:#bb7}
.torrentName {padding-left:2px;line-height:.9}
.torrentName a,.dirInfo td.snarkFileName a {padding:4px 0;width:100%;display:inline-block;vertical-align:middle;font-weight:700}
.torrentName a:hover,.snarkFileName a:hover {border-radius:0 15px 15px 0;box-shadow:none;background:linear-gradient(90deg,rgba(0,0,0,.2),rgba(0,0,0,.3) 40%)}
.torrentName a:active,.snarkFileName a:active {box-shadow:inset 3px 3px 3px 3px rgba(0,0,0,.3)}
.torrentETA,.torrentDownloaded,.torrentUploaded {width:1%;white-space:nowrap;text-align:center}
.torrentETA:not(:empty),.torrentUploaded:not(:empty),.RateDown:not(:empty),.RateUp:not(:empty) {width:5%;min-width:40px;white-space:nowrap;font-weight:700}
.torrentETA:not(:empty) {padding-right:6px}
.RateUp:not(:empty),.RateDown:not(:empty),.torrentDownloaded:not(:empty),.torrentUploaded:not(:empty) {padding:0 3px;width:1%;white-space:nowrap;line-height:.9;color:#bb7}
.RateUp,.RateDown,.torrentUploaded {text-align:center}
.RateUp,.torrentUploaded {font-style:italic}
.torrentUploaded .left {min-width:12px}
.RateDown .left,.RateUp .left,.torrentUploaded .left,.RateDown .right,.RateUp .right,.torrentUploaded .right {min-width:22px;display:inline-block;text-align:left}
.RateDown .right,.RateUp .right,.torrentUploaded .right {min-width:40px;text-align:right}
.RateDown .choked .right,.RateDown .choked .left,.RateDown .idle .right,.RateDown .idle .left {text-align:center}
.choked,.unchoked {font-weight:700;font-style:italic;text-align:center}
.choked {color:#f00000}
.choked,.unchoked.idle {font-size:0;width:74px;display:inline-block;vertical-align:middle;text-align:center;line-height:0}
.choked .right,.choked .left,.idle .right,.idle .left {display:none}
.unchoked {color:#00f000}
.choked::after {background:#900}
.idle::after,.choked::after {width:8px;height:8px;display:inline-block;border-radius:50%;background:#373;content:""}
tfoot .RateDown:not(:empty)::before,tfoot .torrentDownloaded:not(:empty)::before,tfoot .RateUp:not(:empty)::before,tfoot .torrentUploaded:not(:empty)::before {margin-top:-3px;margin-right:-1px;display:inline-block;vertical-align:middle;line-height:0;font-size:90%;font-style:normal;text-shadow:0 0 1px #010}
tfoot .RateDown:not(:empty)::before,tfoot .torrentDownloaded:not(:empty)::before {content:"\27A4";transform:rotate(90deg) scaleX(0.6)}
tfoot .RateUp:not(:empty)::before,tfoot .torrentUploaded:not(:empty)::before {content:"\27A4";transform:rotate(-90deg) scaleX(0.6)}
.torrentDownloaded {text-align:center;white-space:nowrap;font-weight:700}
.torrentUploaded {padding-right:6px}
.torrentUploaded .left {min-width:12px}
.snarkFileName {padding:4px 5px;word-break:break-all;text-align:left}
.torrentETA {padding-right:2px;font-style:italic;color:#dd7}
.downloading.active td#torrents .torrentAction {background:linear-gradient(to left,#3c3,#3c3 2px,transparent 2px)}
.downloading.active:hover td#torrents .torrentAction {background:linear-gradient(to left,#3c3,#3c3 2px,#030 2px)}
.seeding.active td#torrents .torrentAction {background:linear-gradient(to left,#f64384,#f64384 2px,transparent 2px)}
.seeding.active:hover td#torrents .torrentAction {background:linear-gradient(to left,#f64384,#f64384 2px,#030 2px)}
.tooltipped {display:inline-block;position:relative;z-index:99;white-space:nowrap;content:""}
.tooltipped:hover::before,.tooltipped:active::before {margin-left:-10px;top:calc(50% - 6px);left:30px;border-width:6px;border-style:solid;border-color:transparent #000 transparent transparent;content:"";animation:fade-in .1s ease 3s reverse both}
.tooltipped:hover::after,.tooltipped:active::after {padding:3px 6px;top:-3px;left:32px;border:1px solid #000;border-radius:3px;box-shadow:var(--highlight);background:#000;content:attr(data-tooltip);animation:fade-in .1s ease 3s reverse both}
.tooltipped:hover::before,.tooltipped:active::before,.tooltipped:hover::after,.tooltipped:active::after {position:absolute;display:inline-block}
.inactivity {margin-left:15px;height:4px;min-width:5px;max-width:400px;display:inline-block;border-radius:3px;box-shadow:0 0 0 1px #010;background:repeating-linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0) 15px,rgba(0,0,0,.6) 15px,rgba(0,0,0,.6) 16px,rgba(0,0,0,0) 16px),linear-gradient(180deg,rgba(255,255,255,.3) 50%,rgba(0,0,0,.3) 50%),linear-gradient(90deg,#770 60px,#900)}
.inactivity[style="width:0px;"],.inactivity[style="width:1px;"],.inactivity[style="width:2px;"],.inactivity[style="width:3px;"],.inactivity[style="width:4px;"],.inactivity[style="width:5px;"] {display:none}
.choked .left {display:none}
#totals {margin-left:3px;display:inline-block;white-space:nowrap;font-weight:700}
.snarkFiletype {position:relative;vertical-align:middle}
.snarkCommented {position:absolute;display:inline-block;z-index:20;top:-2px;right:3px;line-height:0;font-size:0}
.snarkCommented img {padding:0;width:auto;height:11px;position:absolute;top:-2px;right:-2px;filter:drop-shadow(0 0 1px #101) drop-shadow(0 0 2px rgba(128,128,0,.3))}

/* table sort indicators */
.sortIcon {position:relative}
.sortIcon:hover .ascending,.sortIcon:hover .descending {transform:rotate(180deg);transition:linear transform .1s}
.ascending,.descending {position:absolute;top:-2px;right:-8px;display:inline-block;border-width:4px;border-style:solid;border-color:transparent transparent #252 transparent}
.descending {top:2px;border-color:#252 transparent transparent transparent}
.sortIcon:hover .ascending {top:2px;border-color:transparent transparent #f60 transparent}
.sortIcon:hover .descending {top:-2px;border-color:#f60 transparent transparent transparent}
#torrentSort .ascending,th#torrentSort .descending {right:-11px}

/* action buttons */
#torrents .torrentAction {padding:1px;width:1%;white-space:nowrap;text-align:center}
#torrents .torrentAction input {margin:1px 2px;padding:11px;min-width:0;min-height:0;float:none;vertical-align:middle;font-size:0;border:1px solid #262;border-radius:1px;box-shadow:var(--highlight);background-position:center center;opacity:.75;cursor:pointer;will-change:transform}
#torrents .actionStart {background:var(--start) no-repeat center center / 14px,var(--btnAction),var(--start_hover) no-repeat center center / 14px}
#torrents .actionStart:hover,#torrents .actionStart:focus {background:var(--start_hover) no-repeat center center / 14px,var(--btnAction_hover)}
#torrents .actionStop {background:var(--stop) no-repeat center center / 14px,var(--btnAction),var(--stop_hover) no-repeat center center / 14px}
#torrents .actionStop:hover,#torrents .actionStop:focus {background:var(--stop_hover) no-repeat center center / 14px,var(--btnAction_hover)}
#torrents .actionRemove {background:var(--remove) no-repeat center center / 14px,var(--btnAction),var(--remove_hover) no-repeat center center / 14px}
#torrents .actionRemove:hover,#torrents .actionRemove:focus {background:var(--remove_hover) no-repeat center center / 14px,var(--btnAction_hover)}
#torrents .actionDelete {background:var(--delete) no-repeat center center / 14px,var(--btnAction),var(--delete_hover) no-repeat center center / 14px}
#torrents .actionDelete:hover,#torrents .actionDelete:focus {background:var(--delete_hover) no-repeat center center / 14px,var(--btnAction_hover)}
#torrents #actionStopAll,#torrents #actionStartAll {padding:11px 19px}
#torrents #actionStopAll {background:var(--stopall) no-repeat center center / auto 14px,var(--btnAction),var(--stopall_hover) no-repeat center center / auto 14px}
#torrents #actionStartAll {background:var(--startall) no-repeat center center / auto 14px,var(--btnAction),var(--startall_hover) no-repeat center center / auto 14px}
#torrents #actionStartAll:hover,#torrents #actionStartAll:focus {background:var(--startall_hover) no-repeat center center / auto 14px,var(--btnAction_hover)}
#torrents #actionStopAll:hover,#torrents #actionStopAll:focus {background:var(--stopall_hover) no-repeat center center / auto 14px,var(--btnAction_hover)}
#torrents .torrentAction input:hover,#torrents .torrentAction input:focus {border:1px solid #f60;opacity:1;transition:ease box-shadow .1s;background-blend-mode:normal}
#torrents .torrentAction input:active {box-shadow:var(--highlight),inset 3px 3px 3px #000;transform:scale(0.9);transition:ease transform .05s;filter:none}

/* percent bars */
tr:hover .percentBarText {opacity:1}
.dirInfo .fileStatus img {margin:0}
.percentBarOuter {margin:1px auto;border:1px solid #020;border-radius:1px;box-shadow:0 0 0 1px rgba(0,0,0,.8),var(--highlight),inset 0 2px 2px 2px rgba(0,0,0,.5);background:repeating-linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0) 7px,rgba(0,48,0,.6) 7px,rgba(0,48,0,.6) 8px,rgba(0,0,0,0) 8px) #010;background-size:400%;opacity:1}
.peerinfo .percentBarOuter,.peerinfo .percentBarInner {height:10px}
.peerinfo.active .percentBarOuter {background:repeating-linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0) 7px,rgba(0,32,0,.6) 7px,rgba(0,32,0,.6) 8px,rgba(0,0,0,0) 8px),linear-gradient(90deg,#000400,#010)}
.active.downloading .percentBarOuter,.peerinfo.active .percentBarOuter,.dirInfo .volatile .percentBarOuter {border:1px solid #030;animation:ease downloading .3s forwards}
.active.downloading:not(.peerinfo) .percentBarOuter {background:repeating-linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0) 7px,rgba(0,16,0,.6) 7px,rgba(0,16,0,.6) 8px,rgba(0,0,0,0) 8px),linear-gradient(to left,rgba(0,255,0,.2),rgba(255,255,0,.2),rgba(255,0,0,.2)) #010}
.percentBarInner,.uploaded {height:100%;border-right:1px solid #020;border-radius:1px;box-shadow:var(--highlight);background:linear-gradient(180deg,rgba(148,148,148,.2),rgba(47,47,47,.2) 70%,rgba(27,27,27,.2),rgba(17,17,17,.4) 100%),rgba(0,64,0,.4)}
.uploaded {padding:2px 2px 0;min-width:68px;display:inline-block;position:relative;text-align:center;line-height:1.3;border:1px solid #141;border-left-width:5px;box-shadow:var(--highlight),inset 0 3px 3px rgba(0,0,0,.6);background:repeating-linear-gradient(90deg,#000,#000 10%,#020 10%,#020 20%)}
.active.seeding .uploaded {background:repeating-linear-gradient(90deg,#000,#000 5%,#141 5%,#141 10%);background-size:200%;animation:uploading .5s linear 4s 1 reverse}
.txBarInner {height:calc(100% - 2px);display:inline-block;position:absolute;top:1px;left:1px;box-shadow:var(--outline),inset 0 3px 3px rgba(0,0,0,.6);background:linear-gradient(0deg,rgba(80,192,0,.25),rgba(48,154,0,.3))}
.txBarInner[style="width: calc(100% - 2px)"] {box-shadow:var(--outline),inset 0 7px 7px 1px rgba(255,255,255,.15)}
.active.seeding .txBarInner {background:linear-gradient(0deg,rgba(170,170,0,.3),rgba(255,160,0,.3))}
.txBarText {position:relative;z-index:5;font-weight:700;text-shadow:0 1px 1px #000}
.active.downloading .percentBarInner {border-right:1px solid #030;background:linear-gradient(180deg,rgba(148,148,148,.4),rgba(47,47,47,.2) 50%,rgba(27,27,27,.4) 50%,rgba(17,17,17,.3) 100%) center center,repeating-linear-gradient(135deg,rgba(255,128,0,.3),rgba(0,16,0,.8) 1px,rgba(0,16,0,.8) 4px,rgba(255,128,0,.3) 5px,rgba(0,64,0,.3) 5px,rgba(0,64,0,.3) 10px) left center;background-size:400%;animation:progress 1s 3s linear forwards}
.peerinfo.inactive .percentBarInner {background:#030}
.peerinfo.active .percentBarInner {background:repeating-linear-gradient(135deg,rgba(0,16,0,.8) 1px,rgba(0,16,0,.8) 5px,rgba(0,64,0,.8) 6px,rgba(0,64,0,.8) 11px)}
.peerSeed img {font-size:0;opacity:.7;transform:scale(1)}
.active .peerSeed img {opacity:1;animation:scale .2s linear 3s 2 forwards}
.peerinfo .RateDown .left,.peerinfo .RateDown .right,.peerinfo .RateUp .left,.peerinfo .RateUp .right {opacity:.5;text-shadow:0 0 1px #000}
.peerinfo .RateDown.ten .left,.peerinfo .RateDown.ten .right,.peerinfo .RateUp.ten .left,.peerinfo .RateUp.ten .right {opacity:.75}
.RateDown.hundred .left,.RateDown.hundred .right,.RateUp.hundred .left,.RateUp.hundred .right {opacity:1}
.percentBarText,.percentBarOuter {width:110px;display:inline-block;vertical-align:middle;text-align:center}
.dirInfo .percentBarOuter {display:inline-block}
.dirInfo .percentBarText,.dirInfo .percentBarOuter,.peerinfo .percentBarText,.peerinfo .percentBarOuter {width:84px}
.percentBarText {height:1em;line-height:1;text-align:center;font-weight:700;margin:auto;padding:1px 4px 1px 2px;white-space:nowrap;display:block;color:#dfd137;opacity:0;text-shadow:0 0 1px rgba(0,0,0,.8);transition:ease opacity .15s}
.percentBarComplete {padding:2px 0 3px;width:84px;max-width:84px;display:inline-block;line-height:1.3;vertical-align:middle;text-align:center;text-shadow:0 1px 1px #000;border-radius:15px;box-shadow:inset 0 0 0 1px rgba(0,0,0,.7),inset 0 0 2px 1px rgba(0,48,0,.6);background:var(--badge)}
.active.seeding .percentBarComplete {box-shadow:inset 0 0 0 1px rgba(0,0,0,.7),inset 0 0 0 2px rgba(16,64,16,.5);background:radial-gradient(at center bottom,rgba(16,72,16,.4) 0,rgba(0,0,0,0) 40%),linear-gradient(180deg,#030,#000400);animation:ease-in seeding .5s forwards}
.rowOdd:not(.peerinfo) .torrentDownloaded .percentBarText,.rowEven:not(.peerinfo) .torrentDownloaded .percentBarText {padding:3px 10px;width:auto;min-width:100px;display:inline-block;position:relative;top:-18px;left:-18px;border-radius:2px;background:#000;filter:drop-shadow(0 0 1px #151)}
.rowOdd.inactive:not(.peerinfo) .torrentDownloaded .percentBarText,.rowEven.inactive:not(.peerinfo) .torrentDownloaded .percentBarText {color:#777;filter:drop-shadow(0 0 1px #555)}
.rowOdd:not(.peerinfo) .torrentDownloaded .percentBarInner,.rowEven:not(.peerinfo) .torrentDownloaded .percentBarInner,.rowOdd:not(.peerinfo) .torrentDownloaded .percentBarOuter,.rowEven:not(.peerinfo) .torrentDownloaded .percentBarOuter {max-height:15px;max-width:84px}
.torrentDownloaded .percentBarText::after {margin-left:-7px;position:absolute;top:90%;left:50%;border-width:7px;border-style:solid;border-color:#000 transparent transparent transparent;content:""}

/* peers */
.peerinfo tt {margin:0 8px 0 0;padding:1px 4px;float:left}
#torrents .peerinfo .torrentDownloaded {text-align:center}
#torrents .peerinfo:hover td:first-child {background:#030 var(--peer) no-repeat 9px center / 18px}
.peerinfo:hover .percentBarText {opacity:.8;font-size:95%}
.peerinfo,.debuginfo.rowOdd,.debuginfo.rowEven {background:linear-gradient(90deg,#000800 70%,#000d00)}
.peerinfo td:first-child {background:var(--peer) no-repeat 9px center / 18px}
.peerinfo td,.debuginfo td {padding-top:4px;padding-bottom:4px}
.peerinfo td:first-child::before,.debuginfo td:first-child::before {min-height:28px;display:inline-block;vertical-align:middle;content:""}
.peerclient {margin:3px 0;padding:1px;border-radius:1px;background:#000;box-shadow:0 0 0 1px #020}
.peerclient,.peerinfo tt,.clientid {display:inline-block;vertical-align:middle;line-height:1.2}
.peerinfo tt {margin:0;padding:2px 9px 2px 5px;font-size:85%;color:#bb0;border-radius:4px 0 0 4px;background:none}
.clientid {margin-left:-8px;padding:2px 4px;width:57px;display:inline-block;overflow:hidden;white-space:nowrap;vertical-align:middle;text-overflow:ellipsis;font-size:85%;text-align:center;background:var(--badge)}
.clientVersion {display:none}
.peerinfo td > * {vertical-align:middle}
.peerdata {padding-left:0}
#ourDest {margin-left:4px;padding:1px 0 1px 4px;display:inline-block;line-height:1.1;border:1px solid #020;border-radius:1px;box-shadow:var(--highlight);background:var(--badge)}
#ourDest tt {margin:0 1px 0 4px;padding:2px 4px 2px 6px;display:inline-block;line-height:1.2;color:#bb0;text-shadow:0 1px 1px #000;border-radius:0 1px 1px 0;background:#010}

/* debug */
.debuginfo td:first-child,.debuginfo:hover td:first-child {background:var(--debuginfo) no-repeat center center / 14px}
.debuginfo td:nth-child(2) {padding-left:0}
.debuginfo b {text-transform:capitalize}
hr.debug {margin:1px 0 -5px;width:100%;background:linear-gradient(90deg,#000700,#131,#000700);display:none}
#debugMode {margin-top:-2px;padding:8px;display:inline-block;vertical-align:middle;line-height:0;box-sizing:border-box;font-size:0;background:var(--debug) no-repeat center center;opacity:0}
#debugMode:hover {opacity:1}
#torrents #dhtDebug th {text-align:center}

/* priority */
.priority {width:1%;max-width:160px;vertical-align:middle;font-size:8pt}
.priority::after {content:"";display:inline-block;min-height:30px;vertical-align:middle}
.priority input[type=radio] {margin:3px}
.priorityHigh {background:url(/i2psnark/.resources/icons/clock_red.png) no-repeat left 26px center / 18px}
.priorityNormal {background:url(/i2psnark/.resources/icons/clock.png) no-repeat left 26px center / 18px}
.prioritySkip {background:url(/i2psnark/.resources/icons/block.png) no-repeat left 26px center / 18px}
.priorityHigh,.priorityNormal,.prioritySkip {display:inline-block;width:52px;color:transparent;font-size:0;overflow:hidden;text-align:left;vertical-align:middle}

/* comments */
#commentInfo #newRating {background:var(--th)}
#commentInfo #newRating td {border-left:var(--border);box-shadow:var(--bevel)}
#commentInfo #addCommentText {padding:0}
#commentInfo,#userComments,#mediaContainer {margin:10px 0 0;border:var(--border);border-left:none;border-right:none;background:#010 url(/themes/console/dark/images/camotile2.png) repeat scroll center bottom;filter:drop-shadow(0px 0 1px rgba(16,8,16,.7))}
#userComments {margin-top:-1px;border-top:1px solid #151}
#userComments th {text-align:left}
#commentInfo th,#userComments th {padding:8px 5px;white-space:normal}
#commentInfo th {padding:2px 5px 2px 30px;text-align:left;background:var(--comment) no-repeat 8px center / 14px,var(--th)}
#commentInfo tr:nth-child(even),#userComments tr:nth-child(odd) {background:rgba(0,16,0,.9)}
#commentInfo tr:nth-child(odd),#userComments tr:nth-child(even) {border-top:1px solid #000;background:rgba(0,32,0,.9)}
#commentInfo td,#userComments td {padding:8px 5px}
#commentInfo td:first-child {white-space:nowrap;font-weight:700}
#commentInfo td:first-child::after,#userComments td:first-child::after {min-height:22px;vertical-align:middle;display:inline-block;content:""}
#commentInfo td.commentAction {padding:10px 6px 10px 10px;border-left:var(--border)}
#commentInfo input.accept {margin-right:5px;float:right}
#commentInfo th input[type=submit] {float:none;display:inline-block;vertical-align:middle}
#commentInfo th input[type=checkbox] {margin-left:4px;margin-right:4px}
#commentInfo textarea {margin:1px auto -2px;width:calc(100% - 2px);height:64px;min-height:64px;resize:vertical}
#commentInfo textarea:focus {filter:none}
.commentRating,.commentAuthor {width:1%}
td.commentRating {padding-left:2px;padding-right:0;width:80px;white-space:nowrap}
.commentRating img {margin:0;padding:0;width:16px;height:16px}
.commentDate {padding-left:20px;width:105px;background:url(images/clock.png) no-repeat left center}
#commentInfo td:first-child,#userComments td:first-child {width:160px;min-width:160px}
.commentAuthor {padding-right:0;text-align:left}
.commentAuthorName {padding:0 0 0 22px;vertical-align:middle;font-weight:700;border-radius:2px;background:var(--user) no-repeat 4px center / 14px}
td .commentAuthorName {margin:0 0 0 4px;padding:0 4px 0 22px;min-width:120px;max-width:120px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;text-align:left;font-size:90%;border:1px solid #002800;box-shadow:var(--outline);background:var(--user) no-repeat 4px center,linear-gradient(180deg,rgba(0,48,0,.5),rgba(0,16,0,.5));background-size:14px,100%}
.commentText {width:90%;text-align:left;white-space:normal}
.commentText:empty + .commentDelete {background:none}
#commentsConfig .optbox {vertical-align:middle}
#userComments select {margin-right:0}
#userComments #commentDeleteAction {border-top:var(--border);box-shadow:var(--bevel);background:var(--th)}
#userComments #commentDeleteAction td {padding:10px 9px 8px}
.commentAction,.commentDelete {padding-left:0;width:1%;white-space:nowrap}
.addCommentText,.commentText {padding-right:0}
#commentSection .commentDelete {padding:8px 6px 8px 24px;text-align:left;background:var(--nuke) no-repeat 2px center;background-size:16px}
#newRating td {padding-top:10px;padding-bottom:10px;border-top:var(--border)}
#newRating select {width:90%}
#myRating {border-top:var(--border);border-bottom:var(--border)}
#myRating td:empty {padding:0;border-top:none;border-bottom:none;display:none}
#myRating td:empty::after {min-height:1px}
.commentRating img {padding:0;width:14px;height:14px;color:#ff7200;text-shadow:0 0 1px #900;filter:none}
#commentstoggle {margin-left:10px;display:inline-block;vertical-align:middle}
#commentstoggle input {margin:0;display:inline-block;line-height:1;font-size:90%}
#nameRequired,.commentAuthorName {display:inline-block;vertical-align:middle;line-height:28px}
#nameRequired {margin-right:5px;float:right}
#metacomment {padding:0;line-height:1.4;text-align:justify}
.commentWrapper {border:var(--border_soft);margin:2px 0;padding:12px 20px;box-shadow:var(--bevel);background:#010}
#metacomment .commentWrapper {margin:5px 4px}
#showRatings td[colspan] {text-align:left}

/* files */
#snarkFiles table {margin-bottom:-1px}
.snarkFilename .targetfile,.snarkFilename:hover .tags,.snarkFileName a:empty {display:none}
.snarkFilename:hover .targetfile {display:inline-block}
.thumb {max-height:32px;box-shadow:0 0 0 1px #030;background:#000}
.thumb:hover,tr:hover .thumb {box-shadow:0 0 0 1px #930;filter:none}
audio,video {padding:1px;width:240px;border:1px solid #000;box-shadow:inset 0 0 0 1px #131;background:#000}
audio {height:28px}
.audioPreview {padding:0 4px;white-space:nowrap;border-radius:3px;background:#001800}
audio:hover,video:hover,audio:focus,video:focus {box-shadow:inset 0 0 0 1px #f60}
video:fullscreen,video:fullscreen:hover,video:fullscreen:focus {padding:none;box-shadow:none}
video::-webkit-media-controls-timeline {padding:0 16px 16px}
audio::-webkit-media-controls-enclosure {border-radius:0;filter:invert(1)}
::-webkit-media-controls-panel,::-internal-media-controls-button-panel {position:relative;z-index:10}
video::-webkit-media-controls-panel {display:none}
video:hover::-webkit-media-controls-panel,video:focus::-webkit-media-controls-panel {display:flex}
#mediaContainer {margin-top:-1px}
#mediaContainer th {padding:10px 5px 10px 30px;background:url(/i2psnark/.resources/icons/film.png) no-repeat 8px center,linear-gradient(180deg,#000a00 50%,#000 50%)}
#mediaContainer th.audio {background:url(/i2psnark/.resources/icons/music.png) no-repeat 8px center,linear-gradient(180deg,#000a00 50%,#000 50%)}
#mediaContainer td {padding:20px 15px;text-align:center}
#mediaContainer audio,#mediaContainer video {width:auto;max-width:100%}

/* details */
.ParentDir {padding:4px 0 4px 5px;font-size:8pt;text-align:left;border:var(--border);border-left:0;border-right:0;background:#000}
.ParentDir.playlist {padding-right:10px}
.ParentDir a {font-weight:700;white-space:nowrap}
.ParentDir img {padding-left:3px}
#torrentInfoStats td {text-align:left;border-top:1px solid #000}
#torrentInfoStats td:nth-child(2) {padding:6px 2px;text-align:left}
#torrentInfoStats img,#trackers img,.torrentInfo th:first-child img {margin:0 4px 0 1px;display:inline-block;vertical-align:middle}
#torrentInfoStats img[src$="head_tx.png"],#torrentInfoStats img[src$="head_rx.png"] {margin-right:2px}
#torrentInfoStats span:not(#metainfo) {margin-right:6px;display:inline-block;white-space:nowrap}
.torrentInfo input[type=submit] {min-width:85px}
#torrentInfoControl td,#setPriority th {padding:8px;text-align:right;box-shadow:var(--row_highlight);background:none}
#torrentInfoControl td {text-align:left}
#torrentOrderControl {float:right}
#enableInOrder {margin-left:4px;margin-right:16px}
#setPriority th {padding:8px}
.torrentInfo img {margin:1px 0 1px 2px;max-height:16px;vertical-align:text-bottom}
.torrentInfo th,.torrentInfo td {line-height:1.8}
.torrentInfo th {padding:6px 8px;text-align:left;border-top:none}
.torrentInfo th:first-child img {vertical-align:middle}
.torrentInfo th:last-child {padding-right:8px;width:1%;white-space:nowrap;text-align:right}
.torrentInfo td {vertical-align:middle;text-align:left}
.torrentInfo td > * {vertical-align:middle}
.torrentInfo td:first-child {padding:5px 8px}
.torrentInfo b {margin-right:3px}
.torrentInfo {border-bottom:var(--border);background:url(/themes/console/dark/images/camotile2.png) repeat scroll center bottom #010}
.torrentInfo tr:nth-child(even),#torrentEdit tr:nth-child(even) {background:#001000}
.torrentInfo tr:nth-child(odd),#torrentEdit tr:nth-child(odd) {background:#001a00}
.torrentInfo tr {border-bottom:1px solid #000}
.torrentInfo tr:nth-last-child(2) {border-bottom:var(--border)}
.dirInfo {margin-top:10px;margin-bottom:5px;border-bottom:var(--border)}
.dirInfo tr:last-child td {border-bottom:var(--border)}
.dirInfo tr:last-child {border-bottom:var(--border)}
.dirInfo tr:hover .fileStatus img {mix-blend-mode:normal}
.dirInfo thead img {margin-right:2px;padding:3px 2px}
.dirInfo th img {margin:0;max-height:20px;padding-top:3px;padding-bottom:3px}
.dirInfo tr:first-child th img:first-child {margin-right:5px}
.dirInfo th:nth-child(2) {text-align:center;width:32px}
.dirInfo td {min-width:0}
.dirInfo th:first-child {padding-left:8px;text-align:left}
.dirInfo td:first-child {padding-left:4px;text-align:left}
.dirInfo td:first-child img {margin:0 2px;padding-right:6px}
.dirInfo td:first-child a:hover img:not(.thumb),.dirInfo td:first-child a:focus img:not(.thumb) {box-shadow:var(--outline),inset 0 0 0 1px #930;filter:none}
.dirInfo .ParentDir a,.dirInfo .snarkFileName a,#torrents .torrentName a {padding:2px 0;width:100%;display:inline-block}
.dirInfo .ParentDir img {width:16px}
.dirInfo .headerpriority {text-align:center;vertical-align:middle}
#setPriority,#torrentInfoControl,.commentAction[colspan="5"] {border-top:var(--border);border-bottom:var(--border);background:var(--th)}
td.subHeaderPriority,td.priority {padding:0 5px 0 0;width:0;min-width:36px;text-align:center}
tr.priority:last-child {border-bottom:none}
td.priority:last-child {padding-right:5px;padding-left:5px;text-align:right;white-space:nowrap}
td.subHeaderPriority {padding:0 1px;font-size:7.5pt;font-weight:700;background-image:linear-gradient(180deg,#030,#020 50%,#000 51%);text-align:center}
th.headerdownloaded {padding-left:25px}
.headerpriority br {display:none}
.headerpriority img {padding:4px}
.page #snarkInfo ~ .mainsection {margin:10px 0;border-bottom:var(--border)}
.iframed .page #snarkInfo ~ #snarkFiles,.iframed .page #snarkInfo ~ #commentSection {margin:-11px 0 10px;border-bottom:var(--border)}
.page #snarkInfo ~ .mainsection:last-child,.iframed .page #snarkInfo ~ .mainsection#commentSection {margin-bottom:-7px}
#snarkInfo ~ .mainsection input:not(:checked) + .toggleview {margin-bottom:5px}
#snarkInfo ~ .mainsection input:checked + .toggleview {margin-bottom:-5px}
#snarkInfo ~ #commentSection input:not(:checked) + .toggleview,#snarkInfo ~ #snarkFiles input:not(:checked) + .toggleview {margin-bottom:-2px}
#completion {position:relative}
#metainfo {padding:4px 9px 4px 7px;text-align:left;border:var(--border_soft);box-shadow:var(--highlight),inset 0 0 1px 1px #141,0 0 2px 2px rgba(0,0,0,.3);background:#000}
#completion:not(:hover) #metainfo {display:none}
#completion:hover #metainfo {display:inline-block;position:absolute;top:28px;left:-120px}
#completion #metainfo img {margin:0 4px 0 0}
.datetime b {min-width:84px;display:inline-block}
.datetime span {padding:0 6px;min-width:240px;display:inline-block;text-align:center;box-shadow:var(--outline);background:var(--badge)}
.headerstatus {text-align:center}
.snarkFileSize {padding-right:10px;white-space:nowrap}
.fileStatus {padding:4px 10px;width:1%;overflow:hidden;white-space:nowrap;font-weight:400;font-style:italic;text-align:center;color:#bb7}
td.fileStatus {background:rgba(0,32,0,.2)}
.fileIcon {padding:0;width:16px}
.fileStatusIcon {padding:0 4px 0 0;width:24px;text-align:center}
.fileStatus img[src*="clock"] {mix-blend-mode:normal}
.priorityIndicator {margin-right:5px;display:none}
.info_tracker {margin:3px 2px;padding:2px 6px 2px 18px;max-width:155px;display:inline-block;white-space:nowrap;vertical-align:middle;line-height:1.4;overflow:hidden;text-overflow:ellipsis;color:#484;box-shadow:var(--outline);background:var(--tracker) no-repeat left 2px center / 14px,var(--badge);background-blend-mode:luminosity,normal}
.info_tracker a[href*=".b32.i2p"] {margin-right:-2px;max-width:85px;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.info_tracker:hover,.info_tracker:hover a {color:#f60}
.info_tracker:hover {box-shadow:0 0 0 1px rgba(200,80,0,.7);background:var(--tracker_hover) no-repeat left 2px center / 14px,linear-gradient(180deg,#020 50%,#000 50%);background-blend-mode:normal,normal;transition:ease all .15s}
.info_tracker:active,.info_tracker:active a {color:#fff}
.info_tracker:active {color:#fff;box-shadow:0 0 0 1px #f60,inset 3px 3px 3px #420;background:#f60 var(--tracker_active) no-repeat left 3px center / 14px}

/* configure */
.configOption {padding:2px 4px;display:inline-block;vertical-align:middle;text-align:left;white-space:nowrap;width:calc(100% - 20px)}
.configOption::after {height:36px;display:inline-block;vertical-align:middle;content:""}
#configSection table {color:#ffb}
#configSection a {text-shadow:0 1px 1px #000;font-weight:700}
#configSection a:hover {color:#f60;text-decoration:none}
.optionlist {margin:0 0 -24px;padding:8px 6px;box-shadow:inset 0 0 0 2px #000;background:repeating-linear-gradient(180deg,rgba(0,0,0,.5) 1px,rgba(0,16,0,.3) 2px,rgba(0,16,0,.3) 3px),linear-gradient(180deg,rgba(0,17,0,.7),rgba(0,6,0,.7)),url(/themes/console/dark/images/camotile2.png);transition:ease-in-out .5s box-shadow;columns:400px 3;column-gap:20px}
.optionlist:hover {box-shadow:inset 0 0 0 1px rgba(95,95,0,.8);transition:ease-in-out .5s box-shadow}
.snarkConfig input[type=submit] {margin:3px 2px 3px 5px;text-align:center;min-width:100px}
#configs input[type=submit] {margin-right:0}
#configs a[href^="/config"] {font-size:0}
#configs a[href^="/config"]::after {margin:-7px 0 2px -3px;padding:2px;content:"";display:inline-block;width:16px;height:16px;vertical-align:middle;border:1px solid transparent;border-radius:2px;background:var(--configure) no-repeat center center / 16px}
#configs a[href^="/config"]:hover::after {border:var(--border);background:var(--configure) no-repeat center center / 16px,linear-gradient(180deg,#050 50%,#010 50%)}
#configs a[href^="/config"]:active::after {border:1px solid #f60;box-shadow:inset 3px 3px 2px 1px #000;background:#020 var(--configure) no-repeat center center / 12px;transform:scale(.9);transition:none}
.snarkConfig table tr:first-child {border-top:var(--border)}
#configs td:first-child {padding-left:15px;line-height:.8;width:25%}
#configs .spacer,.trackerconfig .spacer {display:none}
.configPanel td[colspan="5"] {border-top:var(--border)}
.snarkConfig tr:nth-last-child(2),.snarkConfig tr:hover:nth-last-child(2) {background:none}
.snarkConfig tr:nth-last-child(2) td,#configs td[colspan="5"] {text-align:right;padding:11px 15px 0;border-top:var(--border)}
.snarkConfig tr {border:none}
#configSection {margin:-11px 0 0;padding:0 10px 12px}
.configPanel {margin:-1px 0 0;padding:0}
.mainsection + form > .configPanel:first-child {margin-top:9px}
.knownTracker input[type=radio],.knownTracker input[type=radio][disabled],.knownTracker input[type=radio]:hover,.knownTracker input[type=radio]:focus {opacity:.3;cursor:default}
.knownTracker input[type=radio]:checked,.knownTracker input[type=radio]:checked:hover {opacity:.5}
.knownTracker input[type=radio][disabled],.knownTracker input[type=radio][disabled]:hover {opacity:.1}
#filecheck {margin:5px 0;padding-left:22px;display:inline-block;background:var(--progressbar) no-repeat left center}
#filecheck a {margin-left:8px;display:inline-block}
#configs {margin:-2px 0 0;user-select:none}
#configs tr:nth-last-child(2) td {padding:11px 10px 10px;text-align:right}
#configs tr:nth-last-child(2) {box-shadow:var(--row_highlight)}
#configs th {padding:8px;font-size:10pt;text-align:left;background:linear-gradient(180deg,#020,#000)}
#configs th.suboption::before {margin:-2px 3px 0 2px;width:20px;height:20px;display:inline-block;vertical-align:middle;background:url(/i2psnark/.resources/icons/stalled.svg) no-repeat center center / 20px;content:"";filter:saturate(.3) brightness(1.2)}
#configs td,#configs td:first-child {padding:0}
#configs td {min-width:0;vertical-align:middle;text-align:left;font-weight:400}
#configs td:nth-child(2) {white-space:nowrap}
#configs td b,#torrentOrderControl b {margin-right:5px;padding:7px 10px 8px;display:inline-block;min-width:160px;color:#aa6;text-align:right;border-radius:15px 5px 5px 15px;box-shadow:0 0 0 1px rgba(0,0,0,.5),inset 0 0 0 1px #002000;background:linear-gradient(180deg,#001900,#000900);opacity:.9;transition:ease all .3s}
#configs td label b:hover,#torrentOrderControl b:hover {color:#bb7;opacity:1;transition:ease all .3s}
#configs td:first-child::after {content:"";display:inline-block;vertical-align:middle}
#configs a {font-weight:700}
#configs input,#configs select {margin:0 4px 0 3px;vertical-align:middle;will-change:transform}
#configs select {margin-left:2px}
#configs input.r:focus {text-align:center}
input[name="nofilter_commentsName"],input[name="i2cpOpts"],input[name="nofilter_dataDir"] {width:calc(100% - 194px)}
input[name="nofilter_commentsName"] {max-width:248px}
.numeric {min-width:0;width:70px}
.numeric:focus {text-align:center}
.numeric:disabled {opacity:.5;cursor:not-allowed}
 #torrentOrderControl b {line-height:1}
#snarkLang {margin:0 3px;padding:7px 10px;display:inline-block;vertical-align:middle;color:#ff7;font-weight:700;text-align:center;text-shadow:0 1px 1px #557;border-radius:4px;background:#030}

/* tracker config */
.trackerconfig {margin-bottom:0;text-align:left}
.trackerconfig th {min-width:50px}
.trackerconfig th,#trackerselect tr:first-child td {padding-top:7px;padding-bottom:7px}
.trackerconfig th:first-child {text-align:center;background:var(--nuke) no-repeat center right 10px / 16px,var(--th)}
.trackerselect tr:first-child td,#addSection tr:first-child td {white-space:nowrap}
.trackerconfig th:last-child,.trackerconfig td:last-child {padding-left:10px}
.trackerconfig tr:nth-child(odd),.snarkConfig tr:nth-child(odd) {background:#000900}
.trackerconfig tr:nth-last-child(2),#configs tr:nth-last-child(2) {border:var(--border);box-shadow:var(--row_highlight);background:var(--th)}
.trackerconfig tr:nth-child(even),.snarkConfig tr:nth-child(even) {background:#010}
.trackerconfig th,.trackerconfig td,.trackerconfig th:last-child,.trackerconfig td:last-child {text-align:left}
.trackerconfig td,.snarkConfig td {padding:5px 1px}
.trackerconfig td:first-child {padding:5px 2px 5px 10px;width:24px;text-align:center}
.trackerconfig tr:nth-last-child(2) td {padding:9px 8px 7px}
.trackerconfig td:nth-child(4),.trackerconfig td:nth-child(5),.trackerconfig td:nth-child(6) {text-align:center}
.trackerconfig input {margin:3px 0}
.trackerconfig .delete,.trackerconfig .reload {float:left}
.trackerconfig input.delete {margin-left:3px;margin-right:5px}
.trackerhome,.trackerannounce {width:260px}
.knownTracker a {width:220px;max-width:220px;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}

/* tooltip */
#bwHelp {margin-left:-184px;padding:15px 15px 15px 55px;width:320px;display:block;position:absolute;bottom:125%;left:0;z-index:999;visibility:hidden;white-space:normal;text-align:center;font-size:10pt;font-weight:700;border-radius:3px;background:#030 url(/i2psnark/.resources/icons/favicon.svg) no-repeat 10px center / 28px;opacity:0;filter:drop-shadow(0 0 1px #000);will-change:transform}
#bwHoverHelp:hover #bwHelp {visibility:visible;text-align:center;color:#fff;opacity:1;transition:ease opacity .3s}
#bwHelp a {white-space:nowrap}
#bwHoverHelp {position:relative;display:inline-block}
#bwHoverHelp img {width:0;height:0}
#bwHoverHelp:hover + #bwHelp {padding:20px;width:100%;display:block;position:fixed;top:48px;left:0;z-index:9999;float:left;white-space:nowrap;text-align:center;font-size:12pt;border-bottom:5px solid #212;border-top:5px solid #212;box-shadow:0 1px 3px #101;background:#313}
#bwHoverHelp::before {margin:0 -6px 0 4px;width:20px;height:20px;display:inline-block;vertical-align:middle;background:var(--infocircle) no-repeat center calc(50% - 1px) / 18px;content:"";opacity:.8}

/* language overrides */
.lang_fr .optionlist,.lang_hu .optionlist,.lang_in .optionlist,.lang_it .optionlist,.lang_sk .optionlist,.lang_nl .optionlist,.lang_pl .optionlist,.lang_pt .optionlist,.lang_ro .optionlist,.lang_sv .optionlist,.lang_tr .optionlist,.lang_uk .optionlist {columns:500px auto;column-gap:5px}
.lang_de .optionlist,.lang_es .optionlist,.lang_fr .optionlist,.lang_ru .optionlist {columns:600px auto;column-gap:5px}
.lang_it #configs td b,.lang_sk #configs td b {min-width:180px}
.lang_nl #configs td b,.lang_sv #configs td b,.lang_in #configs td b {min-width:210px}
.lang_hu #configs td b,.lang_pl #configs td b,.lang_tr #configs td b {min-width:220px}
.lang_de #configs td b,.lang_fr #configs td b,.lang_pt #configs td b,.lang_ro #configs td b {min-width:250px}
.lang_uk #configs td b {min-width:260px}
.lang_es #configs td b {min-width:280px}
.lang_ru #configs td b,.lang_es #configs td b {min-width:300px}
.lang_it #configs input[name="nofilter_dataDir"],.lang_it input[name="i2cpOpts"],.lang_it input[name="nofilter_commentsName"],.lang_sk #configs input[name="nofilter_dataDir"],.lang_sk input[name="i2cpOpts"],.lang_sk input[name="nofilter_commentsName"] {width:calc(100% - 200px)}
.lang_in #configs input[name="nofilter_dataDir"],.lang_in input[name="i2cpOpts"],.lang_in input[name="nofilter_commentsName"],.lang_nl #configs input[name="nofilter_dataDir"],.lang_nl input[name="i2cpOpts"],.lang_nl input[name="nofilter_commentsName"],.lang_sv #configs input[name="nofilter_dataDir"],.lang_sv input[name="i2cpOpts"],.lang_sv input[name="nofilter_commentsName"] {width:calc(100% - 230px)}
.lang_hu #configs input[name="nofilter_dataDir"],.lang_hu input[name="i2cpOpts"],.lang_hu input[name="nofilter_commentsName"],.lang_pl #configs input[name="nofilter_dataDir"],.lang_pl input[name="i2cpOpts"],.lang_pl input[name="nofilter_commentsName"],.lang_tr #configs input[name="nofilter_dataDir"],.lang_tr input[name="i2cpOpts"],.lang_tr input[name="nofilter_commentsName"] {width:calc(100% - 240px)}
.lang_de #configs input[name="nofilter_dataDir"],.lang_de input[name="i2cpOpts"],.lang_de input[name="nofilter_commentsName"],.lang_fr #configs input[name="nofilter_dataDir"],.lang_fr input[name="i2cpOpts"],.lang_fr input[name="nofilter_commentsName"],.lang_pt #configs input[name="nofilter_dataDir"],.lang_pt input[name="i2cpOpts"],.lang_pt input[name="nofilter_commentsName"],.lang_ro #configs input[name="nofilter_dataDir"],.lang_ro input[name="i2cpOpts"],.lang_ro input[name="nofilter_commentsName"] {width:calc(100% - 270px)}
.lang_uk #configs input[name="nofilter_dataDir"],.lang_uk input[name="i2cpOpts"],.lang_uk input[name="nofilter_commentsName"] {width:calc(100% - 280px)}
.lang_es #configs input[name="nofilter_dataDir"],.lang_es input[name="i2cpOpts"],.lang_es input[name="nofilter_commentsName"] {width:calc(100% - 300px)}
.lang_ru #configs input[name="nofilter_dataDir"],.lang_ru input[name="i2cpOpts"],.lang_ru input[name="nofilter_commentsName"] {width:calc(100% - 320px)}

/* embed mode */
#embed,#fullscreen {margin:-1px -1px -1px 0;padding:2px 8px;vertical-align:middle;float:right;font-size:8.5pt;border:1px solid #030;border-radius:2px;box-shadow:var(--highlight),var(--outline)}
#embed:hover,#embed:focus,#fullscreen:hover,#fullscreen:focus {background:linear-gradient(180deg,#020 50%,#000 50%)}
#embed:active,#fullscreen:active {box-shadow:var(--btn_shadow_active);background:#020}
#fullscreen {display:none}
.iframed #embed {display:none}
.iframed #fullscreen {display:inline-block}

/* torrent filter bar */
#torrentDisplay {margin:-1px 0 -1px;padding:0;display:block;position:sticky;top:44px;z-index:500;border:var(--border);border-left:none;border-right:none;box-shadow:var(--highlight);;background:linear-gradient(180deg,rgba(0,0,0,0) 50%,#000 50%),repeating-linear-gradient(90deg,rgba(0,0,0,.5) 1px,rgba(0,16,0,.5) 2px,rgba(0,16,0,.5) 3px),linear-gradient(180deg,#004000,#000 75%);background-size:100%,4px 100%,100%}
.iframed #torrentDisplay {margin:-1px 0;position:static}
#torrentDisplay input {width:0;height:0;position:absolute;z-index:-1;opacity:0}
#torrentDisplay label {padding:2px 10px;min-width:80px;display:inline-block;font-weight:700;font-size:9pt;color:#494;text-shadow:0 1px 1px #000;border-right:var(--border);box-shadow:var(--highlight);background:var(--btnAction)}
#torrentDisplay label[for="all"] {border-left:var(--border)}
#torrentDisplay label:hover {color:#d50;background:radial-gradient(at center bottom,rgba(255,96,0,.2),rgba(0,0,0,0) 80%),var(--btnAction_hover)}
#torrentDisplay label:active,#torrentDisplay input:checked + label {color:#b40;text-shadow:none;box-shadow:var(--highlight),inset 2px 2px 2px rgba(0,0,0,.7);background:radial-gradient(at center bottom,rgba(255,96,0,.2),rgba(0,0,0,0) 40%),linear-gradient(180deg,#100800,#200800)}
#torrentDisplay input:checked + label {color:#3b3;text-shadow:0 0 1px #000,0 1px 2px #010;background:radial-gradient(at center bottom,rgba(16,72,16,.3),rgba(0,0,0,0) 50%),linear-gradient(180deg,#000a00,#020);pointer-events:none}
#filtercount:not(:empty){margin-left:4px;padding:0 3px;min-width:18px;display:inline-block!important;line-height:1.1;font-size:90%;box-shadow:0 0 0 1px #010,0 0 0 1px rgba(16,92,16,.7) inset;background:var(--badge)}
#filtercount+#filtercount,#torrentDisplay input:not(:checked)+label>#filtercount,label[for="all"] #filtercount{display:none!important}

/* sections */
.iframed #configSection,.iframed #trackers,.iframed .mainsection#snarkInfo {margin-bottom:-6px}
.iframed #configSection {border-radius:0 0 4px 4px}
#mainsection + #lowersection > #configSection {margin-top:-1px}
#mainsection + #lowersection #createSection + #configSection {margin-top:-11px;padding-bottom:14px}
#navbar,#createSection,#addSection,#configSection,.configPanel,.optionlist,.routerdown {box-shadow:var(--highlight),inset 0 0 1px 1px #252}

/* torrent edit */
#editSection hr {margin-bottom:0}
#torrentEdit {margin:10px 0 0}
#torrentEdit tr:not(:last-child):hover {background:#030}
#torrentEdit th,#torrentEdit td {padding:8px 10px;width:25%;text-align:center;border-top:var(--border_soft);border-bottom:var(--border_soft)}
#torrentEdit th:first-child:not([colspan]),#torrentEdit td:first-child {width:20%;text-align:right}
#torrentEdit th:nth-child(2),#torrentEdit td:nth-child(2) {width:30%;text-align:left}
#torrentEdit .header th {text-align:left}
#addCommentText {padding:18px 20px;text-align:center;border-bottom:var(--border)}
#torrentEdit textarea {margin:0;width:100%;height:80px;min-height:80px;resize:vertical}
#torrentEdit textarea[readonly],#torrentEdit textarea[readonly]:focus {border:var(--border_soft)}
#torrentEdit tfoot td:first-child {padding:14px 20px;text-align:center;font-weight:700;font-style:italic;background:var(--th)}
#torrentEdit tfoot input {margin-right:0;float:right}
#torrentEdit .info_tracker {padding-left:22px;min-width:80px;text-align:left;background-position:6px center}
#torrentEdit .info_tracker,#torrentEdit .info_tracker a {font-size:95%;font-weight:700;color:#97b897;pointer-events:none}

/* toggle panels */
input.toggle_input {
position:absolute;opacity:0;z-index:-1;height:0;width:0}
.toggleview:hover,input.toggle_input:focus + .toggleview {color:#f60;cursor:pointer}
input:not(:checked) + .toggleview + hr + table,input:not(:checked) + .toggleview + hr + table + table {display:none}
input:checked + .toggleview + hr + table,input:checked + .toggleview + hr + table + table {display:table}
.toggleview,.configTitle a:visited {color:#7c7}

/* tabs */
#dhtDebugPanel .toggleview:hover {mix-blend-mode:normal}
#dhtDebugPanel .toggleview:active {border-top:var(--border);margin-top:-1px}
.toggleview,#configSection .configTitle {min-width:340px;text-align:center;will-change:transform}
.toggleview,#configSection .configTitle a {font-size:0}
.configTitle a {display:inline-block;width:100%}
.tab_label::after {margin:3px;padding:3px;width:18px;height:18px;display:inline-block;vertical-align:middle;border:2px solid #000;border-radius:50%;box-shadow:0 0 1px 1px rgba(32,0,48,.5);background-size:16px,100%;content:"";mix-blend-mode:luminosity;pointer-events:none;will-change:transform}
.toggleview:hover .tab_label::after,#tab_config:hover .tab_label::after {mix-blend-mode:normal;filter:drop-shadow(0 0 1px #f30)}
.toggleview:active .tab_label::after,#tab_config:active .tab_label::after {transform:rotate(90deg) scale(.9);transition:ease transform .01s}
input:checked + .toggleview:active .tab_label::after {box-shadow:0 0 0 2px rgb(153,51,0,.7);filter:drop-shadow(0 0 1px #930);transform:rotate(-90deg) scale(.9);transition:linear transform .01s}
#tab_addtorrent .tab_label::after {background:var(--add) no-repeat scroll center center / 16px,var(--tabIcon)}
#tab_newtorrent .tab_label::after {background:var(--create) no-repeat scroll center center / 16px,var(--tabIcon)}
#tab_config .tab_label::after {background:var(--config) no-repeat scroll center center / 16px,var(--tabIcon)}
#tab_files .tab_label::after {background:var(--folder) no-repeat scroll center center / 16px,var(--tabIcon)}
#tab_comments .tab_label::after {background:var(--comment) no-repeat scroll center center / 16px,var(--tabIcon)}
#tab_torrentedit .tab_label::after {background:var(--edit) no-repeat scroll center center / 16px,var(--tabIcon)}

/* router down */
.routerdown {padding:15px;font-size:120%;text-shadow:0 0 1px #000;border-bottom:var(--border);background:repeating-linear-gradient(90deg,rgba(0,80,0,.1) 1px,rgba(0,16,0,.3) 2px,rgba(0,16,0,.3) 3px),repeating-linear-gradient(180deg,rgba(0,0,0,.8) 1px,rgba(0,16,0,.5) 2px,rgba(0,16,0,.5) 3px),url(/themes/console/dark/images/camotile2.png) repeat top left}
.routerdown span {display:none}
.routerdown::after {width:40px;height:40px;display:inline-block;background:var(--offline) no-repeat center center / 40px;content:"";animation:linear spin 5s reverse infinite}

/* inline notifications */
.notify {margin-bottom:-2px;background:var(--row),var(--bg_dots)}

/* Resource Errors */
.resourceError {margin-bottom:0;border:none}
.resourceError th {padding:10px 10px 10px 40px;font-size:10pt;border:none;border-bottom:var(--border);background:var(--err) no-repeat left 10px center / 24px,var(--th)}
.resourceError tr:nth-child(odd) {background:#010}
.resourceError tr:nth-child(even) {background:#000900}
.resourceError td {padding:10px;border:none;font-size:10pt}
.resourceError td:first-child {padding-right:0;width:5%;min-width:80px;white-space:nowrap;text-align:right}
#DoesNotExist {margin-top:10px;border:none;border-bottom:var(--border)}
#DoesNotExist th {border-top:var(--border)}
#NotFound {border-bottom:var(--border)}

/* animation */
@keyframes bar {from {width:100%}}
@keyframes disappear {from {visibility:visible} to {visibility:collapse}}
@keyframes downloading {from {border:1px solid #050}}
@keyframes fade-in {0%,20% {filter:opacity(0)} 100% {filter:opacity(1)}}
@keyframes progress {0%,100% {background-position:center center,left center} 50% {background-position:center center,-20px center}}
@keyframes scale {0%,100% {transform:scale(1)} 50% {transform:scale(1.3)}}
@keyframes seeding {from {box-shadow:inset 0 0 0 1px rgba(0,0,0,.7),inset 0 0 3px 3px rgba(64,72,0,.7);background:radial-gradient(at center bottom,rgba(64,72,0,.7) 0,rgba(0,0,0,0) 50%),linear-gradient(180deg,#030,#000200)}}
@keyframes slide-in {0% {transform:translateY(-50px)} 100% {transform:translateY(0)}}
@keyframes spin {from {transform:rotate(360deg)}}
@keyframes uploading {from {background-position:left center} to {background-position:20% center}}

/* browser specific */
@supports (justify-content:center) {#navbar {display:flex;justify-content:center} .snarkNav,.snarkNav:visited {margin-left:0;margin-right:0}}
@supports not (-moz-appearance:none) {.percentBarText {padding:0}.iframed .percentBarText,.iframed .percentBarText:hover,.iframed .percentBarText:focus {transition:none} .page,.configPanel,#setPriority,#torrentInfoControl,.commentAction[colspan="5"] {background:repeating-linear-gradient(90deg,rgba(0,0,0,.4),rgba(0,0,0,.4) 2px,rgba(0,32,0,.4) 3px),repeating-linear-gradient(180deg,rgba(0,0,0,.8),rgba(0,16,0,.5) 1px,rgba(0,16,0,.5) 2px),url(/themes/console/dark/images/camotile2.png) #000;background-blend-mode:normal} .debuginfo,.debuginfo td:last-child {border-right:var(--border)}}

/* responsive layout */
@media screen and (max-width:1499px) {
#expand img,#shrink img {padding-top:6px}
#torrents .torrentAction input {padding:11px;background-size:13px,100%,13px}
#pagenavtop.pagenavcontrols {padding:7px 0 5px}
#torrents #actionStopAll,#torrents #actionStartAll {padding:11px 18px}
#torrents .infohash {padding-left:15px;max-width:60px;background-size:11px}
.torrentInfo .infohash {padding:5px 3px 8px 7px;background:var(--badge)}
.torrentlink,.magnetlink {padding:7px 5px 3px 3px}
.magnetLabel {max-width:240px;overflow:hidden;text-overflow:ellipsis}
.trackerLink {padding:0;width:0;min-width:0;font-size:0}
.trackerLink img {display:none}
.rowOdd:not(.peerinfo) .torrentDownloaded .percentBarText,.rowEven:not(.peerinfo) .torrentDownloaded .percentBarText {top:-16px}
.peerCount {padding-right:5px}
.peerCount b {padding:2px 4px;min-width:48px;display:inline-block;vertical-align:middle;text-align:center;background:var(--badge)}
}

@media screen and (max-width:1199px) {
.clientid {padding:2px 4px 0;line-height:1.8}
.configPanel .snarkConfigtitle {font-size:11pt}
.dirInfoComplete {display:none}
.fileStatus img[src*="clock"] {margin-top:4px}
.knownTracker a,#trackerselect a {display:inline-block;max-width:210px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.percentBarOuter {margin:2px auto}
.percentBarText,.percentBarOuter {width:100px}
td.graphicStatus img {padding-left:2px}
#configs td:first-child::after {min-height:24px}
td#bwHelp a {margin-left:2px}
#torrentDisplay label {font-size:8.5pt}
#torrents #actionStopAll,#torrents #actionStartAll {margin-top:0;padding:10px 16px}
#torrents .torrentAction input {padding:10px;background-size:12px,100%,12px}
#trackerselect a {max-width:300px}
}

@media screen and (max-width:1100px) {
#configs td:first-child {min-width:200px}
.fileStatus img[src*="clock"] {margin-top:6px}
.dirInfo .percentBarText,.dirInfo .percentBarOuter {padding:0;width:60px}
.torrentName a {max-width:300px}
.magnetLabel {max-width:200px}
}

@media screen and (max-width:1000px) {#closelog img::after {height:8px}
.canhide {display:none}
#torrentDisplay {display:flex}
#torrentDisplay label {min-width:0;flex-grow:1}
#torrentDisplay label:first-child,#torrentDisplay label[for="all"] {border-left:none}
#torrentDisplay label:last-child {border-right:none}
.newTab {margin:-1px 4px 0}
#trackerselect tr:first-child td {font-size:8pt}
.torrentUploaded,.torrentUploaded:empty {width:0;max-width:0;min-width:0;padding:0;font-size:0;color:transparent}
.torrentUploaded > * {display:none}
}

@media screen and (max-width:950px) {#torrents td:nth-child(2) {white-space:nowrap}
#torrents td[colspan="10"] {white-space:normal}
b.alwaysShow {display:none}
#torrents td:first-child img {max-height:19px}
.percentBarComplete {padding:3px 0 2px}
#tab_addtorrent .tab_label::after,#tab_newtorrent .tab_label::after,#tab_config .tab_label::after {width:14px;height:14px;background-size:14px,100%}
}

@media screen and (max-width:840px) {.snarkNav.nav_main:not(:last-child),.snarkNav.nav_forum {white-space:nowrap;padding-left:8px;text-indent:-99999px;width:13px}
}

/* mini-mode */
@media screen and (max-width:800px) {
.page {min-width:650px}
#navbar {min-width:648px}
.torrentETA a img,.trackerLink a img {display:none}
.graphicStatus {padding-left:2px;max-width:20px}
th.graphicStatus {padding-left:5px}
.graphicStatus img {width:20px}
.peerCount a,.peerCount a:hover,.peerCount a:focus,.peerCount a:active {color:#bb7;cursor:default}
tr:hover .peerCount a,tr:hover .peerCount a:hover,tr:hover .peerCount a:focus,tr:hover .peerCount a:active {color:var(--ink)}
.torrentName a {max-width:200px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#torrents th img,#torrents th img,#torrents th a:hover img {max-height:18px}
th.peerCount img {display:none}
th#torrentSort {text-align:center}
.torrentUploaded,.RateUp,.peerinfo,.debuginfo,.alwaysShow {display:none}
.percentBarText {padding:1px 0;line-height:1;font-size:8pt}
.torrentDetails {padding-left:8px}
.torrentETA,.trackerLink {padding:0;width:0;max-width:0;min-width:0;overflow:hidden;font-size:0;color:transparent}
.torrentDetails {padding-left:3px}
#totals {margin-left:2px}
#addSection td:first-child,#createSection td:first-child {width:20%}
.toggleview,#configSection .configTitle {width:280px;min-width:280px}
.snarkConfigSection .configTitle {font-size:10pt}
.trackerconfig a,.trackerconfig input[type=text] {max-width:150px}
#trackerselect td a {max-width:200px}
.torrentInfo {margin-bottom:-11px;position:relative;z-index:10;border-bottom:none}
.torrentInfo th {padding-top:4px;padding-bottom:4px}
.torrentInfo th:nth-child(2) {padding-left:5px;border-bottom:var(--border)}
.dirInfo td.fileStatus {font-size:0;text-align:center}
.dirInfo td.fileStatus .percentbarText {font-size:7pt}
th a img {max-height:16px}
#configs {margin-top:6px}
#configs #bwhelp {font-size:0;background:none}
#configs tr:nth-child(n+17) {display:none}
#configs tr:nth-last-child(2) {display:table-row}
#configs tr {border:none}
#addSection input[type=text],#createSection input[type=text] {width:65%}
#commentInfo td:first-child,#userComments td:first-child {width:120px;max-width:120px;min-width:120px}
td .commentAuthorName {margin-left:1px;min-width:84px;max-width:84px}
#userComments .commentDelete {padding-left:0;background:none}
.iframed .configPanel .configTitle {padding-bottom:6px}
}

@media screen and (min-width:1000px) {
#torrents .torrentAction {padding-left:4px;padding-right:3px}
.torrentName {padding-right:3px}
.torrentDownloaded {padding-left:9px;padding-right:9px}
.torrentETA:not(:empty),.RateUp:not(:empty),.torrentUploaded:not(:empty),.RateDown:not(:empty) {padding-right:8px;padding-left:8px}
#userComments td {white-space:nowrap}
}

@media screen and (min-width:1100px) {
body,#torrents td,.snarkAddInfo,th,td,code,textarea,input,input[type=submit],input[type=reset],select,button,a {font-size:9pt}
#torrents td {padding-top:3px;padding-bottom:3px}
.dirInfo td,#torrents .peerinfo td {padding-top:4px;padding-bottom:4px}
.torrentInfo td {padding-top:6px;padding-bottom:6px}
#configs td:first-child {min-width:220px}
#totals {word-spacing:2px}
}

@media screen and (min-width:1200px) {
.iframed #navbar {padding-bottom:8px}
.snarkNav {font-size:11pt}
.snarkNav,.snarkNav:hover,.snarkNav:focus,.snarkNav:active {padding-left:24px;background-size:16px,100%}
.snarkNav:first-child {padding-left:25px}
#torrents thead th {padding-top:4px;padding-bottom:5px;border-bottom:var(--border)}
th.torrentUploaded img {display:none}
th.torrentUploaded a img {display:inline-block}
.configPanel .snarkConfigtitle {font-size:12pt}
.trackerLink {padding-left:6px}
.torrentDownloaded {padding:0 8px;white-space:nowrap;text-align:center}
.percentDownloaded {pointer-events:none}
#configs td:first-child::after {min-height:26px}
#configs a {margin-left:4px;white-space:nowrap}
.configPanel .configTitle,.configPanel .configTitle:hover,.configPanel .configTitle:active {font-size:11pt}
.trackerconfig th:last-child,.trackerconfig td:last-child {padding-left:50px}
.trackerhome,.trackerannounce,.knownTracker a {width:300px;max-width:300px}
.trackerconfig input.trackername {max-width:180px;width:180px}
td.peerCount b {padding:4px 3px;min-width:104px;display:inline-block;position:relative;line-height:1;text-align:center;font-size:95%;color:#eee;text-shadow:0 1px 1px #000;-webkit-text-stroke:0;border-radius:2px;background:#ac5390;filter:drop-shadow(0 0 1px #000)}
td.peerCount b .left,td.peerCount b .right {margin:0 1px;padding:2px 3px 1px;min-width:38px;display:inline-block;text-align:center;color:#eee;border-radius:1px;box-shadow:0 0 0 1px rgba(16,0,16,.5),inset 2px 2px 2px rgba(0,0,0,.3);background:linear-gradient(180deg,rgba(32,0,32,.3),rgba(16,0,16,.3))}
.nopeers td.peerCount b .left,.nopeers td.peerCount b .right {color:#101;text-shadow:0 1px 1px #aaa}
td.peerCount b a:hover .left,td.peerCount b a:hover .right {min-width:32px;color:#f60;background:linear-gradient(180deg,rgba(220,80,0,.3),rgba(255,96,0,.3))}
td.peerCount b .right {margin-left:0}
td.peerCount b .left {margin-right:0}
td.peerCount b a:hover .right {margin-left:-9px}
td.peerCount b::before {width:0;height:0;position:absolute;top:calc(50% - 5px);left:-10px;border-width:5px;border-style:solid;border-color:transparent #ac5390 transparent transparent;content:""}
td.peerCount b a {color:#fff}
td.peerCount b a:hover,td.peerCount b a:focus {color:#f60}
td.peerCount b a:hover::after {width:0;height:0;position:absolute;right:5px;bottom:calc(50% - 2px);border-color:transparent transparent #fff transparent;border-style:solid;border-width:3px;content:""}
td.peerCount b a[href*="?p="]:hover::after {top:calc(50% - 2px);border-color:#fff transparent transparent transparent}
td.peerCount b:hover a:hover::after,td.peerCount b:hover a:focus::after {border-color:transparent transparent #f60 transparent}
td.peerCount b:hover a[href*="?p="]:hover::after,td.peerCount b:hover a[href*="?p="]:focus::after {border-color:#f60 transparent transparent transparent}
.active.seeding.complete .peerCount b {background:repeating-linear-gradient(135deg,#937,#937 8px,#826 9px,#826 17px)}
.active.seeding.complete .peerCount b::before {border-color:transparent #937 transparent transparent}
.active.downloading .peerCount b {background:repeating-linear-gradient(135deg,#252,#252 8px,#141 9px,#141 17px)}
.active.downloading .peerCount b::before {border-color:transparent #252 transparent transparent}
.inactive.downloading .peerCount b,.active.starting.processing .peerCount b {color:#101;background:#bb0}
.inactive.downloading .peerCount b,.peerCount b .right,.peerCount b .left {text-shadow:0 1px 1px #222}
.inactive.downloading .peerCount b::before,.active.starting.processing .peerCount b::before {border-color:transparent #bb0 transparent transparent}
.stopped.complete .peerCount b {background:#28f}
.stopped.complete .peerCount b::before {border-color:transparent #28f transparent transparent}
.nopeers.incomplete .peerCount b {background:#aaa}
.nopeers.incomplete .peerCount b::before {border-color:transparent #aaa transparent transparent}
.stopped.incomplete .peerCount b,.inactive.neterror .peerCount b {background:#900}
.stopped.incomplete .peerCount b::before,.inactive.neterror .peerCount b::before {border-color:transparent #900 transparent transparent}
}

@media screen and (min-width:1500px) {
body,#torrents td,.snarkAddInfo,th,td,code,textarea,input,input[type=submit],input[type=reset],input[type=text],select,button,a {font-size:10pt}
#screenlog li,#screenlog li a,#ourDest tt,#screenlog,#screenlog a {font-size:9pt}
#addSection,#createSection,#configSection {margin-left:-11px;margin-right:-11px}
#screenlog {margin:-11px -11px 0}
#closelog,#expand,#shrink {margin-top:-4px}
#closelog img,#expand img,#shrink img {margin-top:-1px;padding:5px 6px}
.iframed #closelog,.iframed #expand,.iframed #shrink {margin-top:-1px}
.configOption::after {height:40px}
#configSection .configTitle,.toggleview {min-width:380px}
#configSection {margin-bottom:-11px}
.debugConnection {line-height:1.5}
.iframed #addSection,.iframed #createSection,.iframed #configSection {margin-left:0;margin-right:0}
.iframed .page #snarkInfo ~ .mainsection {margin:-11px 0 10px}
.iframed #screenlog {margin:0;position:static}
.iframed #snarkInfo + #snarkFiles {margin-top:-11px}
.iframed #torrents {margin-bottom:0}
.optionlist {margin-bottom:-28px}
.page {padding:10px;border:var(--border)}
.peerCount .left {margin-left:2px}
.peerCount .right {margin-right:2px}
.percentBarComplete {padding-top:4px;padding-bottom:2px}
.routerdown {margin-bottom:10px}
.snarkNav,.snarkNav:hover,.snarkNav:focus,.snarkNav:active {background-size:17px,100%}
.snarkNav {margin-top:0;font-size:11pt}
#torrents th.graphicStatus img {margin-left:3px}
td.graphicStatus img {margin-top:-3px;margin-bottom:-3px;height:24px}
th.peerCount a img {margin-left:-20px}
.torrentDownloaded,.torrentUploaded,.RateDown,.RateUp {min-width:76px}
#torrentinfostats img,#trackers img {margin:-3px 5px 0;max-height:18px}
.RateUp:not(:empty),.RateDown:not(:empty) {min-width:80px}
.torrentInfo th:first-child img {margin:-3px 3px 0 1px;max-height:16px}
.torrentName a,.snarkFileName a,.torrentName:hover a,.snarkFileName:hover a {margin:-2px 0;border-radius:2px 20px 20px 2px;background:linear-gradient(90deg,rgba(0,0,0,0),rgba(0,16,0,.3))}
.torrentName:active a,.snarkFileName:active a {box-shadow:inset 4px 4px 4px rgba(0,8,0,.8)}
.torrentUploaded,.RateDown,.RateUp {min-width:76px;text-align:center}
.trackerLink,.torrentDetails {width:1%}
.trackerhome,.trackerannounce,.knownTracker a {width:400px;max-width:400px}
.trackerhome,.trackerannounce,.knownTracker a {width:400px;max-width:400px}
#configs td:first-child::after {min-height:28px}
#torrents {margin-bottom:11px}
#torrents td.torrentDetails img:not([src$="rateme.svg"]),.dirInfo td:first-child img:not(.thumb) {width:22px;height:22px}
#torrents td.trackerLink img {padding:5px;width:19px;height:19px}
#torrents td.torrentDetails img[src$="rateme.svg"] {margin-top:-1px;margin-right:-2px;width:12px;height:12px}
#torrents thead img {margin:1px;max-height:22px}
#torrents .torrentAction {padding:1px 3px}
#torrents .torrentName {padding-left:5px}
#torrentInfoStats .nowrap {margin-right:6px}
}