/* Susimail "Camo" theme (aka "dark") */
/* Author:(c) dr|z3d */

@import url(/themes/console/dark/global.css);
@import url(../images/images.css);
@import url(images/images.css);

html{background:none}
body{margin:5px;min-width:920px}
body,input,select,.fakebutton{vertical-align:middle;font-family:var(--bodyfont);font-size:9pt}
pre,textarea,p.mailbody{font-family:var(--monospaced)}
body.iframed{margin:-1px -1px -5px}
body.iframed{background:var(--compose_hover),var(--login_hover),var(--logout_hover),var(--offline_hover),var(--save_hover),var(--send_hover),var(--configure_hover),var(--refresh_hover),var(--dropdown_hover),transparent;background-size:0}
.pagenav,.sort,.topbuttons,h3,.footer,.bottombuttons,.topbuttons,th img,h3,#dologin,th,#loading{user-select:none}
b,h3,.pagenav td,th{color:var(--ink);text-shadow:var(--txt_shadow)}
li{margin-left:5px;margin-right:5px;line-height:12pt;color:var(--ink)}
p{margin-left:15px;margin-right:15px;color:var(--ink)}
p.text{margin-left:10px;margin-right:10px}
p.error{color:#c00}
p.info{color:#030}
p.footer{margin:0;line-height:10pt;text-align:center;padding:5px 3px;color:#373}
p.footer,p.footer a{font-size:8pt}
p.footer,p.footer b{color:#373;text-shadow:0 0 1px #000}
tr.mailbody,#message_full tr:first-child{background:#000800}
#message_full tr:first-child{box-shadow:var(--highlight),inset 0 0 2px 1px #030}
#mailhead tr{box-shadow:none}
.mailbody td{padding:0;width:100%;word-break:normal;word-wrap:normal;box-shadow:var(--highlight),inset 0 0 2px 1px #030}
.mailbody p.info{margin:10px 0;padding:20px 10px;width:calc(100% - 40px);display:block;font-weight:700;color:#900;border:1px solid #000;border-radius:2px;box-shadow:var(--highlight),inset 0 0 2px 1px #d00;background:#000}
p.mailbody + p.info{margin-top:-48px}
span.coloured{color:#327bbf}
div.header,.iframed .header{display:none}
div.footer{margin:0 -1px -1px;border-top:none;border:var(--border);box-shadow:var(--highlight),inset 0 0 2px 1px #040,inset 0 0 0 3px #000;background:linear-gradient(90deg,#000800 15%,#000 50%,#000800 85%)}
.iframed .footer{display:none}
hr{margin:5px;width:100%;height:1px;border:none;background:#252;opacity:.5}
.footer hr{display:none}
p.mailbody{margin-top:0;padding:0 0 15px;word-break:break-all;line-height:1.3;text-align:left;color:#b5b774}
.linkspam{color:#300}
.linknew{color:#5a5}
.linkold{color:#494}
a:visited{color:#252}
a:hover,a:focus,tr:hover td[onclick] a{text-decoration:none;color:var(--hover);will-change:transform}
a:active,tr:hover td[onclick]:active a{color:var(--active)}
.noborder{margin-left:0;margin-top:0;margin-right:0}
pre{margin-left:10px;margin-right:10px;font-size:9pt}
.page{margin:0;padding:10px;min-width:600px;line-height:1.6;text-align:center;color:var(--ink);box-shadow:var(--highlight);border:var(--border);border-radius:1px}
.iframed .page{margin:0;padding:1px;min-width:620px;border:none;border-radius:0}
th{font-weight:700;vertical-align:middle}
.spacer{display:none}
form{line-height:1.6;border-top:none}
.header + form{border:var(--border);box-shadow:0 0 1px 1px #000}
.iframed form{margin-bottom:8px;border:none;box-shadow:none}
.iframed .header + form{margin-bottom:-10px;padding-bottom:17px}

/* message view */
.debugHeader{display:table-row}
.debugHeader td{border-top:var(--border)}
.debugHeader pre{margin:5px 3px 6px 10px;line-height:1.3;white-space:pre-wrap;word-break:break-all;color:#bb0;text-shadow:var(--txt_shadow);opacity:.9}
.debugHeader td{box-shadow:var(--highlight),inset 0 0 2px 1px #030;background:rgba(0,0,0,.4)}
#message_full{margin:0;padding:0;border-collapse:separate;border-spacing:0}
.iframed #message_full{margin-bottom:-9px;border-bottom:none}
#message_full tr:first-child{background:repeating-linear-gradient(180deg,#010 1px,#010 2px,#000 3px)}
#mailhead{margin:0;padding:0}
#mailhead tr:first-child{background:none}
#mailhead td{padding:3px;vertical-align:text-bottom;border:none}
#mailhead td:first-child{width:1%;min-width:60px;white-space:nowrap;font-weight:700;color:var(--ink)}
#mailhead td[colspan="2"],#mailhead hr,.mailbody hr{display:none}
#toggleHeaders:active a{color:var(--ink);background:var(--hover)}
#toggleHeaders a,#toggleHeaders a:visited{font-size:90%;color:#494;background-image:none}
#toggleHeaders:hover a,#toggleHeaders a:focus{color:#f60;background:var(--btn_hover)}
#toggleHeaders:active a{color:#f60;background:var(--hover)}
#toggleHeaders{margin-right:-8px;padding:4px;min-width:110px;vertical-align:middle;text-align:center}

/* buttons and inputs */
label:hover{color:#000}
input[type=submit],input[type=reset],#settings,.topbuttons .fakebutton{margin:3px;padding:7px 6px;min-width:0;background:var(--btn);background-size:12px,100%;cursor:pointer}
#dologin input[type=submit],#dologin #settings{line-height:1.25}
input.cancel,#nukemail input.clearselection{padding:7px 14px 7px 27px;background:var(--no) no-repeat 10px center / 12px,var(--btn)}
input.cancel:hover,#nukemail input.clearselection:hover,input.cancel:focus,#nukemail input.clearselection:focus{background:var(--no_hover) no-repeat 10px center / 12px,var(--btn_hover)}
input.cancel:active,#nukemail input.clearselection:active{background:#f60 var(--no_active) no-repeat 10px center / 12px}
input.clearselection{padding:7px 11px 7px 28px;background:url(/themes/susimail/images/none.png) no-repeat 8px center,var(--btn)}
input.clearselection:hover,input.clearselection:focus{background:url(/themes/susimail/images/none.png) no-repeat 8px center,var(--btn_hover)}
input.clearselection:active{background:#f60 url(/themes/susimail/images/none.png) no-repeat 8px center}
input.delete,input.delete_attachment,input.really_delete{padding:7px 11px 7px 28px;background:var(--delete) no-repeat 8px center,var(--btn);background-size:16px,100%}
input.delete:hover,input.delete_attachment:hover,input.really_delete:hover,input.delete:focus,input.delete_attachment:focus,input.really_delete:focus{background:var(--delete_hover) no-repeat 8px center,var(--btn_hover);background-size:16px,100%}
input.delete:active,input.delete_attachment:active,input.really_delete:active{background:#f60 var(--delete_active) no-repeat 8px center;background-size:16px}
input.download{padding:7px 11px 7px 28px;background:var(--download) no-repeat 10px center / 14px,var(--btn)}
input.download:hover,input.download:focus{background:var(--download) no-repeat 10px center / 14px,var(--btn_hover)}
input.download:active{background:var(--download) no-repeat 10px center / 14px,var(--btn_hover)}
input.offline{padding:7px 11px 7px 28px;background:var(--offline) no-repeat 8px center,var(--btn);background-size:14px,100%}
input.offline:hover,input.offline:focus{background:var(--offline_hover) no-repeat 8px center,var(--btn_hover);background-size:14px,100%}
input.offline:active{background:#f60 var(--offline_active) no-repeat 8px center;background-size:14px}
input.list,input.moveto,#pagenav input.switchto{padding:7px 11px 7px 28px;background:var(--folder) no-repeat 8px center,var(--btn)}
input.list:hover,input.moveto:hover,#pagenav input.switchto:hover,input.list:focus,input.moveto:focus,#pagenav input.switchto:focus{background:var(--folder_hover) no-repeat 8px center,var(--btn_hover)}
input.list:active,input.moveto:active,#pagenav input.switchto:active{background:#f60 var(--folder_active) no-repeat 8px center}
input.forward{padding:7px 11px 7px 28px;background:var(--forward) no-repeat 8px center,var(--btn);background-size:14px,100%}
input.forward:hover,input.forward:focus{background:var(--forward_hover) no-repeat 10px center / 14px,var(--btn_hover);background-size:14px,100%}
input.forward:active{background:#f60 var(--forward_active) no-repeat 10px center / 14px}
input.login{padding:7px 11px 7px 28px;background:var(--login) no-repeat 10px center / 14px,var(--btn)}
input.login:hover,input.login:focus{background:var(--login_hover) no-repeat 10px center / 14px ,var(--btn_hover)}
input.login:active{background:#f60 var(--login_active) no-repeat 10px center / 14px}
#info{overflow:hidden}
input.logout{padding:7px 14px 7px 28px;background:var(--logout) no-repeat 10px center / 14px,var(--btn)}
input.logout:hover,input.logout:focus{background:var(--logout_hover) no-repeat 10px center / 14px,var(--btn_hover)}
input.logout:active{background:#f60 var(--logout_active) no-repeat 10px center / 14px}
#info input.logout,#info input.logout:hover,#info input.logout:focus,#info input.logout:active{margin:-11px -4px -8px 12px;padding-right:10px;float:none;line-height:normal;border:none;border-left:1px solid #131;border-radius:0;box-shadow:none;background:var(--logout) no-repeat 10px center / 14px,var(--badge);filter:none}
#info input.logout:hover,#info input.logout:focus{background:var(--logout_hover) no-repeat 10px center / 14px,var(--badge)}
#info input.logout:active{box-shadow:var(--btn_shadow_active);background:#f60 var(--logout_active) no-repeat 10px center / 14px}
input.reload,input.refresh,input[name="refresh"][disabled],.topbuttons .fakebutton{padding:7px 11px 7px 28px;background:var(--refresh) no-repeat 10px center / 13px,var(--btn)}
.topbuttons .fakebutton{padding-left:26px}
input[name="refresh"][disabled]{margin-top:2px}
input.reload:hover,input.refresh:hover,.fakebutton:hover,input.reload:focus,input.refresh:focus,.fakebutton:focus{background:var(--refresh_hover) no-repeat 10px center / 13px,var(--btn_hover)}
input.reload:active,input.refresh:active,.fakebutton:active{background:#f60 var(--refresh_active) no-repeat 10px center / 13px}
input.invertselection{padding:7px 11px 7px 28px;background:url(/themes/susimail/images/selection.png) no-repeat 8px center,var(--btn)}
input.invertselection:hover,input.invertselection:focus{background:url(/themes/susimail/images/selection.png) no-repeat 8px center,var(--btn_hover)}
input.invertselection:active{background:#f60 url(/themes/susimail/images/selection.png) no-repeat 8px center}
input.show{padding:7px 11px 7px 28px;background:-var(--yes) no-repeat 8px center,var(--btn)}
input.show:hover,input.show:focus{background:var(--yes_hover) no-repeat 8px center,var(--btn_hover)}
input.show:active{background:#f60 var(--yes_active) no-repeat 10px center / 12px}
input.markall{padding:7px 11px 7px 28px;background:url(/themes/susimail/images/all.png) no-repeat 8px center,var(--btn)}
input.markall:hover,input.markall:focus{background:url(/themes/susimail/images/all.png) no-repeat 8px center,var(--btn_hover)}
input.markall:active{background:#f60 url(/themes/susimail/images/all.png) no-repeat 8px center}
input.new{padding:7px 11px 7px 28px;background:var(--compose) no-repeat 10px center / 14px,var(--btn)}
input.new:hover,input.new:focus{background:var(--compose_hover) no-repeat 10px center / 14px,var(--btn_hover)}
input.new:active{background:#f60 var(--compose_active) no-repeat 8px center;background-size:14px,100%}
input.reply{padding:7px 11px 7px 28px;background:var(--reply) no-repeat 8px center / 14px,var(--btn)}
input.reply:hover,input.reply:focus{background:var(--reply_hover) no-repeat 8px center / 14px,var(--btn_hover)}
input.reply:active{background:#f60 var(--reply_active) no-repeat 8px center / 14px}
input.replyall{padding:7px 11px 7px 28px;background:var(--replyall) no-repeat 10px center / 14px,var(--btn)}
input.replyall:hover,input.replyall:focus{background:var(--replyall_hover) no-repeat 10px center / 14px,var(--btn_hover)}
input.replyall:active{background:#f60 var(--replyall_active) no-repeat 10px center / 14px}
input.markall{margin-right:0}
input.setpagesize,input.save{padding:7px 13px 7px 28px;background:var(--yes) no-repeat 10px center / 12px,var(--btn)}
input.setpagesize{padding:7px 26px 7px 36px}
input.setpagesize:hover,input.setpagesize:focus,input.save:hover,input.save:focus{background:var(--yes_hover) no-repeat 10px center / 12px,var(--btn_hover)}
input.setpagesize:active,input.save:active{background:#f60 var(--yes_active) no-repeat 10px center / 12px}
input.setpagesize,input.setpagesize:hover,input.setpagesize:focus,input.setpagesize:active{background-position:16px center}
input.send{padding:7px 11px 7px 28px;background:var(--send) no-repeat 10px center / 16px,var(--btn_hover)}
input.send:hover,input.send:focus{background:var(--send_hover) no-repeat 10px center / 16px,var(--btn_hover)}
input.send:active{background:#f60 var(--send_active) no-repeat 10px center / 16px}
input.send + input.cancel{padding-right:10px}
input.configure,#settings{padding:7px 11px 7px 28px;background:var(--configure) no-repeat 10px center / 14px,var(--btn)}
input.configure:hover,#settings:hover,input.configure:focus,#settings:focus{background:var(--configure_hover) no-repeat 10px center / 14px,var(--btn_hover)}
input.configure:active,#settings:active{background:#f60 var(--configure_active) no-repeat 10px center / 14px}
input.saveas,input.saveasdraft{padding:7px 10px 7px 27px;background:var(--save) no-repeat 10px center / 15px,var(--btn)}
input.saveas:hover,input.saveasdraft:hover,input.saveas:focus,input.saveasdraft:focus{background:var(--save_hover) no-repeat 10px center / 15px,var(--btn_hover)}
input.saveas:active,input.saveasdraft:active{background:#f60 var(--save_active) no-repeat 10px center / 15px}
input.new_upload{padding:7px 11px 7px 28px;background:var(--attach) no-repeat 10px center / 15px,var(--btn)}
input.new_upload:hover,input.new_upload:focus{background:var(--attach_hover) no-repeat 10px center / 15px,var(--btn_hover)}
input.new_upload:active{background:#f60 var(--attach_active) no-repeat 10px center / 15px}
input.new_upload{float:right;margin-right:0}
input.switchto,input.moveto{padding:7px 11px 7px 28px;background:var(--folder) no-repeat 10px center / 14px,var(--btn)}
input.switchto:hover,input.moveto:hover,input.switchto:focus,input.moveto:focus{background:var(--folder_hover) no-repeat 10px center / 14px,var(--btn_hover)}
input.switchto:active,input.moveto:active{background:#f60 var(--folder_active) no-repeat 10px center / 14px}
input[disabled]{opacity:.4;pointer-events:none}
input[type=file]::file-selector-button{margin:2px 3px;padding:4px 2px}
.topbuttons .select2{margin:0 -2px;padding:7px 24px 7px 8px}
input:active,.fakebutton:active{text-shadow:none}
.bottombuttoms td[colspan="4"]{padding-right:1px}
input[type="file"]{padding:5px 0;max-width:400px;background:none}
input[type=text],input[type=password],textarea{border-radius:1px}
input[name="new_from"]{box-shadow:none;color:var(--ink)}
textarea{font-size:9pt}
input[type=text]::placeholder,input[type=password]::placeholder{text-transform:lowercase}

/* pagenav */
div.pagenav{padding:10px 5px 0;border-top:1px solid #555;border-radius:0 0 2px 2px}
.pagenav tr{display:table-row;border:none}
.pagenav td{border:none}
#messagenav{margin-right:-1px;margin-left:-7px;float:right}
input.firstpage{padding:4px 10px;text-indent:-99999px;background:var(--first) no-repeat center center / 14px,var(--btn)}
input.firstpage:hover{background:var(--first_hover) no-repeat center center / 14px,var(--btn_hover)}
input.firstpage:active{background:#f60 var(--first_active) no-repeat center center / 14px}
input.lastpage{padding:4px 10px;background:var(--last) no-repeat center center / 14px,var(--btn);text-indent:-99999px}
input.lastpage:hover{background:var(--last_hover) no-repeat center center / 14px,var(--btn_hover)}
input.lastpage:active{background:#f60 var(--last_active) no-repeat center center / 14px}
input.prevpage,input.prev{padding:4px 10px;text-indent:-99999px;background:var(--previous) no-repeat center center / 14px,var(--btn)}
input.prev:hover,input.prevpage:hover{background:var(--previous_hover) no-repeat center center / 14px,var(--btn_hover)}
input.prev:active,input.prevpage:active{background:#f60 var(--previous_active) no-repeat center center / 14px}
input.nextpage,input.next{padding:4px 10px;text-indent:-99999px;background:var(--next) no-repeat center center / 14px,var(--btn)}
input.nextpage:hover,input.next:hover{background:var(--next_hover) no-repeat center center / 14px,var(--btn_hover)}
input.nextpage:active,input.next:active{background:#f60 var(--next_active) no-repeat center center / 14px}
#pagenavbottom,#mailbox #pagenavbottom td{position:relative;z-index:100;border-top:var(--border);box-shadow:none}
#pagenavbottom td{padding:2px;text-align:center;background:#010}
#pagenavbottom table{float:none}
.pagenavcontrols{line-height:1}
.pagenavcontrols td,.bottombuttons td{box-shadow:none}
.pagenavcontrols input{min-width:26px;min-height:26px}
.pagecount{margin:0;padding:4px 0;width:70px;display:inline-block;text-align:center;color:var(--ink);border:1px solid #151;border-radius:2px;background:var(--badge)}
.pagenav input[disabled]{display:inline-block}
tr.bottombuttons .pagenav{width:100%;margin:0}
.pagenav input{margin:2px 1px;float:none}
.pagenav input[name="prevpage"]{margin-right:5px}
.pagenav input[name="nextpage"]{margin-left:5px}
.pagenav input[disabled],.pagenav input[disabled]:hover,.pagenav input[disabled]:active{border:none;box-shadow:var(--highlight)}
.topbuttons #messagenav{right:8px}
.topbuttons #messagenav{top:7px;right:5px}
.topbuttons .pagenav td{padding:0;width:auto}
.topbuttons .pagenav input{margin:1px}
.topbuttons .pagenav td:nth-child(2){display:none}
.folders{margin:-1px 0 0 2px;padding-left:2px;float:left;border-left:var(--border)}
#messagenav{position:fixed;float:none;margin:0}
.topbuttons #messagenav{right:8px}
.delete + .logout{display:none}
#messagenav{right:5px}
.pagenavcontainer,#messagenav{float:right;position:absolute;top:9px;right:5px}
.pagenavcontainer{padding:1px 0 2px 6px}
#messagenav{right:6px}
#messagenav > *{vertical-align:middle}
.pagenav{margin:-2px auto -3px;padding:2px;width:auto;max-width:170px;white-space:nowrap;border-collapse:separate;border-spacing:0}
.pagenav td{padding:1px 2px;white-space:nowrap;text-align:center;font-weight:700;font-size:10pt;font-style:italic}
.pagenav td:first-child{width:49%;text-align:right}
.pagenav td:last-child{width:49%;text-align:left}
.pagenav td:nth-child(2){width:2%;white-space:nowrap}
.topbuttons .pagenavcontrols{padding-top:5px}
.pagenavcontrols > *{vertical-align:middle}

/* list sort */
.sort{display:inline-block;font-size:0}
a.sort{display:inline-block;vertical-align:middle;line-height:1;opacity:.9}
img.sort{margin:0;padding:2px;width:10px;height:10px;vertical-align:middle;border:1px solid #151;border-radius:1px;background:var(--badge)}
a .sort:hover,a:focus .sort{opacity:1;border:var(--border_hover);background:var(--btn_hover)}
img.sort:active{box-shadow:var(--highlight),inset 2px 2px 2px #000}
.sort.selected,.sort.selected:active{box-shadow:inset 1px 1px 1px #000;opacity:.8;mix-blend-mode:luminosity}

/* login */
#dologin{margin:50px auto;padding:10px 10px 1px;width:600px;border:var(--border);border-radius:2px;box-shadow:var(--bevel);background:var(--mainbg);animation:linear fade-in .15s 1.35s both}
.iframed #dologin{margin:60px auto 50px}
#dologin td{padding:3px;font-weight:700;color:var(--ink)}
#dologin td:first-child{width:25%;white-space:nowrap}
#dologin td:last-child{width:75%}
#dologin h1{margin:-10px -10px 8px;padding:7px 10px 5px 15px;letter-spacing:.1em;word-spacing:.1em;text-transform:uppercase;text-align:left;font-size:13pt;color:var(--ink);border-bottom:var(--border);box-shadow:var(--bevel),inset 0 0 2px 1px #040,inset 0 0 0 3px #000;background:var(--th)}
.iframed #dologin h1{display:none}
#dologin input[type=text],input[name="pagesize"]{text-align:left}
#dologin input[name="user"],#dologin input[name="pass"]{padding:7px 7px 7px 28px;background-blend-mode:luminosity}
#dologin input[name="user"]{background:#000 var(--user) no-repeat 7px center / 16px}
#dologin input[name="pass"]{background:#000 var(--key) no-repeat 7px center / 16px}
#dologin input[name="user"]:focus,#dologin input[name="pass"]:focus{background-color:#010;background-blend-mode:normal}
#dologin input[name="user"],#dologin input[name="pass"],#dologin input[name="host"]{margin-right:5px;max-width:300px}
#dologin hr{margin:0 0 4px;background:linear-gradient(90deg,rgba(0,0,0,0),rgba(0,128,0,.8) 45%,rgba(0,128,0,.8) 55%,rgba(0,0,0,0))}
#dologin hr:first-of-type{margin-top:10px}
#dologin tr:last-child hr{margin-top:3px}
#dologin table{margin-top:20px}
.iframed #dologin tr:nth-child(6) hr{margin-top:5px}
#dologin tr:last-child a{margin:12px -4px 8px;padding:3px 15px;min-width:120px;display:inline-block;color:#373;text-shadow:var(--txt_shadow);border-radius:25px;background:var(--glow_bottom);transition:ease all .05s}
#dologin tr:last-child a:hover{color:#494;box-shadow:0 0 0 1px #020;background:var(--glow_bottom),var(--th);transition:ease all .1s}
#dologin tr:last-child a:active{color:#f90;box-shadow:0 0 1px #020,inset 3px 3px 3px #000;transition:ease all .05s}
#dologin tr:last-child td{color:transparent}
#toggle{margin:0;height:20px;width:20px;min-width:0;vertical-align:middle;font-size:0;border:none;box-shadow:none;background:var(--show) no-repeat center center / 20px;cursor:pointer;mix-blend-mode:luminosity}
#toggle.hidepass{background:var(--hide) no-repeat center center / 20px}
#toggle:hover{mix-blend-mode:normal}
#toggle.showpass{background:var(--show) no-repeat center center / 20px}

/* configuration */
textarea[name="config_text"]{margin:0 auto 15px;padding:0 5px;resize:none;width:600px;min-width:0;height:370px;line-height:20px;border:var(--border);box-shadow:0 0 2px 2px rgba(0,0,0,.5);background:repeating-linear-gradient(180deg,#000800,#000800 20px,#000 20px,#000 40px);animation:fade-in .1s ease .3s both,scaleY .05s ease .5s both}
textarea[name="config_text"]:focus{border:var(--border);box-shadow:var(--highlight),0 0 0 1px rgba(255,96,0,.15);background:repeating-linear-gradient(180deg,#010,#010 20px,#000800 20px,#000800 40px)}
h3#config{margin:0 0 20px;padding:10px;text-align:center;text-transform:uppercase;font-size:11pt;letter-spacing:.08em;word-spacing:.1em;border-bottom:var(--border);box-shadow:var(--bevel);text-shadow:var(--txt_shadow);background:var(--th)}
#prefsave{margin-top:4px;padding-top:10px;padding-bottom:10px;border-top:var(--border);box-shadow:var(--bevel);background:var(--th)}
.iframed #prefsave{margin-bottom:-10px;padding-bottom:10px}

/* top buttons */
#info{margin:4px 140px 0 4px;padding:0 8px 0 3px;float:right;line-height:1.5;text-transform:lowercase;font-weight:400;color:var(--ink);border:1px solid #131;border-radius:2px;box-shadow:0 0 1px 0 #000;background:var(--badge)}
#infoUser{margin-right:6px;padding:3px 8px 4px 20px;display:inline-block;text-align:center;font-weight:700;color:var(--ink);border-right:1px solid #131;background:var(--user) no-repeat 2px center / 15px}
.topbuttons{margin:-1px -1px 0;padding:5px 5px 4px;width:calc(100% - 10px);min-width:800px;display:inline-block;vertical-align:middle;white-space:nowrap;text-align:center;font-weight:700;border:var(--border);box-shadow:var(--bevel);background:var(--th)}
.topbuttons#readmail{padding:5px 5px 8px}
body:not(.iframed) .topbuttons{position:sticky;top:-1px;z-index:1000;background:var(--topnav)}
.iframed .topbuttons{border-left:none;border-right:none}
.topbuttons > *{vertical-align:middle}

/* float topbuttons,single line*/
.topbuttons input.new,.topbuttons input.refresh,.topbuttons input.logout,.topbuttons input[name="refresh"],.topbuttons .fakebutton{float:left}
.topbuttons .pagenav input{float:none}
.topbuttons input[name="pagesize"],.topbuttons .setpagesize,.topbuttons input[onclick]:not(.delete)[onclick]{float:none}
.topbuttons input.new,.topbuttons input.refresh,.topbuttons input.reply,.topbuttons input.replyall,.topbuttons input.forward,.topbuttons input.saveas,.topbuttons input.delete,.topbuttons .fakebutton{margin:3px 5px 0 2px;float:left}
.topbuttons input.prev,.topbuttons input[name="prev"],.topbuttons input.prevpage,.topbuttons input[name="prevpage"],.topbuttons input.next,.topbuttons input[name="next"],.topbuttons input.nextpage,input[name="nextpage"],.topbuttons input.firstpage,.topbuttons input[name="firstpage"],.topbuttons input.lastpage,.topbuttons input[name="lastpage"],.topbuttons input.list{margin:2px;min-width:26px;max-width:26px;min-height:26px;max-height:26px}
.topbuttons br{display:none}
.topbuttons br ~ input{margin:3px 2px}
.topbuttons input.prev,.topbuttons input[name="prev"]{margin-left:10px}
.topbuttons input.list{padding:5px 10px;text-indent:-99999px;background-position:center center;background-size:14px}
.topbuttons input[type=text]{margin-right:4px}
.bottombuttons br{display:none}
tr.bottombuttons{box-shadow:var(--highlight)}
tr.bottombuttons:last-child{background:var(--th)}
tr.bottombuttons:empty{display:none}
#composemail .bottombuttons{background:none;box-shadow:none}

/* notifications */
.notifications{margin:0 30%;padding:0 10px 2px;min-width:360px;position:fixed;top:0;left:0;right:0;z-index:9999;text-align:center;font-size:90%;text-shadow:var(--txt_shadow);border:1px solid #000;border-top:none;box-shadow:0 2px 2px 1px rgba(0,0,0,.5),inset 0 0 0 1px #040;background:#020 var(--no) no-repeat right 6px top 6px / 14px;cursor:crosshair;animation:2s hide-up 4s ease-out forwards}
.iframed .notifications{margin:-1px 30% 0;border:var(--border);border-top:none;border-radius:0 0 2px 2px;box-shadow:0 2px 2px 1px rgba(0,0,0,.5),inset 0 0 0 1px #010}
.notifications.msgerror{margin:0 20%}
.notifications:hover{background:#020 var(--no_hover) no-repeat right 6px top 6px / 14px}
.notifications p.info,.notifications p.info b{text-align:center;font-size:10pt;text-shadow:none;color:var(--ink)}
.notifications p{letter-spacing:.07em;word-spacing:.2em;font-weight:700;text-shadow:var(--txt_shadow);animation:fade-in 1s linear}
p.error{text-align:center}
td p.error{padding:10px}

/* compose mail */
#composemail{padding:4px 8px 12px;text-align:center;border-radius:0 0 2px 2px;background:#010;background:repeating-linear-gradient(90deg,rgba(0,32,0,.4),rgba(0,0,0,.4) 1px,rgba(0,0,0,.4) 2px),repeating-linear-gradient(180deg,rgba(0,0,0,.4) 1px,rgba(0,0,0,.4) 2px,rgba(0,64,0,.4) 3px),url(/themes/console/dark/images/camotile2.png)}
.iframed #composemail{margin-bottom:-7px;border-bottom:none}
#composemail hr{display:none}
#composemail textarea{margin-bottom:7px;min-height:200px}
#composemail textarea,#composemail input[type=text]{width:calc(100% - 20px);min-width:565px}
#newmail{width:auto;margin:auto}
#newmail td{padding:5px}
#newmail td:first-child{padding-right:3px;font-weight:700;color:var(--ink)}
#newmail label:hover{color:var(--ink)}

/* attachments */
#addattachment td{border-top:var(--border);padding-top:7px}
#attachedfile{padding:4px 5px}
#newmail input[type=checkbox]{margin:0}
#attachedfile input[type=checkbox]{margin:1px;float:right}
#attachedfile label{padding:5px 10px 5px 24px;width:calc(100% - 34px);min-width:400px;max-width:600px;display:inline-block;white-space:nowrap;line-height:1.4;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;font-style:italic;border-radius:2px 15px 15px 2px;box-shadow:inset 0 0 0 1px #020,inset 0 0 0 2px #010,0 0 0 1px #000;background:var(--attach_active) no-repeat 9px center / 14px,linear-gradient(90deg,#010 70%,#020)}
#attachedfile label:hover{color:#930;box-shadow:var(--highlight),inset 0 0 0 2px #930;background:var(--attach_hover) no-repeat 9px center / 14px,linear-gradient(90deg,#020 70%,#010)}
#attachedfile label:active{box-shadow:inset 0 0 0 1px #020,inset 0 0 0 2px #010,inset 4px 4px 3px #000}
.attached{margin:0;padding:15px 35px 15px 30px;overflow:auto;text-align:left;box-shadow:var(--highlight),inset 0 0 2px 1px #030;background:var(--attached) no-repeat 10px center / 16px,repeating-linear-gradient(180deg,#010,#000 2px)}
.attached img{margin-top:4px;padding:3px;max-width:100%;max-width:calc(100% - 10px);border:1px solid #030;border-radius:2px;background:#000;text-align:center;image-orientation:from-image}
#deleteattached::before,#addattachment td:last-child::after{margin:1px 0 2px;height:1px;display:block;background:#252;content:""}
#addattachment td:first-child::after{width:100%;height:7px;display:block;content:""}
#addattachment td:last-child::after{margin:5px 0 1px}
#deleteattached{text-align:right}
#deleteattached input{margin:8px 0 0 0}
#imageInfo{margin-top:16px;padding-top:10px;width:100%;display:block;text-align:left;font-weight:700;border-top:1px dotted #242}
#imageInfo::before{width:20px;height:16px;display:inline-block;vertical-align:text-bottom;background:var(--package) no-repeat left center / 16px;content:""}

/* mail list */
tr.list0,tr.list1{background:var(--row)}
tr.list0:hover,tr.list1:hover{background-color:#030;box-shadow:var(--highlight)}
th.mailListDate{padding-left:8px;text-align:left}
th.mailListDelete:empty{min-width:24px}
td{padding:1px 3px;color:var(--ink)}
tr.mailbody td{border-top:var(--border)}
td[onclickloc]{cursor:pointer}
.list0 td,.list1 td{box-shadow:var(--highlight)}
.list0:hover td,.list1:hover td{color:var(--ink)}
.list0 > *,.list1 > *{vertical-align:middle;line-height:1}
td.mailListSender,tr:hover td.mailListSender{padding-right:6px;padding-left:24px;width:1%;white-space:nowrap;text-align:left;background-image:var(--user);background-position:6px center;background-repeat:no-repeat;background-size:13px}
td.mailListFlagged,td.mailListSender,td.mailListAttachment,td.mailListSubject,td.mailListDate,td.mailListSize{border-right:1px solid #020}
td.mailListSize{font-style:italic;box-shadow:var(--highlight)}
td.mailListAttached{padding:3px}
td.mailListAttachment img{opacity:0}
td.mailListFlagged img{display:none}
td.mailListFlagged.new{background:var(--newmail) no-repeat center center / 14px}
td.mailListSender a,td.mailListSender a:hover{font-weight:400;color:var(--ink);line-height:1.2}
td.mailListSubject a{padding:3px 0;display:inline-block}
tr:hover .listDate{box-shadow:0 0 0 1px #000,inset 0 0 0 1px #262;opacity:.9}
tr:hover .listSize{box-shadow:0 0 0 1px #262;color:var(--ink)}
tr:hover .mailListAttachment.isAttached{background:var(--attach_hover) no-repeat center center / 14px}
tr:hover td.mailListSubject a{width:calc(100% - 2px);border-radius:2px 15px 15px 2px;background:linear-gradient(90deg,rgba(0,0,0,0),rgba(0,64,0,.9) 20%)}
tr:active td.mailListSubject a{box-shadow:inset 2px 2px 1px #000}
tr.pagenavcontrols:hover .pagenavcontrols td,.topbuttons td,.topbuttons:hover td,.topbuttons tr:hover td,.topbuttons:hover td,#mailbox tr:hover,#mailbox tr:hover td{box-shadow:none}
.folders{display:inline-block;margin:0}
.listClock{margin-top:1px;padding-left:1px;min-width:18px;vertical-align:text-top;font-size:80%;text-align:left;text-transform:lowercase}
.listDate,.listTime,.listClock{display:inline-block;white-space:nowrap;text-align:right}
.listDate{padding:3px 4px;min-width:64px;text-align:right;font-weight:700;color:var(--ink);border-radius:2px;box-shadow:0 0 0 1px #000;background:var(--badge);opacity:.8}
.listDate span{padding:1px 0;display:inline-block;min-width:18px;text-align:center;border-radius:2px}
.listSize,.listDate,.mailListSender,.mailListSubject a{will-change:transform}
.listSize{min-width:56px;display:inline-block;vertical-align:middle;text-align:right;border-radius:2px;box-shadow:0 0 0 1px #000;background:var(--badge)}
.listSizeUnit{margin:1px 1px 1px 2px;padding:2px 1px;display:inline-block;min-width:14px;color:var(--ink);text-align:center;font-size:90%;font-style:normal;font-weight:700;text-shadow:var(--txt_shadow);border-radius:0 1px 1px 0;background:#010}
.listTime{margin-right:2px;min-width:42px;opacity:.85}
.mailListAttachment.isAttached{background:var(--attach) no-repeat center center / 14px}
.mailListAttachment{min-width:16px}
.mailListCount{text-align:right}
.mailListDelete,.mailListDate,.mailListSize,.mailListFlagged,.mailListAttachment{padding:3px 6px;width:1%;white-space:nowrap}
.mailListDelete{padding:3px}
.mailListFlagged{padding:3px 0;min-width:26px;text-align:center}
.mailListSize{padding:3px;width:1%;text-align:center}
.mailListSize .unknown{padding:2px 0;width:100%;display:inline-block;letter-spacing:.1em;text-align:center}
.mailListSubject{padding:3px 8px}
.mailListSubject{white-space:normal;text-align:left;word-break:normal}
#emptymailbox{padding:10px}
#folderName{font-weight:700;color:var(--ink);text-transform:capitalize}
#mailbox .bottombuttons input[type=submit][disabled]{display:none}
#mailbox .bottombuttons td{padding:4px 4px 5px;border-top:var(--border)}
#mailbox hr{display:none}
#mailbox{position:relative;border-collapse:separate;border-spacing:0}
#mailbox td{color:var(--ink)}
#mailbox th:last-child{padding:6px 0;background:var(--nuke) no-repeat center center / 14px,var(--th)}
#mailbox th.MailListAttachment{background:var(--attach) no-repeat center center / 14px ,var(--th)}
#mailbox th.mailListFlagged{background:url(/themes/susimail/images/status.png) no-repeat center center,var(--th)}
#mailbox th{padding:6px 5px;white-space:nowrap;font-size:70%;color:var(--ink);background:var(--th)}
#mailbox tr:hover .mailListSender a{color:var(--ink)}
#mailbox tr:nth-child(3) td{border-top:var(--border)}
#mailbox tr td{border-top:1px solid #020}
.iframed #mailbox .bottombuttons td{padding:5px 3px}
.iframed #mailbox{margin:0 0 -7px}
.iframed #mailbox th:last-child,.iframed #mailbox td:last-child{border-right:none}
.iframed #mailbox tr:last-child td{padding-bottom:3px}
#viewmail .folders{padding:0 0 0 4px;top:0;right:-1px;border:var(--border);border-radius:0 0 0 3px;box-shadow:var(--highlight);background:var(--th)}
#viewmail .folders{position:absolute}
#viewmail .folders select{margin:1px 4px 2px 0}
#viewmail .folders,#viewmail .folders select,#viewmail .moveto{vertical-align:middle}
#viewmail .moveto{margin-left:0}
#viewmail{position:relative}

/* confirm delete */
#confirmdelete td{box-shadow:var(--highlight);background:repeating-linear-gradient(45deg,#900,#900 10px,#000 10px,#000 20px);background-size:400%;animation:attention 240s linear infinite both}
.iframed #confirmdelete td{border-radius:0 0 2px 2px}
#nukemail{margin:3px 3px 2px;padding:35px 20px 20px;font-weight:700;font-style:italic;color:#a00;border:1px solid #700;box-shadow:var(--highlight),inset 0 0 1px 1px #b00;background:var(--question) no-repeat center 20px / 32px,linear-gradient(180deg,#100,#000,#100)}
#nukemail.floating{margin:0 auto 1px;width:480px;position:absolute;z-index:2000;top:250px;left:0;right:0;box-shadow:var(--highlight),inset 0 0 2px 1px #700,0 0 0 1px #000,0 0 3px 3px rgba(0,0,0,.7),0 0 1000px 1000px rgba(8,0,0,.7);animation:fade-in linear .5s}
.iframed #nukemail{margin:2px 4px 4px}
.iframed #nukemail.floating{margin:0 auto 1px;top:230px;left:0;right:0}
#nukemail br{display:block}
#nukemail span{margin:30px auto 18px;padding-bottom:20px;width:100%;display:inline-block;font-size:120%}
#nukemail span::after{margin:25px 0 -18px;width:100%;height:1px;display:block;background:linear-gradient(90deg,#000,#500,#000);content:""}

/* loading mail */
#loading{margin:0;padding:50px 15px;text-align:center;font-size:10pt;border:none;background:repeating-linear-gradient(180deg,#001,#000 2px,#001 3px)}
#loading b{padding:6px 0;width:40%;min-width:400px;display:inline-block;letter-spacing:2px;text-shadow:0 0 1px #001,0 0 5px #003;color:var(--ink);border-radius:2px;box-shadow:var(--highlight),inset 0 0 0 2px #001,inset 0 0 2px 3px #002,0 0 1px #001;background:repeating-linear-gradient(45deg,#020 1px,#020 20px,#000 20px,#000 40px);animation:loading 1s linear infinite forwards alternate}

@keyframes attention{from{background-position:200%} to{background-position:0}}
@keyframes fade-in{0%,80%{filter:opacity(0)} 100%{filter:opacity(1)}}
@keyframes hide-up{from{margin-top:0} to{margin-top:-300px}}
@keyframes loading{0%{background:linear-gradient(180deg,rgba(255,255,255,.2) 50%,rgba(0,0,0,.3) 50%),repeating-linear-gradient(45deg,#020 1px,#020 20px,#000 20px,#000 40px)} 100%{background:linear-gradient(180deg,rgba(255,255,255,.2) 50%,rgba(0,0,0,.3) 50%),repeating-linear-gradient(45deg,#000 1px,#000 20px,#020 20px,#020 40px)}}
@keyframes scaleY{from{transform:scaleY(0)} to{transform:scaleY(1)}}

@supports (position:sticky){#pagenavbottom{display:none}}

@media screen and (-webkit-min-device-pixel-ratio:0){
td.mailListSubject a{margin:-1px 0;padding:5px 0}
.listSize,.listSizeUnit{font-size:95%}
}

@media screen and (max-width:1500px){
.debugHeader pre{font-size:8.5pt}
body:not(.iframed) #mailbox tr:nth-child(2){top:47px}
#viewmail .folders{top:-1px}
#viewmail .folders select{margin-top:2px}
}

@media screen and (max-width:1300px){
.pagenavcontainer{padding:0;top:10px;right:3px;border:none}
}

@media screen and (max-width:1000px){
#dologin{width:60%;min-width:480px;display:inline-block}
body{margin:3px;font-size:8.5pt}
th.mailListDate{white-space:nowrap;text-align:center}
td.mailListDate{width:1%;line-height:1;white-space:normal;text-align:center}
.listDate{padding-bottom:1px;text-align:center;font-weight:700;border:none;border-bottom:1px solid rgba(0,64,0,.4);box-shadow:none;opacity:.85;background:none}
.listDate span{min-width:0}
.listTime{text-align:center;font-size:95%}
input.switchto,input.switchto:hover,input.switchto:focus,#serverRefresh,#info input.logout,#info input.logout:hover,#info input.logout:focus{width:20px;line-height:14px;font-size:0;background-position:center center}
#info{margin:3px 4px -8px;padding:1px 8px 0 3px;display:inline-block;float:none}
.topbuttons input[type="submit"],.topbuttons input[type="reset"],.topbuttons .fakebutton,.topbuttons select{margin:2px;vertical-align:middle}
.topbuttons input.new{margin:2px 1px 2px 0}
.topbuttons select{margin-left:-2px}
.folders{margin:0 0 0 -2px;border:none}
}

@media screen and (max-width:900px){
.pagenavcontainer{position:fixed;top:8px;right:5px}
#infoUser{display:none}
#info{padding:3px 0 3px 8px}
}

@media screen and (min-width:1300px){
body,input,select,.fakebutton{font-size:9.5pt}
.iframed td:not(.mailListSender){padding:3px 5px}
}

@media screen and (min-width:1500px){
body,input,select,.fakebutton,textarea[name="config_text"]{font-size:10pt}
a[class^="link"]{font-size:95%}
p.footer,p.footer a{line-height:12pt;font-size:9pt}
p.mailbody + p.info{margin-top:-53px}
.pagenav{margin:-5px -3px -3px}
td{padding:3px 5px}
#dologin tr:last-child a{font-size:90%}
#info{margin:4px 150px 0 4px}
#mailbox th{font-size:80%}
#messagenav{top:9px}
#viewmail .folders{top:-1px}
.iframed #prefsave{margin-bottom:-11px}
img.sort{width:14px;height:12px}
}