/* SusiDNS "Midnight" theme */
/* Author: dr|z3d */

@import url(/themes/console/midnight/global.css);
@import url(../images/images.css);
@import url(images/images.css);
@import url(../lazyload.css);

:root {
--nav: linear-gradient(180deg,#181828 50%, #000 50%);
--nav_hover: linear-gradient(180deg,#3c1751 50%, #0a030d 50%);
}

body {margin: 0 10px; overflow-x: hidden; font-size: 9.5pt; background: repeating-linear-gradient(180deg,rgba(0,0,24,.75) 3px, rgba(0,0,0,.9) 5px, rgba(0,0,0,.7) 6px), var(--tile), #000010}
body.iframed {margin: 0; padding: 0}
h3 {padding: 7px 10px; word-spacing: .1em; letter-spacing: .08em; font-size: 10pt; font-weight: 700; color: var(--ink); text-shadow: 0 0 2px #010011; border: var(--border); text-transform: uppercase; box-shadow: var(--bevel); background: var(--title)}
h4 {margin-top: -15px; margin-bottom: 30px; padding: 8px 10px; word-spacing: .1em; font-size: 9pt; border: var(--border); background: linear-gradient(90deg, #000, #001)}
a:hover, a:visited:hover {color: var(--a_hover)}
a:visited {color: #4e47bf}
hr {margin: 5px 0; width: 100%; height: 1px; display: none; text-align: center; color: #2d295f; border: 0px solid #2d295f; background: #2d295f}
ol, ul {margin: 0 20px 0 10px; padding: 0px 10px; display: table-row}
li {margin: 0; line-height: 1.5; list-style: square; font-size: 9pt; color: var(--ink)}
th, td {font-size: 9pt}
th {padding: 5px 10px; text-align: left; background: var(--title); background-size: 4px 100%, 100%}
td {padding: 5px}
.page {margin: 10px 0; padding: 0; font-size: 9pt; color: var(--ink); background: linear-gradient(180deg,rgba(0,0,16,.2), transparent)}
.destaddress {scrollbar-color: #114 rgba(0,0,0,0); scrollbar-width: thin}
#content h3 {box-shadow: none}
#navi, .buttons, #buttons, #host_list tr:first-child, #host_list img, #host_list td:nth-child(n+2) a {user-select: none}

/* topnav */
#navi {margin: -13px -11px 30px; min-width: 512px; padding: 6px; position: sticky; top: -1px; z-index: 999; text-align: center; font-weight: 700; font-size: 9pt; border-bottom: var(--border); box-shadow: var(--bevel); filter: drop-shadow(0 1px 3px #000); background: var(--panel); background-size: 4px 100%, 100%}
.iframed #navi {margin: 0 0 27px; padding: 6px 5px 5px; filter: none}
#navi a, #navi a:visited {margin: 3px 0; padding: 5px; display: inline-block; outline: none; line-height: 1.2; color: #89f; text-transform: capitalize; text-shadow: 0 1px 1px #000; border: 1px solid #224; border-radius: 1px}
#navi a:hover, #navi a:focus {color: #a27db7; border: var(--border_input_hover); box-shadow: var(--highlight), inset 0 0 1px 1px #717; opacity: 1}
#navi a:active {text-shadow: none; border: var(--border_input_hover); box-shadow: var(--btn_shadow_active)}
#navi .abook {padding: 5px 8px 5px 23px; background: var(--abook) no-repeat 6px center / 14px, var(--nav)}
#navi .abook:hover, #navi .abook:focus {background: var(--abook_hover) no-repeat 6px center / 14px, var(--btn_hover_radial), var(--nav_hover)}
#navi .abook:active {background: #652787 var(--abook_hover) no-repeat 6px center / 14px}
#navi #subs {padding: 5px 8px 5px 23px; background: var(--subs) no-repeat 6px center / 14px, var(--nav)}
#navi #subs:hover, #navi #subs:focus {background: var(--subs_hover) no-repeat 6px center / 14px, var(--btn_hover_radial), var(--nav_hover)}
#navi #subs:active {background: #652787 var(--subs_hover) no-repeat 6px center / 14px}
#navi #configlink {padding: 5px 8px 5px 23px; background: var(--configure) no-repeat 6px center / 14px, var(--nav)}
#navi #configlink:hover, #navi #configlink:focus {background: var(--configure_hover) no-repeat 6px center / 14px, var(--btn_hover_radial), var(--nav_hover)}
#navi #configlink:active {background: #652787 var(--configure_hover) no-repeat 6px center/ 14px}
#navi #overview {padding: 5px 8px 5px 23px; background: var(--overview) no-repeat 6px center / 14px, var(--nav)}
#navi #overview:hover, #navi #overview:focus {background: var(--overview_hover) no-repeat 6px center / 14px, var(--btn_hover_radial), var(--nav_hover)}
#navi #overview:active {background: #652787 var(--overview_hover) no-repeat 6px center / 14px}

p {color:var(--ink); margin: 0 0 4px; font-size: 9.5pt; text-align: justify}
p.buttons, .buttons {margin: 5px 0 -5px; padding: 0 3px; text-align: right}
p.buttons {padding: 8px 5px; border: var(--border)}
p#filtered {margin: -26px 0 10px}
.checkbox input {margin: 0}
.headline h3:first-child + h4 {margin-top: -25px; margin-bottom: 25px}
.headline h3:first-child {margin-bottom: 24px; border-radius: 0}
.headline h3 {margin-top: -10px; border-radius: 2px 2px 0 0}
.headline {margin-top: -16px}
.headline + #book > table td {padding: 5px}
.headline + #book > table td.destinations {padding: 0}
.headline + #book > table td:first-child {width: 120px; white-space: nowrap; text-align: right}

.help h3:first-child {margin-top: -21px}
.help h3 {margin: 10px -31px; border-radius: 0}
.help {margin-bottom: 5px; padding: 20px 30px; border: var(--border); background: #001}
.help p {border: none; padding: 0}
.help ul li:last-child {margin-bottom: -10px}

#search {margin-top: -1px; margin-bottom: 20px}
.addrhlpr {font-size: 8pt}
td.checkbox {width: 40px; text-align: center}
td.search > * {vertical-align: middle}
td.names a {font-size: 9pt}
.book td:first-child {font-weight: 700}
#activefilter {padding: 4px 8px 3px}
#bk h4 {display: none}

#book, #emptybook {margin: -15px 0 -10px; padding: 0}
#book, #filter, #search {background: #001}
#book table {width: 100%; border: var(--border)}
#book table th {font-size: 8.5pt; border-bottom: var(--border); background: linear-gradient(180deg,#080818, #000008 75%)}
#book table tr:hover {background: #1e0b28}
#book table tr:hover textarea {color: var(--ink)}
#book th:last-child {padding: 0; font-size: 0; background: var(--nuke) no-repeat center center / 14px, linear-gradient(180deg,#080818, #000008 75%)}
#book td {border-bottom: var(--border_soft)}
#book #visualid td {border-color: #26235c}
#book p {padding: 15px 15px 15px 35px}
#book + #buttons {margin: 9px 0 20px}
#emptybook {margin-bottom: 20px}

#booksearch, #filter, #add, #import, p.buttons {box-shadow: var(--bevel); background: var(--panel)}

#booksearch {margin: 0; padding: 7px 5px; text-align: center; border: var(--border)}
#buttons {text-align: right; background: linear-gradient(90deg, #001, #000)}
#config + #buttons, #content + #buttons {margin: -3px 0 12px; padding: 10px 5px; border: var(--border); background: var(--panel)}
#content h3:first-child {margin-top: -15px; font-size: 10.5pt}
#content h3 {margin: 0 20px 10px; padding: 5px 10px; border: none; border-bottom: 1px dotted #2d295f; border-radius: 0; background: none}
#content p + h3 {margin-top: 15px}
#content p {padding: 0 30px; line-height: 1.4}

#filter a:link, #filter a:visited, #activefilter {margin: 2px 0; padding: 2px 5px; display: inline-block; text-align: center; text-transform: capitalize; color: #4a42bd; border: 1px solid #26225d; background: #000}
#filter a:hover, #filter a:focus {color: var(--a_hover); border: 1px solid var(--a_hover); transform: scale(1.1)}
#filter a:active {color: var(--ink); box-shadow: var(--highlight), inset 3px 3px 3px #000; background: #652787}
#filter {margin: -21px 0 -29px; padding: 17px 0 15px; text-align: center; border: var(--border)}
#filter p:first-child {padding-bottom: 0}
#filter p {margin: -3px 0 -3px; padding: 12px 10px 0}
#filter p, #search td {font-size: 9pt; font-weight: 700}
#filter + #search > form {margin: 0; padding: 0}
#filter + #search {margin-top: 13px; margin-bottom: -18px; border: var(--border)}
#filter span a:active {background: none; box-shadow: none; color: #4f0519}
#filter span a, #filter span a:hover {display: inline-block; word-spacing: normal; letter-spacing: normal; border: none; background: none; transform: none}
#filter span b {margin: -3px 5px 0; line-height: .8; text-transform: uppercase; font-size: 11pt; color: #fff}

form[action="subscriptions"] {margin: 0}
#helpsubs {margin: -16px 0 -11px; padding: 20px 15px 15px 48px; background: #001 var(--infohelp) no-repeat 12px center / 24px}
#host_list tr {background: var(--row)}
img[src="/imagegen/id?s=256&c="], img[src="/imagegen/id?s=20&c="] {opacity: 0}

#messages + p, p.book {padding: 20px 20px 20px 42px; border: var(--border); background: #001 var(--addressbook) no-repeat 10px center / 24px}

/* notifications */
#messages {position: fixed; left: 0; right: 0; top: 16px; z-index: 999}
#messages:empty {margin-top: -10px; display: none}
#messages > .messages {margin: -15px 0 14px; padding: 20px 20px 20px 50px; color: var(--ink); border: var(--border); border-radius: 0}
#messages + p {padding: 12px 10px 8px 20px}
#messages p {padding: 15px 15px 15px 46px; background: var(--infohelp) no-repeat 12px center / 28px, var(--no) no-repeat right 8px top 8px / 12px, #000; background-blend-mode: normal, luminosity}
#messages p:hover {background-blend-mode: normal; cursor: crosshair}

#ovrvw #content p {margin-bottom: 10px; line-height: 1.5}
td > img[width="320"], td > img[src^="/imagegen"] {margin: 10px 3px; padding: 5px; width: 240px; height: 240px; border-radius: 2px; border: var(--border); background: #000}
textarea[name="config"], textarea[name="content"] {margin: -26px 0 0; resize: none; font-size: 8.5pt; border: var(--border); border-radius: 0}
textarea[name="config"] {height: 220px; overflow-y: scroll; resize: none}

.book td.names {width: 200px; white-space: nowrap}
.book td:nth-child(2) {padding: 2px 0 2px 5px; width: 30px}
.book td:nth-child(3) .addrhlpr:hover {filter: drop-shadow(0 0 1px #b73fff)}
.book td:nth-child(3) a {font-size: 0}
.book td:nth-child(3) {padding: 2px 25px 2px 0; width: 20px; text-align: center}
.book th {padding-top: 6px; padding-bottom: 6px}

.destinations textarea {margin: 0; padding: 1px 1px 1px 2px; width: 100%; height: 32px; resize: none; overflow-x: auto; overflow-y: hidden; border-radius: 0; border: none; border-left: var(--border_soft); border-right: 3px solid #17142f}
#host_details {margin-top: -25px}
#idAddress {text-transform: none}


/* export */
#export {height: 39px; position: absolute; top: 0; right: 7px; border-left: var(--border)}
#exporthosts:disabled {pointer-events: none; opacity: .5}
input.export {margin-right: 4px}
input#exporthosts {margin: 0 -2px 0 5px; padding: 0; width: 29px; height: 29px; min-width: 0; display: inline-block; font-size: 0; background: var(--download) no-repeat center center / 16px, linear-gradient(180deg,#010, #000)}
input#exporthosts:hover, #addressbook input#exporthosts:focus {border: var(--border_input_hover); box-shadow: var(--highlight), inset 0 0 1px 1px #757; background: #000; background: var(--download) no-repeat center center / 16px, linear-gradient(180deg,#202 50%, #000 50%); background-blend-mode: luminosity}
input#exporthosts:active {text-shadow: 0 1px 1px #3C1751; box-shadow: var(--highlight), inset 3px 3px 3px #000; background: #652787; background: var(--download) no-repeat center center / 16px, linear-gradient(180deg,#401856, #501f6c)}

/* add / import */
#add, #import {margin-top: -2px; padding: 0 10px 0; border: var(--border)}
#add {margin-top: -10px}
#add h3, #import h3 {margin-top: -1px; margin-left: -11px; margin-right: -11px; padding: 8px 10px 8px 30px; font-size: 10pt; background-position: 6px center}
#add table, #import table {width: 100%}
#add td:first-child, #import td:first-child {width: 1%; min-width: 120px; white-space: nowrap; text-align: right}
#add td:last-child, #import td:last-child {width: 94%}
#add input[type=text], #import input[type=file] {width: calc(100% - 16px)}
#import .buttons, #add .buttons {margin: 10px -10px 0; padding: 12px 8px; border: none; border-top: var(--border)}
 #add .buttons {margin-top: 12px}
#import table {margin-top: -2px}
#import input[type=file] {margin-left: -5px}
#import td:first-child {padding-left: 15px}

/* forms */
input {margin: 2px 4px 2px 0; padding: 4px}
input[type=file] {border: none; background: none}
input[type=submit], input[type=reset], .fakebutton, .fakebutton:visited {padding: 6px 10px; min-width: 100px; text-align: center}
input[type=submit]:hover, input[type=reset]:hover, input[type=submit]:focus, input[type=reset]:focus {background-size: 100%}
.fakebutton:hover, .fakebutton:focus {background-size: auto}
input[type=text] {padding: 8px}
input.update {margin-left: 5px}
input::placeholder {font-weight: 400; font-style: italic; color: var(--ink); opacity: .7}
input:focus::placeholder {opacity: 0}

#subsLog pre {margin-top: -26px; padding-left: 10px; width: calc(100% - 17px); height: auto; white-space: pre-wrap; font-weight: 400; color: var(--ink); background: #000}
textarea[cols="70"] {width: 100%; height: 40px; white-space: pre-wrap}
textarea:focus::placeholder {opacity: 0}
textarea, #subsLog pre {padding: 3px 5px; width: 100%; height: 200px; resize: none; font: 700 8.5pt var(--monospaced); line-height: 1.4; color: #7670c2; border: 1px solid #26225d; background: #000}

#search input[type=text], #search input[type=submit] {animation: fade-in .5s ease 1s both}
#search input[type=text] {padding: 7px 8px; min-width: 280px; border-radius: 1px 0 0 1px; box-shadow: none}
#search input[type=text]:focus {border: 1px solid var(--hover); filter: none;}
#search input[type=submit] {margin-left: -16px; padding: 7px 8px; width: 40px; min-width: 0; position: relative; z-index: 10; overflow: hidden; color: transparent; text-shadow: none; -webkit-text-stroke: 0; border: var(--border_input); border-radius: 0 1px 1px 0; background: #000 var(--search) no-repeat center center / 14px}
#search input[type=submit]:hover, #search input[type=submit]:focus, #search input[type=text]:focus ~ input[type=submit] {padding: 7px 8px; border: 1px solid var(--hover); box-shadow: inset 0 0 0 1px #000, inset 0 0 3px 1px var(--hover), inset 0 0 0 4px #000}
#search input[type=text]:focus ~ input[type=submit] {transition: ease all .1s}
#search input[type=submit]:active {box-shadow: inset 0 0 0 1px #000, var(--btn_shadow_active); background: var(--hover) var(--search) no-repeat center center / 14px; background-blend-mode: luminosity}
#booksearch {padding: 6px; text-align: center}
#search input {vertical-align: middle; line-height: 1.3}

/* identicon */
#visualid h3 {margin-top: -1px; border-left: none; border-right: none}
#visualid {margin-top: -10px; border: var(--border); background: #001}
#visualid table {margin-top: -15px; margin-bottom: -1px; width: 100%; border-left: none; border-right: none; border-collapse: collapse}
#visualid td[colspan="2"] {padding: 17px 9px 15px; text-align: right; border-top: var(--border)}
#visualid td:first-child {text-align: right}

/* page titles */
.headline h3, h3 {padding: 10px 5px 10px 34px; word-spacing: .1em; letter-spacing: .08em; text-transform: uppercase; font-size: 11pt; background: var(--addressbook) no-repeat 10px center, var(--title); background-size: 18px, 4px 100%, 100%}
.headline#subscriptions h3 {background: var(--subscription) no-repeat 10px center, var(--title); background-size: 18px, 4px 100%, 100%}
.headline#subscriptions h3 span {margin: 0 4px -4px; float: right}
.headline#subscriptions h3 span a {margin-top: 3px; display: inline-block; font-size: 80%}
.headline#configure h3 {background: var(--config) no-repeat 10px center / 18px, var(--title); background-size: 18px, 4px 100%, 100%}
.headline h4 {padding: 10px 10px 10px 40px; background: #001 var(--files) no-repeat 13px center / 16px}
p#filtered {padding: 15px 250px 15px 35px; background: var(--filter) no-repeat 13px center / 28px}
p.book {padding: 10px 10px 10px 35px; background: var(--addressbook) no-repeat 13px center / 16px}

/* export hosts button adjustments */
p.book {padding-left: 35px}
#messages + p, p.book {border: var(--border); background: #000 var(--addressbook) no-repeat 5px center / 24px}

/* host details page */
#host_details td {padding: 5px 10px}
#host_details td:first-child {width: 10%; min-width: 10px; white-space: nowrap; text-align: right; font-weight: 700; border-right: var(--border_soft)}
#host_details td:last-child {width: 90%; text-align: left; border-left: none; border-right: none}
#host_details td.destinations {background: none}
#host_details .destaddress {font-family: var(--monospaced)}
#host_details tr:hover, #host_details tr:hover td, #visualid tr:hover, #visualid tr:hover td {background: transparent}
.destaddress:focus {background: #003; outline: none}
#host_details .destaddress {margin-right: -2px; white-space: normal; word-break: break-all}
#dtls #book form {margin-bottom: -7px}
#dtls #book form + #buttons {padding-bottom: 14px}
#hostNotes td:last-child {padding: 0}
#hostNotes input[type=submit] {margin: 14px 20px 12px; display: none; float: right}
#hostNotes textarea:focus + input[type=submit] {display: inline-block}
#hostNotes textarea {margin: 0; padding: 4px 10px; font-family: var(--bodyfont); font-size: inherit; font-weight: 400; color: var(--ink); border: none; box-shadow: none; opacity: 1; background: transparent; border-bottom: 1px solid transparent; -moz-user-select: auto; -webkit-user-select: auto; user-select: auto}
#hostNotes textarea:focus {border-bottom: var(--border_soft); background: #000}

/* hostname list */
#host_list {margin-top: 28px}
#host_list th {padding: 7px 5px}
#host_list td {padding: 5px}
#host_list td:not(:first-child):not(:last-child) {border-left: var(--border_soft)}
.info {width: 1%; text-align: center}
#host_list .names {padding-left: 10px; width: 150px; width: 30%; white-space: nowrap}
td.names {border-left: var(--border_soft)}
td.names:hover, #host_list td.b32link:hover, #host_list td.helper:hover, #host_list td.destinations:hover {box-shadow: inset 0 0 0 1px var(--a_hover); background: #000}
.names a {padding: 3px 0; width: 100%; display: inline-block}
.names a[href$=".i2p/"] {padding-right: 10px; overflow: hidden; text-overflow: ellipsis}
.info a[href$=".i2p/"], #host_list td.b32link a, #host_list td.helper a {width: 100%; display: inline-block; vertical-align: middle}
.info img {margin: 2px; padding: 1px; width: 24px; height: 24px; vertical-align: middle; border: 1px solid #334; border-radius: 2px; background: #000}
.info img:hover, .names a:focus img {border: var(--border_input_hover); background: #652787}
.info a:active img, .info a:focus img {transform: rotate(45deg) scale(0.8); transition: ease all .1s 0s}
#host_list .checkbox {width: 32px; white-space: nowrap; font-weight: 700}
#host_list .b32link, #host_list .helper {padding: 0 5px; width: 5%; white-space: nowrap; text-align: center}
#host_list td.b32link a, #host_list td.helper a {font-size: 0}
#host_list td.b32link a::after, #host_list td.helper a::after {width: 16px; height: 16px; display: inline-block; text-align: center; background: var(--link) no-repeat center center; cursor: pointer; content: ""}
#host_list td.helper a::after {background: var(--helper) no-repeat center center}
#host_list td.b32link a:hover, #host_list td.helper a:hover,
#host_list td.b32link a:focus, #host_list td.helper a:focus {filter: drop-shadow(0 0 2px #652787)}
#host_list .destaddress {padding: 3px 3px 3px 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-family: var(--monospaced); font-weight: 400; text-shadow: 0 1px 1px #000; opacity: .7; user-select: all}
#host_list tr:hover .destaddress, #host_list .destaddress:focus {opacity: 1}
#host_list .destaddress:focus {text-overflow: clip}
#book + #buttons .buttons .cancel {display: none}
td.destinations {max-width: 50px; border-left: var(--border_soft); border-right: var(--border_soft)}
tr:hover td.destinations {color: #aa0}

#showing, #paginate {display: inline-block}
#showing {margin-left: 4px}
#paginate, #filtered, #results {margin-right: 4px; float: right; word-spacing: 0; letter-spacing: 0; text-transform: none}
#addressbook.headline h3 {margin-bottom: 0; padding-right: 44px; position: relative}
#activefilter, .selected {font-weight: 700; color: #999; box-shadow: var(--highlight), inset 2px 2px 2px rgba(0,0,0,.9)}
.active {color: #ff6}
#showing {margin-left: 6px}
#filtered, #results {font-size: 10pt}

/* paginate */
#paginate {margin: -4px 4px 0 0; position: relative; overflow: hidden; font-size: 0; text-align: center; border: 1px solid #26225d; background: var(--title); background-size: 4px 100%, 100%}
#prev, #next, #current {font-size: 11pt; text-shadow: none}
#prev a, #next a, #current {box-shadow: var(--highlight)}
#current {padding: 3px 10px; display: inline-block; vertical-align: middle; text-align: center; font-size: 11pt; color: var(--ink); border-left: 1px solid #26225d; border-right: 1px solid #26225d}
#prev, #next {margin-top: -1px; position: relative; display: inline-block; vertical-align: middle; line-height: 0}
#prev.inactive, #next.inactive {padding: 10px; border: none}
#prev a, #next a {margin: 0; padding: 10px; font-size: 0}
#prev::after, #next::after {height: 0; width: 0; position: absolute; top: calc(50% - 5px); right: calc(50% - 3px); border-width: 6px; border-style: solid; border-color: transparent #89f transparent transparent; content: ""; pointer-events: none}
#prev.inactive::after, #next.inactive::after {opacity: .6}
#next::after {left: calc(50% - 3px); right: 0; border-color: transparent transparent transparent #89f}
#prev:not(.inactive):hover::after, #prev:not(.inactive) a:focus::after {border-color: transparent var(--hover) transparent transparent}
#next:not(.inactive):hover::after, #next:not(.inactive) a:focus::after {border-color: transparent transparent transparent var(--hover)}
#empty {margin: 20px 0 30px; height: 1px; background: linear-gradient(90deg, rgba(0,0,0,0), #26235c, rgba(0,0,0,0))}

/* svg */
.illustrate {margin: 20px auto 15px; padding: 10px; max-width: 700px; height: auto; font-size: 10pt; border-radius: 2px; border: 1px solid #557; box-shadow: inset 0 0 0 1px #001, inset 0 0 1px 1px #889; background: #001}
.iframed .illustrate {margin-bottom: 25px}
.illustrate:hover {border: 1px solid #88a}
svg #space, svg .subs {fill: #001; stroke: #99a3ff}
svg .a.tooltip, svg .private {fill: #225; stroke: var(--ink)}
svg .privatezone {fill: #002}
svg tspan {fill: var(--ink)}
svg tspan:hover, svg .tooltip:hover .g {fill: #272}
svg .tooltip.link:hover {stroke: var(--hover)}
svg a tspan:hover, svg #sublist:hover #hovershow,
svg .a.tooltip:hover + .b > tspan, svg .a.private:hover + .b > tspan, svg a:hover .g {fill: var(--hover)}
svg #hover stop:first-child, svg #hover2 stop:first-child {stop-color: #005}
svg #hover stop:last-child, svg #hover2 stop:last-child {stop-color: #001}
svg #arrow stop:first-child {stop-color: #007}
svg #arrow stop:nth-child(2) {stop-color: #003}
svg #arrow stop:last-child {stop-color: #001}

/* iframed */
.iframed .page {margin: 1px 0 0; overflow: hidden; border: none}
.iframed .headline h3, .iframed h4, .iframed #filtered, .iframed #search, .iframed #helpconfig {margin: -1px 10px 0}
.iframed #filter {margin: -1px 10px -29px}
.iframed .headline h3:first-child + h4 {margin: 13px 10px 0}
.iframed#dtls .headline h3 {margin: -1px 10px 24px}
.iframed#subsLog .headline h3:first-child + h4 {margin: -1px 10px 26px}
.iframed .book tr.head th {border-top: var(--border); border-bottom: var(--border)}
.iframed #book #host_details {border-top: var(--border)}
.iframed #book, .iframed #book + #buttons, .iframed #book table {border-top: none; border-bottom: none}
.iframed #emptybook {margin: -15px 10px 20px}
.iframed #helpsubs {margin-bottom: 0}
.iframed input.export {margin-right: 14px}
.iframed #messages > .messages {margin: 5px 10px 10px}
.iframed #navi {border-right: none; border-left: none}
.iframed #published {margin-bottom: 0}
.iframed #visualid {margin-bottom: 10px}
.iframed #visualid td[colspan="2"] {padding: 22px 19px 20px}
.iframed#sbs #content, .iframed #config, .iframed #config + #buttons, .iframed#subsLog #config {margin: -27px 10px -13px}
.iframed #helpsubs, .iframed #helpconfig, .iframed #add, .iframed #import, .iframed #book, .iframed #book + #buttons {margin-left: 10px; margin-right: 10px}
.iframed#subsLog pre {width: calc(100% - 12px)}
.iframed #import {margin-top: 10px;}
.iframed #config + #buttons, .iframed #content + #buttons {margin: 12px 10px}
.iframed #messages {top: -4px}

@keyframes fade-in {from {opacity: 0} to {opacity: 1}}

/* responsive layout */
@media screen and (max-width: 1000px) {
.illustrate {margin: 15px auto 10px; min-width: 450px; width: 90%}
}

@media screen and (max-width: 1200px) {
#navi a, #navi a:visited, #navi a:hover, #navi a:focus, #navi a:active {padding-left: 21px; background-size: 12px, 100%}
#filter {padding: 0 1px}
#filter p {margin-left: 0; margin-right: 0}
#filter a {min-width: 6px; padding: 0 6px}
#paginate {margin-top: -3px; margin-right: 2px}
form[action="export"]::after {height: 21px}
#addressbook input#exporthosts {margin-top: 4px}
#prev, #next, #current {font-size: 10pt}
#filtered, #results {font-size: 9.5pt}
.headline h3, #subscriptions.headline h3, #configure.headline h3 {padding-left: 30px; background-size: 20px, 4px 100%, 100%; background-position: 6px center}
.iframed #prev a, .iframed #next a {padding: 11px 10px}
.iframed #prev::after, .iframed #next::after {top: calc(50% - 5px)}
#prev.inactive::after, #next.inactive::after {top: calc(50% - 6px)}
#current {padding: 2px 10px; display: inline-block; font-size: 10pt}
.names a[href$=".i2p/"] {max-width: 260px}
}

@media screen and (min-width: 1200px) {
#filter a {font-size: 10pt; margin: 0 2px -5px; display: inline-block; min-width: 12px}
}

@media screen and (min-width: 1500px) {
body, #navi a, input[type=text], select, h4, td.names a, #filter p, #search td, p, a, .help li, td, tt, code, input[type=submit], input[type=reset], .destaddress, input[type="file"], input[type="file"]::file-selector-button {font-size: 10.5pt}
textarea, textarea[name="config"], textarea[name="content"], #subsLog pre {font-size: 10pt}
h3 {font-size: 12pt}
#filter a {font-size: 11pt; min-width: 14px}
.destinations textarea {height: 34px}
#ovrvw #content p {line-height: 1.6}
#export {padding-left: 4px; height: 40px; position: absolute; top: -1px; right: 6px}
input#exporthosts {margin: 6px 0 -2px 2px}
#addressbook.headline h3 {padding-right: 45px}
#host_list td.b32link a::after, #host_list td.helper a::after {width: 18px; height: 18px}
}

@media screen and (min-width: 1640px) {
body, input[type=text], select, h4, td.names a, #filter p, #search td, p, a,
.help li, td, tt, code, input[type=submit], input[type=reset], .destaddress {font-size: 10.5pt}
.headline#subscriptions h3 span a {font-size: 90%}
}