/* I2P Theme Override:Dark */
/* Comment:Larger text (and other tweaks) for Chinese & other doublebyte charactersets */
/* Author:dr|z3d */
a[href^="configpeer?peer"],h3#iptransport a,h3#iptransport a{font-size:0}
#applinks::first-letter,#sitelinks::first-letter,#sitemap h3::first-letter{font-size:14pt}
button,button:visited,input[type=submit],input[type="reset"],.cancel,.accept{margin:4px;padding:6px 8px;display:inline-block;min-width:80px;line-height:1.5;font-size:110%;font-weight:400;letter-spacing:.05em}
button.control{min-width:32px}
label,.nowrap{letter-spacing:.05em}
div.news{font-size:10pt;font-style:normal}
h1[class],h2,h3,h4{text-shadow:none;font-weight:400}
h1[class]{padding:14px 15px 14px 68px;font-size:20pt}
h2{font-size:16pt;font-weight:400;text-shadow:none}
h3{font-size:14pt;padding:7px 10px}
h3#iptransport a,h3#advancedconfig a,#reseedsetup a{font-size:0}
h3#webappconfiguration,h3#i2pclientconfig{margin-bottom:-15px}
h3#webappconfiguration,h3#i2pclientconfig{margin-bottom:-16px}
h4,#applinks,#sitelinks,#sitemap h3{font-size:14pt}
select{font-weight:400;font-size:11pt;min-height:30px}
td.optionsave{border-top:1px solid #252}
td>*{vertical-align:middle}
.cells tt,.cells tt a{font-size:9pt}
.confignav{font-size:13pt}
.langselect{font-size:9pt}
.langselect input+img,.langselect .optbox+img{transition:none}
.langselect input[name="lang"]:checked+img{margin-left:-10px;margin-top:-20px}
.main li,ul.statlist li b,ul.statlist a[name]{line-height:1.6}
.main table{line-height:1.3;font-size:10pt}
.main,#sidebar,p,b,a,.messages,.messages li,div.error,.error ul li,.applabel a,.sitemapLabel a,code,pre,tt,#newsDisplay,#newsDisplay a,#newsStatus,.infohelp,.infowarn,.main li,ul.statlist li b,ul.statlist a[name],.themechoice,.sitemapLabel,.configtable td.infohelp,p.infohelp,td.infohelp,p.infowarn,td.infowarn,#debugmode,.sybilinfo{font-size:11pt;font-weight:400;line-height:1.6;vertical-align:baseline}
.newsentry+hr{margin-bottom:5px}
.news p,.news a,.sb_notice,.sb_notice a,.search select,.search button,.search input[type=text]{font-size:10pt}
.percentBarOuter{margin-top:-3px;margin-bottom:-5px}
.percentBarText{margin-top:-2px}
.sb_notice,.sb_notice a{font-size:10pt;line-height:1.2}
.sitemapLabel{margin-bottom:-5px}
.smallhead,th{font-size:10pt;font-weight:400}
.sorry{font-size:12pt}
.tab2{padding-top:6px;padding-bottom:5px}
.twocol li{text-align:left;margin-left:50px}
.twocol{margin:-10px 0 -15px;column-gap:0;padding:10px 0}
#changelog pre{font-size:10pt}
#console code{letter-spacing:normal;word-spacing:normal}
#console div[lang="zh"] a{background:rgba(0,64,0,.3);padding:0 3px;border-radius:2px;line-height:180%}
#console div[lang="zh"],#console li,#console p{line-height:170%;letter-spacing:.15em;word-spacing:0;font-size:10.5pt}
#console li{list-style:none;margin-left:40px}
#fullhistory{margin-top:-13px}
#help li,#help p,#help code,#help pre{line-height:2;font-size:110%}
#leasesetdebug th a,table#leasesetsummary th a,#tunnels.main h3 a,#logs h3 a,.tab,.tab2,.confignav a{font-size:11pt;margin-right:-2px}
#minigraph{margin-top:-24px}
#routerlogs li,#criticallogs li,pre#service_logs{font-size:9pt}
#sb_warning{padding-top:10px;padding-bottom:10px}
#searchbar span{margin:5px}
#sidebar a,#sidebar b{font-size:10pt;font-weight:400}
#sidebar button{font-size:10.5pt;padding:5px 8px}
#sidebar button.download{padding:5px 10px;width:calc(100% - 10px);font-size:10pt}
#sidebar button.reload,#sidebar button.stop{padding:3px 8px;min-width:94px}
#sidebarconf button{min-width:32px}
#sidebar h3 a{font-size:14pt;font-weight:400;text-transform:uppercase;letter-spacing:.15em}
#sidebar h3,#sidebar h4,#sidebar p,#sidebar h3 a,#sidebar a{text-shadow:none}
#sidebar h4,#sidebar h4 a{font-size:11pt;font-weight:400}
#sidebar td{padding:1px 6px}
#sidebar #sb_newsheadings a{font-size:9.5pt}
#sidebar #sb_newsheadings td,#sidebar #sb_newsheadings tr:hover td{background-position:4px center;padding-left:24px}
#sidebar #sb_peers td::after,#sidebar #sb_peersadvanced td::after,#sidebar #sb_tunnels td::after,#sidebar #sb_queue td::after{display:inline-block;min-height:14px;content:""}
#themeheading,#langheading,#passwordheading,#netconfig th,#externali2cp th,#plugininstall th,#plugininstall2 th,.configtable th,th.th_title{font-size:12pt}
#banlist{column-width:500px}
#updateAvailable{margin-top:5px}
#webappconfiguration a::before,#i2pclientconfig a::before,#pluginmanage a::before{margin-top:-3px;width:20px;vertical-align:middle;background-size:14px}

@media screen and (max-width:1500px){.tab,.tab2{font-size:10.5pt;margin-right:-3px}h1[class]{font-size:15.5pt;padding-left:54px}}
@media screen and (max-width:1076px){.tab2{padding-top:5px;padding-bottom:5.5px}}
@media screen and (max-width:1000px){#console div[lang="zh"],#console p,#console li{font-size:10.5pt}}
@media screen and (min-width:0){body{font-size:12pt;line-height:1.3}#sidebar #sb_status{margin-top:-11px}}
@media screen and (min-width:1500px){#sidebar button.reload,#sidebar button.stop{padding-top:5px;padding-bottom:5px;min-width:119px}#sb_logo img{margin:-2px 0 -10px -4px}.h3navlinks a{padding:9px 10px 11px 17px}}
