/* I2P Dark theme globals */
/* Author:(c) dr|z3d 2022 */

@import url(/themes/fonts/DroidSans.css);
@import url(chromescroll.css);

:root{
--a:#494;
--active:#f90;
--badge:linear-gradient(180deg,#020,#010);
--badge_hover:linear-gradient(180deg,#730,#310);
--badge_active:linear-gradient(180deg,#310,#730);
--badge_shadow_hover:var(--highlight),0 0 0 1px #f60;
--bevel:var(--highlight),inset 0 0 0 2px rgba(32,92,32,.35);
--bevel_hard:var(--highlight),inset 0 0 0 2px rgba(32,80,32,.6);
--bevel_hover:var(--highlight),inset 0 0 0 2px rgba(255,96,0,.35);
--bevel_warn:var(--highlight),inset 0 0 2px 1px #900;
--bg_dots:repeating-linear-gradient(90deg,rgba(0,8,0,.5) 2px,rgba(0,16,0,.5) 4px) center center / 4px 100%,repeating-linear-gradient(180deg,#000 2px,#010 4px) center center / 100% 4px;
--bg_title:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 1'%3E%3Cpath fill='%2300180088' d='M0 0h1v1H0z'/%3E%3Cpath fill='%2300000050' d='M1 0h1v1H1z'/%3E%3C/svg%3E");
--bodyfont:Droid Sans,Open Sans,Noto Sans,Ubuntu,Segoe UI,Bitstream Vera Sans,DejaVu Sans,Verdana,Lucida Grande,Helvetica,sans-serif;
--bodybg:var(--bg_title) center center / 2px,var(--hstripe) fixed center center / 4px 100%;
--border:1px solid #242;
--border_hard:1px solid #252;
--border_hover:1px solid #f60;
--border_soft:1px solid #131;
--border_softer:1px solid #020;
--border_dotted:1px dotted #242;
--btnAction_hover:var(--nav_hover);
--btnAction:linear-gradient(180deg,#030,#020 50%,#010 50%);
--btn_hover:linear-gradient(180deg,#000,#010);
--btn_hover_radial:radial-gradient(at center bottom,rgba(96,48,0,.4) 0,rgba(0,0,0,0) 80%),#000;
--btn:linear-gradient(180deg,#001000,#000 5%,#000 95%,#001000);
--btn_shadow_active:var(--highlight),inset 3px 3px 3px 3px rgba(0,0,0,.8),0 0 0 1px #000;
--btn_shadow_hover:var(--highlight),inset 0 0 2px 1px rgba(255,96,0,.8),inset 0 0 4px 0 rgba(255,96,0,.8),inset 0 0 0 3px #000;
--btn_shadow:inset 0 0 0 1px #151,inset 0 0 0 2px #000,inset 0 0 2px 2px #050,inset 0 0 5px 0 rgba(0,64,0,.8),inset 0 0 0 3px #000,0 0 0 1px rgba(0,16,0,.2);
--camo:url("data:image/svg+xml,%3Csvg viewBox='0 0 240 240' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cfilter id='a'%3E%3CfeTurbulence baseFrequency='.2' numOctaves='4' seed='7' stitchTiles='stitch' type='fractalNoise'/%3E%3CfeTile/%3E%3CfeComponentTransfer%3E%3CfeFuncR slope='0.9469288793103452' tableValues='0 0 0 0 1 1' type='discrete'/%3E%3CfeFuncG slope='1.1477696210488517' tableValues='0 0 0 1 1' type='discrete'/%3E%3CfeFuncB intercept='4.3091942798132177' slope='-1.9643779184626435' tableValues='0 1' type='discrete'/%3E%3CfeFuncA intercept='-3.5179822198275872' slope='3.4636819773706904' type='discrete'/%3E%3C/feComponentTransfer%3E%3CfeColorMatrix values='1 0 0 0 0 -1 1 0 0 0 -1 -1 1 0 0 0 0 0 0 1'/%3E%3CfeColorMatrix type='matrix' values='-0.08 0.42 0.09 0 0.08 -0.17 0.35 -0.08 0 0.17 -0.08 0.15 -0.04 0 0.08 0 0 0 0 1'/%3E%3C/filter%3E%3Cpath d='m-29.6-29.6h256v256h-256z' filter='url(%23a)'/%3E%3Cpath d='m-4-4h256v256h-256z' fill='%23080000' opacity='.7'/%3E%3C/svg%3E");
--center:no-repeat center center;
--depress:var(--highlight),inset 4px 4px 4px rgba(0,0,0,.7);
--dotted:1px dotted #252;
--download_bar:repeating-linear-gradient(135deg,#000 1px,#000 5px,#010 6px,#010 11px);
--footer:linear-gradient(180deg,#020,#000 75%);
--glow_bottom:radial-gradient(at center bottom,rgba(16,72,16,.3),rgba(0,0,0,0) 50%);
--glow_bottom_hover:radial-gradient(at center bottom,rgba(255,96,0,.25),rgba(0,0,0,0) 50%);
--glow_top:radial-gradient(at center -45px,rgba(16,72,16,.3),rgba(0,0,0,0) 85%);
--graphoverlay:linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.4)),repeating-linear-gradient(90deg,rgba(192,255,192,.01) 2px,rgba(0,0,0,.1) 4px) center center / 4px 100%,repeating-linear-gradient(180deg,rgba(0,0,0,.2) 2px,rgba(192,255,192,.01) 4px) center center / 100% 4px;
--h1:var(--bg_title) left top / 2px,repeating-linear-gradient(to bottom,rgba(0,24,0,.3) 2px,rgba(0,0,0,.3) 4px) center center / 100% 4px,linear-gradient(180deg,#020,#010 50%,#010 50%,#000),var(--camotile) left top /256px,#000;
--h2:repeating-linear-gradient(90deg,rgba(0,0,0,.4) 2px,rgba(0,32,0,.6) 4px) center center / 4px 100%,linear-gradient(180deg,#001800,#000 75%);
--h3_blend:normal,normal,normal,exclusion;
--h3_fade:linear-gradient(180deg,#005000,#000 75%);
--h3:var(--bg_title);
--heading:linear-gradient(180deg,rgba(0,0,0,0) 50%,#000 50%),repeating-linear-gradient(90deg,rgba(0,0,0,.5) 2px,rgba(0,16,0,.5) 4px);
--helpbox:linear-gradient(135deg,#000d00,#000900);
--help:repeating-linear-gradient(90deg,#000 2px,#010 4px);
--highlight_badge:inset 0 0 0 1px #010,0 0 0 1px #000;
--highlight:inset 0 0 0 1px #000;
--hover:#f60;
--ink:#ee9;
--input_txt:linear-gradient(180deg,#000800,#001800);
--isdown:repeating-linear-gradient(135deg,#131,#131 10px,#300 11px,#000 12px,#000 19px,#300 19px,#000 20px);
--label:linear-gradient(180deg,#001800 50%,#000 50%);
--mainbg:repeating-linear-gradient(90deg,rgba(0,0,0,.8) 2px,rgba(0,24,0,.7) 4px) center center / 4px 100%,repeating-linear-gradient(180deg,rgba(0,0,0,.8) 2px,rgba(0,24,0,.7) 4px) center center / 100% 4px,var(--camo) center center / 2048px;
--monospaced:Droid Sans Mono,Noto Mono,DejaVu Sans Mono,Lucida Console,monospace;
--msg:repeating-linear-gradient(180deg,rgba(0,0,0,.6) 2px,rgba(0,32,0,.3) 4px) center center / 100% 4px,var(--hat) no-repeat right 2px bottom -2px / auto 56px,linear-gradient(180deg,#010,#000400);
--msg_nohat:repeating-linear-gradient(180deg,rgba(0,0,0,.6) 2px,rgba(0,32,0,.3) 4px) center center / 100% 4px,linear-gradient(180deg,#010,#000400);
--msg_warn:repeating-linear-gradient(180deg,rgba(0,0,0,.6) 2px,rgba(96,0,0,.3) 4px) center center / 100% 4px,var(--hat) no-repeat right 2px bottom -2px / auto 56px,linear-gradient(180deg,#100,#040000);
--msg_warn_nohat:repeating-linear-gradient(180deg,rgba(0,0,0,.6) 2px,rgba(96,0,0,.3) 4px) center center / 100% 4px,linear-gradient(180deg,#100,#040000);
--navbar:linear-gradient(180deg,#1a261a,#223022 7%,#212f21 9%,#172317 21%,#091109 49%,#050d05 50%,#020602 51%,#010301 53%,#000000 56%);
--nav_hover:linear-gradient(180deg,#730,#620 50%,#410 50%,#000);
--nav:linear-gradient(180deg,#002900,#000400);
--newsbg:var(--bg_title) left top / 2px,repeating-linear-gradient(180deg,rgba(0,0,0,.5) 2px,rgba(0,32,0,.5) 4px) repeat center center / 4px 100%;
--note_shadow:var(--bevel_hard),inset 0 0 7px 7px rgba(0,0,0,.8);
--on:#6b6,0 0 0 1px rgba(0,0,0,.7),0 0 1px 0 rgba(0,0,0,.5);
--option_highlight:inset 0 0 0 1px #002500;
--outline:0 0 0 1px #000;
--row:linear-gradient(180deg,rgba(0,16,0,.5),rgba(0,8,0,.5));
--sb_row:linear-gradient(180deg,rgba(0,24,0,.3),rgba(0,8,0,.3));
--stroke:1px rgba(237,237,146,.3);
--tab_hover:linear-gradient(180deg,#730,#410 50%,#310 50%,#180800,#000);
--textshadow:0 1px 1px rgba(0,0,0,.8);
--th:linear-gradient(180deg,#010,#000);
--title:var(--bg_title) center center / 2px,repeating-linear-gradient(180deg,rgba(0,48,0,.4) 2px,rgba(0,0,0,.8) 4px) center center / 100% 4px,linear-gradient(180deg,rgba(0,64,0,.6),rgba(0,0,0,.9)),var(--camo) center center / 2048px;
--topnav:repeating-linear-gradient(90deg,rgba(0,0,0,.4) 2px,rgba(0,32,0,.7) 4px) center center / 4px 100%,linear-gradient(180deg,rgba(0,16,0,.8),#000),var(--camo) repeat center center / 2048px;
--tr:linear-gradient(180deg,#001400,#000600);
--txt_focus:linear-gradient(180deg,#001800,#001000);
--txt_shadow:0 1px 1px #000;
--vstripe:repeating-linear-gradient(180deg,rgba(0,0,0,.9) 2px,rgba(0,16,0,.9) 4px);
--hstripe:repeating-linear-gradient(180deg,#000 2px,#001400 4px);
}

html,body{min-height:100%;background:#000}
html{scrollbar-color:rgba(16,72,16,.8) rgba(0,16,0,.5)}
body{background:var(--hstripe);background-size:100% 4px,2048px}
body.iframed{background:var(--vstripe) #000;background-size:100% 4px}
::selection{text-shadow:none}
pre,textarea,.widescroll{scrollbar-color:rgba(16,48,16,.4) rgba(0,0,0,0);transition:ease scrollbar-color .5s}
pre:hover,textarea:hover,.widescroll:hover{scrollbar-color:rgba(24,80,24,.8) rgba(0,0,0,.9);transition:ease scrollbar-color .2s}
body{font-family:var(--bodyfont);color:var(--ink)}
input,button,textarea,select,a{outline:none}
::selection{color:#000;text-shadow:none;background:rgba(0,187,0,.8)}
:-moz-broken{display:none}
input::placeholder{font-family:var(--bodyfont);font-weight:700;font-style:italic;color:var(--ink);opacity:.3}
input:focus::placeholder{opacity:0}
a:link,a:visited{word-wrap:break-word;text-decoration:none;font-weight:700;color:var(--a)}
a:hover,a:focus{text-decoration:none;color:var(--hover);outline:none}
a:active{color:var(--active)}
img{display:inline-block;font-size:0;border:none}
tt,textarea,code{font-family:var(--monospaced)}
p{text-align:justify;line-height:1.6}
p:empty{display:none}
pre{overflow-x:auto;text-align:left;font:8.5pt var(--monospaced)}
table{width:100%}
button::-moz-focus-inner,input::-moz-focus-inner{outline:none;border:none}
label{cursor:pointer}
.left{text-align:left}
.right{text-align:right}
.center{text-align:center}
input[disabled]{pointer-events:none}
input,select,button{font-family:var(--bodyfont);font-weight:700}
input[type=text],input[type=password],textarea{box-sizing:border-box}
input[type=submit],input[type=reset],button,.control,select,.fakebutton{line-height:1.2}
input[type=submit],input[type=reset],button,.control,.fakebutton,.fakebutton:visited{margin:5px 2px;padding:8px 12px;min-width:110px;text-align:center;text-decoration:none;font-weight:700;color:var(--a);text-shadow:var(--txt_shadow);border:1px solid #000;border-radius:2px;box-shadow:var(--btn_shadow);background:#000}
input[type=submit]:hover,input[type=reset]:hover,input[type=submit]:focus,input[type=reset]:focus,button:hover,button:focus,.control:hover,.control:focus,.fakebutton:hover,.fakebutton:focus{color:var(--hover);border:1px solid var(--hover);box-shadow:var(--btn_shadow_hover);background:var(--btn_hover_radial);cursor:pointer}
input[type=submit]:active,input[type=reset]:active,button:active,.control:active,.fakebutton:active{color:var(--ink);text-shadow:none;border:1px solid var(--hover);box-shadow:var(--btn_shadow_active);background:var(--hover)}
input[type=file]{margin:5px 8px;padding:0;font-weight:400;color:var(--ink);box-shadow:none;border:none;background:#000;cursor:pointer}
input[type=file]:hover{border-radius:0 15px 15px 0;background:linear-gradient(90deg,rgba(0,0,0,0),#000)}
input[type=file]:hover,input[type=file]:active{color:var(--hover)}
input[type=file]::file-selector-button{margin:2px 10px 2px 3px;padding:7px 12px;min-width:75px;vertical-align:middle;font:bold 9pt var(--bodyfont);text-align:center;text-decoration:none;color:var(--a);border:1px solid #000;border-radius:2px;box-shadow:var(--btn_shadow);background:#000}
input[type=file]:hover::file-selector-button,input[type=file]:focus::file-selector-button{color:var(--hover);border:1px solid var(--hover);box-shadow:var(--btn_shadow_hover);background:var(--btn_hover_radial);cursor:pointer}
input[type=file]:active::file-selector-button{color:var(--ink);text-shadow:var(--textshadow);border:1px solid var(--hover);box-shadow:var(--btn_shadow_active);background:var(--hover)}
input[type=text],input[type=password],textarea{color:#bb7;border:var(--border_hard);background:#000;cursor:text}
input[type=text],input[type=password]{margin:5px 10px;padding:6px 8px;text-decoration:none;font-weight:700;border:var(--border_hard);border-radius:1px;box-shadow:var(--outline);filter:none}
input[type=text]:disabled,input[type=text]:disabled:active,input[readonly="readonly"],input[readonly="readonly"]:focus{color:#161;border:1px solid #141;background:#000;box-shadow:var(--highlight)}
textarea{margin:10px;padding:5px;width:calc(100% - 15px);min-height:100px;resize:none;text-align:left;font:8.5pt var(--monospaced);color:#bb7;border:var(--border_hard);border-radius:1px;box-shadow:var(--highlight);background:linear-gradient(180deg,#000,#010)}
textarea[disabled]{background:#000}
input[type=text]:focus,input[type=password]:focus,textarea:focus{color:var(--ink);border:1px solid #373;box-shadow:var(--btn_shadow_active),0 0 2px 1px var(--hover);background:var(--input_txt);outline:none;filter:drop-shadow(0 0 1px var(--hover));transition:filter ease .3s,filter box-shadow .3s}
input[readonly]:focus{font-weight:400;color:#161;filter:none}
select{margin:5px 10px;padding:7px 24px 7px 12px;min-width:110px;color:var(--a);font-size:8pt;font-weight:700;text-overflow:ellipsis;outline:none;box-shadow:var(--btn_shadow);border:1px solid #000;border-radius:2px;background:var(--dropdown) no-repeat right 10px center / 10px,var(--btn);cursor:pointer;-moz-appearance:none;-webkit-appearance:none;appearance:none}
select:hover,select:focus{color:var(--hover);border:1px solid #f60}
select:hover,select:focus,select:active{color:var(--hover);box-shadow:var(--btn_shadow_hover);background:#000 var(--dropdown_hover) no-repeat right 10px center / 10px}
select[disabled],select[disabled]:hover{color:#494;border:none;box-shadow:var(--btn_shadow);background:var(--dropdown) no-repeat right 10px center,var(--btn) / 10px;opacity:.7;cursor:not-allowed}
select option{font-weight:400;font-size:9.5pt;color:var(--hover);background:#000}
select:-moz-focusring{outline:1px solid transparent}
select::-moz-focus-inner{outline:none;border:none}
.optbox{position:relative;width:20px;height:20px;min-width:0;display:inline-block;vertical-align:middle;box-sizing:border-box;outline:none;border:var(--border_hard);box-shadow:0 0 0 1px #000,var(--highlight),inset 3px 3px 3px 1px #000;background:linear-gradient(180deg,#020,#001800);-webkit-appearance:inherit;appearance:none;cursor:pointer}
.optbox[type=checkbox]{border-radius:1px}
.optbox[type=radio]{border-radius:50%}
.optbox:hover,.optbox:focus{border:1px solid #5a5;box-shadow:0 0 1px 1px rgba(0,0,0,.9),0 0 0 2px rgba(255,96,0,.8),inset 0 0 0 1px #020;background:#000;cursor:pointer}
.optbox:not(:checked):active{background:linear-gradient(0deg,#f60,#d40);box-shadow:var(--btn_shadow_active)}
.optbox:checked:active{box-shadow:0 0 1px 1px rgba(0,0,0,.9),0 0 0 2px rgba(255,0,0,.8),inset 0 0 0 1px #020;background:linear-gradient(0deg,#900,#f00)}
.optbox::before{width:10px;height:10px;display:inline-block;position:absolute;top:4px;left:4px;line-height:.8;box-shadow:inset 0 0 2px 2px var(--on);background:linear-gradient(135deg,#5a5,#383);content:"";opacity:1;transform:scale(1);transition:linear transform .05s;cursor:pointer}
.optbox[type=checkbox]::before{border-radius:1px;box-shadow:inset 0 0 1px 1px var(--on)}
.optbox[type=radio]:checked::before{border-radius:50%;background:radial-gradient(circle at center,#5a5 70%,#383)}
.optbox:not(:checked)::before{opacity:0;transform:scale(.3);transition:ease transform .01s}
.optbox[disabled]{box-shadow:none;background:#000;opacity:.3;pointer-events:none}
.optbox[type][disabled]::before{box-shadow:none;background:#373}
.optbox.slider[type=checkbox],.optbox.slider[type=checkbox]:hover,.optbox.slider[type=checkbox]:focus{width:40px;height:21px;border-radius:1px;position:relative;z-index:100;border:var(--border);box-shadow:var(--outline),var(--highlight),inset 3px 3px 3px rgba(0,0,0,.5);background:linear-gradient(180deg,#010,#020);outline:none;transition:ease-in left .15s;appearance:none}
.optbox.slider:not(:checked),.optbox.slider:not(:checked)[disabled]{border:1px solid #500;background:linear-gradient(180deg,#400,#600)}
.optbox.slider:not(:checked):active{background:linear-gradient(180deg,#060,#080)}
.optbox.slider:checked:active{background:linear-gradient(180deg,#800,#a00)}
.optbox.slider:not([disabled]):hover,.optbox.slider:not([disabled]):focus{box-shadow:0 0 0 1px #000,0 0 1px 2px rgba(255,96,0,.8),inset 0 0 0 1px #000,inset 3px 3px 3px rgba(0,0,0,.2)}
.optbox.slider[type=checkbox]::before,.optbox.slider::before,.optbox.slider:hover::before,.optbox.slider:focus::before,.optbox.slider:active::before,.optbox.slider:active:not(:checked)::before{width:20px;height:100%;position:absolute;top:0;left:-1px;border-radius:1px;box-shadow:inset 0 0 0 1px #373,inset 0 0 0 2px #000,0 2px 5px rgba(0,0,0,.2);background:linear-gradient(180deg,#373,#252);content:"";transform:scale(.85);transition:ease-in left .15s;opacity:1}
.optbox.slider:not([disabled]):not(:checked)::before,.optbox.slider:not([disabled]):active:checked::before{box-shadow:inset 0 0 0 1px #900,inset 0 0 0 2px #000,0 2px 5px rgba(0,0,0,.2);background:linear-gradient(180deg,#a22,#811)}
label:hover .optbox.slider[disabled],.optbox[disabled]:hover,label[disabled]:hover .optbox{pointer-events:none}
.optbox.slider:checked::before{left:18px}
label[disabled],label[disabled]:hover{opacity:.45;cursor:default}

@media (forced-colors:active){*{forced-color-adjust:none}}