/* Console Theme "Dark" - Mobile Override */
/* Author:dr|z3d */

@import url(../mobile.css);

:root{
  --membarinner_mobile:linear-gradient(90deg,rgba(0,0,0,.05),rgba(128,128,0,.15) 300px,rgba(196,0,0,.15) 400px,rgba(196,0,0,.2)),linear-gradient(180deg,rgba(28,148,58,.6),rgba(9,47,16,.6) 50%,rgba(9,27,5,.6) 50%,rgba(9,21,3,.6),rgba(0,0,0,.3));
}

#sb_logo,#clock{
  margin:-8px 0 -9px;
  width:100%;
}

#sb_logo,#sidebar form{
  width:calc(100% - 20px);
}

#sb_logo{
  margin-bottom:-18px;
  display:block;
}

#sidebar form{
  margin:-6px 0 -8px;
  width:calc(100% - 6px);
}

#sidebar #sb_routerControl{
  padding:10px;
  width:calc(100% - 20px);
}

#sidebar form,#sidebar tr{
  background:var(--topnav);
  box-shadow:var(--bevel);
}

#sidebar table[id^="sb_"]{
  width:calc(100% - 17px);
  margin:-7px auto -11px;
}

#sidebar table[id^="sb_"] td{
  padding:7px 10px !important;
  border-top:1px solid #000;
}

#sidebar td:first-child{
  max-width:none;
}

#sidebar #sb_services,#sidebar #sb_internals,#sidebar #sb_advanced,#sidebar #sb_help{
  margin:-8px 0 -10px;
  width:100%;
}

#sidebar #sb_services a,#sidebar #sb_internals a,#sidebar #sb_advanced a{
  box-shadow:0 0 0 1px #131;
}

#sidebar #sb_services a{
  padding:4px 10px;
}

#sidebar #sb_localtunnels td:first-child{
  background-size:22px;
}

#sidebar #sb_localtunnels td:last-child{
  background-position:center center;
  background-size:20px;
}

#sidebar h3{
  margin:-7px 0 -9px;
}
#sidebar h3 a{
  font-size:12pt;
}

#sidebar h3::after{
 min-height:32px;
}

#sidebar button[type="submit"],#sidebar button[type="reset"]{
  margin:5px;
  padding:12px;
  min-width:48%;
}