/* Susimail "Classic" Theme */
/* Author: dr|z3d */

@import url(/themes/console/classic/global.css);
@import url(../images/images.css);
@import url(images/images.css);

body {margin: 3px 4px; background: var(--bg3) url(/themes/console/classic/images/bg0.png) left top / 120px}
body.iframed {margin: 5px 0 0 0}
b, th, .mailListSender a {color: var(--ink_light)}
a:link {color: #6b6b94; text-decoration: none; font-weight: 700; word-wrap: break-word}
a:visited {color: #5c5c8a; text-decoration: none; font-weight: 700}
a:hover, a:focus {color: var(--hover); text-decoration: none; font-weight: 700; outline: none}
a:active {color: #f93; text-decoration: none; font-weight: 700}
a.linkspam {color: #8f1a1a}
a.linknew {color: #2a7f00}
a.sort {font-size: 0; line-height: 1}
hr {margin: 5px 0; width: 100%; height: 1px; display: none; border: none; background: #555}
li, p {margin-left: 15px; margin-right: 15px; font-size: 9pt; color: var(--ink)}
th {font-size: 10pt}
td {padding: 1px 3px; line-height: 12pt; font-size: 9pt}

.attached img {padding: 2px; border: 1px solid #cfd6ff; image-orientation: from-image}
div.attached {padding: 5px 0 5px 25px; vertical-align: middle; text-align: left; background: var(--attach) no-repeat 5px center / 16px}
div.footer {margin: 0 -10px -10px; padding: 1px; display: none; border-top: var(--border); background: rgba(255,255,255,.5)}
div.header {display: none}
div#pagenav {border-top: var(--border); padding: 10px 5px 0; font-size: 9.5pt; border-radius: 0 0 4px 4px; margin: 0 -11px}
.folders {margin-left: -2px; padding: 0 5px 5px}
.folders > * {vertical-align: middle}
h3#config {margin: -11px auto 10px; padding: 5px 10px; width: 300px; font-size: 11pt; color: var(--ink_light); border: var(--border); border-radius: 0 0 2px 2px; background: var(--header)}
img.sort:not(.selected):hover {transform: scale(1.2)}
img.sort {padding: 3px 4px; width: 10px; height: 10px; display: inline-block; vertical-align: middle; opacity: .6}
img.sort.selected {border-radius: 1px; box-shadow: 0 0 0 1px var(--border_soft), inset 0 0 0 1px rgba(255,255,255,.7), inset 2px 2px 2px rgba(0,0,0,.1); background: var(--btn_hover); opacity: 1}
.mailbody pre {white-space: pre-wrap; word-wrap: break-word}
.mailListDelete {text-align: center}
.mailListSender a, .mailListSender a:visited, .mailListDate a, .mailListDate a:visited, .mailListSize a, .mailListSize a:visited {color: #0c153d}
.mailListSender {padding-left: 18px; background: var(--user) no-repeat 2px center / 12px}
.mailListSubject {text-align: left}
#messagenav {padding-bottom: 3px}
.page {margin: 0; padding: 0 10px 10px; min-width: 800px; line-height: 1.6; text-align: center; font-size: 9pt; border: var(--border); box-shadow: 0 0 0 1px #eee; background: linear-gradient(180deg,rgba(255,255,255,.7),rgba(255,255,255,.2)), url(/themes/console/classic/images/bg2.png) var(--bg3); background-size: 100% 100%, 120px 120px}
#pagenavbottom {display: none}
#pagenavbottom td {border-top: var(--border)}
#pagenavbottom td table td {border-top: none}
.pagenavcontrols td:nth-child(2) {width: 1%; white-space: nowrap; font-weight: 700; font-size: 110%; opacity: .7}
#pagenav input:disabled {display: inline; opacity: .3}
p.error, p.info {margin: -1px -11px; padding: 15px 15px 15px 45px; display: block; line-height: 1.2; text-align: left; font-weight: 700; color: #900; border: var(--border); box-shadow: var(--highlight); background: #ffd var(--err) no-repeat 8px center / 28px}
p.footer {padding: 1px; margin: 0; font-size: 8pt; line-height: 10pt; text-align: center}
p.hl {font-size: 12pt; letter-spacing: 2pt; line-height: 18pt; font-weight: 700}
p.info {padding: 12px 10px 11px 40px; color: #337; background: var(--bg3) var(--infohelp) no-repeat 14px center / 18px}
p.mailbody {margin: 0 20px 10px; text-align: left; font: 9pt var(--monospaced)}
p.text {margin-left: 10px; margin-right: 10px}
#prefsave {margin: 10px -10px -21px; padding: 6px 0 5px; border-top: var(--border); background: var(--bg)}
pre {margin-left: 25px; margin-right: 25px; font: 8.5pt var(--monospaced)}
.spacer {display: none}
span.coloured {color: #327bbf}
table#mailbox {border: var(--border); background: var(--bg3)}
table#mailbox {margin: 1px auto -12px}
table#message_full {margin-bottom: -23px; border-top: var(--border)}
table.noborder {margin-left: 0; margin-top: 0; margin-right: 0}
table#pagenav td:first-child {width: 49%; text-align: right}
table#pagenav td:last-child {width: 49%; text-align: left}
table#pagenav td {padding: 6px 3px 4px; white-space: nowrap; text-align: center; font-weight: 700; font-size: 10pt}
table {text-align: justify; color: var(--ink_light); border-collapse: collapse}
td#addattach {border-bottom: var(--border)}
td#attachedfile {border-bottom: 1px dotted #89f}
td.mailListAttachment img {display: none}
td.mailListAttachment.isAttached {background-image: var(--attach); background-repeat: no-repeat; background-position: center center; background-size: 14px}
td.mailListDelete, td.mailListFlagged, td.mailListAttachment {width: 24px; text-align: right}
td p.info, td p.error {margin: -2px -3px}
.topbuttons {margin: -1px -11px 10px; padding: 6px 0 0; background: var(--bg); background: linear-gradient(180deg,#fff 0%, var(--bg3) 100%); border: var(--border); border-bottom: none}
.topbuttons #mailboxcontrols, .topbuttons .folders {float: left; vertical-align: middle}
.topbuttons #mailboxcontrols {margin-left: 5px}
.topbuttons #mailboxcontrols input, .topbuttons .folders input, .topbuttons .folders select {margin: 0 1px 1px}
.topbuttons #info {margin: 0 5px 0 0; float: right; overflow: hidden}
.topbuttons .pagenavcontrols {border-top: var(--border); border-bottom: var(--border)}
.topbuttons .pagenav {margin: 7px 0 -3px; width: 100%; border-top: var(--border)}
.topbuttons .pagenav input {margin: 5px 1px 2px}
.topbuttons .pagenav td {padding-bottom: 4px; white-space: nowrap; text-align: center}
.topbuttons .pagenav td:first-child, .topbuttons .pagenav td:last-child {width: 50%}
.topbuttons .pagenav td:last-child {padding-right: 4px}
.topbuttons .pagenav td:first-child {text-align: right}
.topbuttons .pagenav td:last-child {text-align: left}
.topbuttons#pagesize {padding: 6px 0 4px; border-bottom: var(--border)}
tr.list0 {background: var(--bg3)}
tr.list0 a:link {text-decoration: none}
tr.list0:hover a, tr.list1:hover a {color: var(--hover)}
tr.list0:hover td, tr.list1:hover td {color: #104e99}
tr.list0:hover, tr.list1:hover {border-top: 1px solid var(--border_soft); border-bottom: 1px solid var(--border_soft); background: #ffd; cursor: pointer}
tr.list0, tr.list1 {border-top: 1px solid var(--border_softer); border-bottom: 1px solid var(--border_softer)}
tr.list1 a:link {text-decoration: none}
tr.list1 {background: var(--bg)}
tr.mailbody:nth-child(n+3) {border-top: var(--border); border-bottom: var(--border); background: var(--bg)}
tr.mailbody p.error {margin: -3px -1px}
.bottombuttons br {display: none}
.bottombuttons input:disabled {display: none}
tr.bottombuttons table.pagenav {margin: 0; width: 100%; border-bottom: 1px solid #555}

/* login */
#dologin {border: var(--border); padding: 10px 0 0; width: 500px; margin: 55px auto 40px; box-shadow: 0 0 0 1px #fff; background: linear-gradient(180deg,rgba(240,240,255,.4), rgba(220,220,255,.5)) #fefefe; box-shadow: var(--highlight), 0 0 1px #ccc; filter: opacity(0); animation: linear fade-in .15s .5s forwards}
.iframed #dologin {margin: 38px auto 15px}
@keyframes fade-in {0%,80% {filter: opacity(0)} 100% {filter: opacity(1)}}
#dologin input[type=text] {text-align: left; font-weight: 400}
#dologin input[name="user"] {padding: 4px 5px 4px 26px; background: var(--bg) var(--user) no-repeat 5px center / 16px}
#dologin input[name="pass"] {padding: 4px 5px 4px 26px; background: var(--bg) var(--key) no-repeat 5px center / 16px}
#dologin input[name="user"], #dologin input[name="pass"], #dologin input[name="host"] {margin-right: 3px; width: 60%; width: calc(60% + 26px)}
#dologin table {margin: 0 auto; width: 100%; width: calc(100% - 2px); border-collapse: collapse}
#dologin tr:last-child td {padding: 3px 0 5px}
#dologin tr:nth-child(n+3) td {text-align: center}
#dologin tr:nth-child(6) hr {margin-bottom: 4px}
#dologin tr:last-child hr {margin-top: 3px}
#dologin td {padding: 5px 3px; font-weight: 700; color: #41444d}
#dologin td:first-child {padding-left: 0; width: 120px; white-space: nowrap}
#dologin td:last-child {padding-right: 0; width: auto}
#dologin td[colspan="2"] {padding: 4px 0 7px}
#dologin h1 {margin: -10px 0 10px; padding: 10px 15px; letter-spacing: .08em; text-align: left; font-size: 14pt; color: var(--ink_light); word-spacing: .1em; border-bottom: var(--border); box-shadow: var(--highlight); background: linear-gradient(90deg, #fff 30%, #eff2ff)}
#dologin hr {display: block; box-shadow: 0 0 0 1px rgba(255,255,255,.5); background: var(--border_color)}
.iframed #dologin tr:nth-child(6) hr {margin-top: 5px}
#dologin tr:last-child a {margin: 6px -2px 6px; padding: 3px 10px; display: inline-block; font-size: 90%; border: 1px solid rgba(119, 120, 159, .3); border-radius: 25px; box-shadow: 0 0 1px rgba(255,255,255,0); background: linear-gradient(90deg, #f2f2ff, #f6f6ff, #f2f2ff); transition: ease all .1s}
#dologin tr:last-child a:hover {border: 1px solid #77789f; border: 1px solid rgba(119, 120, 159, .5); background: #f2f2ff; background: linear-gradient(180deg,#fafaff 50%, #e8e8ff 50%) #f2f2ff; box-shadow: 0 0 1px #ccf; transition: ease all .1s}
#dologin tr:last-child a:active {border: 1px solid rgba(119, 120, 159, .3); background: #e2e2ff; background: linear-gradient(180deg,#eaeaff 50%, #d9d9ff 50%); box-shadow: inset 3px 3px 3px #779; transition: ease all .1s; color: rgba(65, 70, 95, .8); color: #99a5df}
#dologin tr:last-child td {color: transparent; color: rgba(119, 120, 159, 0)}
#toggle {height: 20px; width: 24px; vertical-align: middle; font-size: 0; border: none; box-shadow: none; background: var(--show) no-repeat center center / 20px; cursor: pointer; mix-blend-mode: luminosity}
#toggle:hover {mix-blend-mode: normal}
#toggle.hidepass {background: var(--hide) no-repeat center center / 20px}
#toggle.showpass {background: var(--show) no-repeat center center / 20px}

/* forms */
form {line-height: 1.6}
input[type=submit], #settings {margin: 3px}
a.fakebutton, a.fakebutton:visited {padding-left: 24px; line-height: 1.3; font-weight: 400; color: var(--ink_light)}
input[type="file"] {padding: 3px 2px}
input[disabled] {opacity: .3; pointer-events: none}
button, input[type=submit], input[type="reset"], #settings, .fakebutton {padding: 5px; display: inline-block; color: var(--ink_light); border: var(--border); border-radius: 3px; box-shadow: var(--btn_shadow); background-size: 14px, 100%; background: var(--btn); outline: none; cursor: pointer}
button:hover, input[type=submit]:hover, input[type="reset"]:hover, button:focus, input[type=submit]:focus, input[type="reset"]:focus, #settings:hover, #settings:focus, .fakebutton:focus {color: var(--ink); border: var(--border); box-shadow: var(--btn_shadow_hover); background: var(--btn_hover)}
button:focus, input[type=submit]:focus, input[type="reset"]:focus, .fakebutton:focus {filter: drop-shadow(0 0 1px #89f)}
input[type=text]:focus, input[type=password]:focus, textarea:focus {color: #000; box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--hover)}
button:active, input[type=submit]:active, input[type="reset"]:active, #settings:active, .fakebutton:active {color: #555; border: 1px solid #bbb; box-shadow: var(--btn_shadow_active); background: #ddd}
input.cancel {padding: 5px 8px 5px 22px; background: var(--no) no-repeat 7px center / 11px, var(--btn)}
input.cancel:hover, input.cancel:focus {background: var(--no) no-repeat 7px center / 11px, var(--btn_hover)}
input.clearselection {padding: 5px 8px 5px 24px; background: url(../images/none.png) no-repeat 7px center / 14px, var(--btn)}
input.clearselection:hover, input.clearselection:focus {background: url(../images/none.png) no-repeat 7px center / 14px, var(--btn_hover)}
input.delete, input.delete_attachment, input.really_delete {padding: 5px 8px 5px 24px; background: var(--delete) no-repeat 7px center / 14px, var(--btn)}
input.delete:hover, input.delete_attachment:hover, input.really_delete:hover, input.delete:focus, input.delete_attachment:focus, input.really_delete:focus {background: var(--delete_hover) no-repeat 7px center / 14px, var(--btn_hover)}
.topbuttons input.delete {margin-left: 0}
input.download {padding: 5px 8px 5px 24px; background: var(--download) no-repeat 7px center / 14px, var(--btn)}
input.download:hover, input.download:focus {background: var(--download_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.offline {padding: 5px 8px 5px 24px; background: var(--offline) no-repeat 7px center / 14px, var(--btn)}
input.offline:hover, input.offline:focus {background: var(--offline_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.list, input.moveto, input.switchto {padding: 5px 8px 5px 24px; background: var(--folder) no-repeat 7px center / 14px, var(--btn)}
input.list:hover, input.list:focus, input.moveto:hover, input.switchto:hover, input.moveto:focus, input.switchto:focus {background: var(--folder_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.forward {padding: 5px 8px 5px 24px; background: var(--forward) no-repeat 7px center / 14px, var(--btn)}
input.forward:hover, input.forward:focus {background: var(--forward_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.login {padding: 5px 8px 5px 24px; background: var(--login) no-repeat 7px center / 14px, var(--btn)}
input.login:hover, input.login:focus {background: var(--login_hover) no-repeat 7px center / 14px, var(--btn_hover)}
#info input.logout, #info input.logout:hover, #info input.logout:focus, #info input.logout:active {border: none; border-left: 1px solid var(--border_badge); border-radius: 0; box-shadow: none; filter: none}
input.logout {margin: -8px -6px -8px 6px; padding: 5px 8px 5px 24px; background: var(--logout) no-repeat 7px center / 14px, var(--btn)}
#info input.logout {padding: 6px 8px 6px 24px}
input.logout:hover, input.logout:focus {background: var(--logout_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.logout:active {box-shadow: var(--btn_shadow_active)}
input.reload, input.refresh, .fakebutton {padding: 5px 8px 5px 24px; background: var(--refresh) no-repeat 7px center / 14px, var(--btn)}
input.reload:hover, input.refresh:hover, input.reload:focus, input.refresh:focus, .fakebutton:hover, .fakebutton.focus {background: var(--refresh_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.invertselection {padding: 5px 8px 5px 24px; background: url(../images/selection.png) no-repeat 7px center / 14px, var(--btn)}
input.invertselection:hover, input.invertselection:focus {background: url(../images/selection.png) no-repeat 7px center / 14px, var(--btn_hover)}
input.show {padding: 5px 8px 5px 24px; background: var(--yes) no-repeat 7px center / 12px, var(--btn)}
input.show:hover, input.show:focus {padding: 5px 8px 5px 24px; background: var(--yes) no-repeat 7px center / 12px, var(--btn_hover)}
input.markall {padding: 5px 8px 5px 24px; background: url(../images/all.png) no-repeat 7px center / 14px, var(--btn)}
input.markall:hover, input.markall:focus {background: url(../images/all.png) no-repeat 7px center / 14px, var(--btn_hover)}
input.new {padding: 5px 8px 5px 24px; background: var(--compose) no-repeat 7px center / 14px, var(--btn)}
input.new:hover, input.new:focus {background: var(--compose_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.reply {padding: 5px 8px 5px 24px; background: var(--reply) no-repeat 7px center / 14px, var(--btn)}
input.reply:hover, input.reply:focus {background: var(--reply_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.replyall {padding: 5px 8px 5px 24px; background: var(--replyall) no-repeat 7px center / 14px, var(--btn)}
input.replyall:hover, input.replyall:focus {background: var(--replyall_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.setpagesize, input.save {padding: 5px 8px 5px 24px; background: var(--yes) no-repeat 7px center / 12px, var(--btn)}
input.setpagesize:hover, input.save:hover, input.setpagesize:focus, input.save:focus {padding: 5px 8px 5px 24px; background: var(--yes) no-repeat 7px center / 12px, var(--btn_hover)}
input.send {padding: 5px 8px 5px 24px; background: var(--send) no-repeat 7px center / 14px, var(--btn)}
input.send:hover, input.send:focus {background: var(--send_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.configure, #settings {padding: 5px 8px 5px 24px; vertical-align: middle; background: var(--configure) no-repeat 7px center / 14px, var(--btn)}
input.configure:hover, input.configure:focus, #settings:hover, #settings:focus {background: var(--configure_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.saveas, input.saveasdraft {padding: 5px 8px 5px 24px; background: var(--save) no-repeat 7px center / 14px, var(--btn)}
input.saveas:hover, input.saveas:focus, input.saveasdraft:hover, input.saveasdraft:focus {background: var(--save_hover) no-repeat 7px center / 14px, var(--btn_hover)}
input.new_upload, input.delete_attachment {margin-right: 0; float: right; text-transform: capitalize}
input.new_upload {padding: 5px 8px 5px 24px; background: var(--attach) no-repeat 7px center / 14px, var(--btn)}
input.new_upload:hover, input.new_upload:focus {padding: 5px 8px 5px 24px; background: var(--attach_hover) no-repeat 7px center / 14px, var(--btn_hover)}
select {margin: 3px; padding: 4px 20px 4px 5px; vertical-align: middle; text-overflow: ellipsis; font-size: 9pt; color: var(--ink_light); border-radius: 3px; border: var(--border); box-shadow: var(--btn_shadow); background: var(--dropdown) no-repeat right 8px center / 10px, var(--btn); appearance: none; cursor: pointer}
.folders select {margin-left: 0}
select option {background: var(--bg)}
textarea[name="config_text"] {width: 600px; resize: none}

/* pagenav */
input.firstpage, input[name="firstpage"], input.firstpage[disabled]:hover, input[name="firstpage"][disabled]:hover, input.firstpage[disabled]:focus, input[name="firstpage"][disabled]:focus {padding: 5px 14px; text-indent: -99999px; background: var(--first) no-repeat center center / 16px, var(--btn)}
input.firstpage:hover, input[name="firstpage"]:hover, input.firstpage:focus, input[name="firstpage"]:focus {background: var(--first_hover) no-repeat center center / 16px, var(--btn_hover)}
input.lastpage, input[name="lastpage"], input.lastpage[disabled]:hover, input[name="lastpage"][disabled]:hover, input.lastpage[disabled]:focus, input[name="lastpage"][disabled]:focus {padding: 5px 14px; text-indent: -99999px; background: var(--last) no-repeat center center / 16px, var(--btn)}
input.lastpage:hover, input[name="lastpage"]:hover, input.lastpage:focus, input[name="lastpage"]:focus {background: var(--last_hover) no-repeat center center / 16px, var(--btn_hover)}
input.prevpage, input.prev, input[name="prev"], input[name="prevpage"], input.prevpage[disabled]:hover, input.prev[disabled]:hover, input[name="prev"][disabled]:hover, input[name="prevpage"][disabled]:hover, input.prevpage[disabled]:focus, input.prev[disabled]:focus, input[name="prev"][disabled]:focus, input[name="prevpage"][disabled]:focus {padding: 5px 14px; text-indent: -99999px; background: var(--previous) no-repeat center center / 16px, var(--btn)}
input.nextpage, input.next, input[name="nextpage"], input[name="next"], input.nextpage[disabled]:hover, input.next[disabled]:hover, input[name="nextpage"][disabled]:hover, input[name="next"][disabled]:hover, input.nextpage[disabled]:focus, input.next[disabled]:focus, input[name="nextpage"][disabled]:focus, input[name="next"][disabled]:focus {padding: 5px 14px; text-indent: -99999px; background: var(--next) no-repeat center center / 16px, var(--btn)}
input.prevpage:hover, input.prev:hover, input[name="prev"]:hover, input[name="prevpage"]:hover, input.prevpage:focus, input.prev:focus, input[name="prev"]:focus, input[name="prevpage"]:focus {background: var(--previous_hover) no-repeat center center / 16px, var(--btn_hover)}
input.nextpage:hover, input.next:hover, input[name="nextpage"]:hover, input.nextpage:focus, input.next:focus, input[name="nextpage"]:focus {background: var(--next_hover) no-repeat center center / 16px, var(--btn_hover)}
#pagenav input[disabled] {border: 1px solid #bbb; box-shadow: var(--highlight)}

/* compose */
#composemail input, #composemail textarea {margin-right: 0}
#composemail input {margin-left: 0}
#composemail input[type="file"] {padding: 0}
#composemail td {padding: 3px}
#composemail textarea {width: 665px; min-width: 665px; min-height: 200px; margin-top: 5px}
#composemail {padding: 10px; text-align: center}
#composemail table {margin: auto; width: auto}

/* mailbox */
img.sort {max-height: 12px; max-width: 12px}
.listClock {margin-top: 1px; padding-left: 1px; min-width: 16px; vertical-align: text-top; font-size: 80%; text-align: left; text-transform: lowercase}
.listClock {margin-top: 1px; padding-left: 1px; min-width: 18px; vertical-align: text-top; font-size: 80%; text-align: left; text-transform: lowercase}
.listDate, .listTime, .listClock {display: inline-block; white-space: nowrap; text-align: right}
.listDate, .listTime, .listClock {display: inline-block; white-space: nowrap; text-align: right}
.listDate {min-width: 60px; text-align: right}
.listDate {padding: 2px; min-width: 64px; text-align: right; font-weight: 700; opacity: .8}
tr:hover .listDate {opacity: .9}
.listDate span {padding: 1px 0; display: inline-block; min-width: 18px; text-align: center; border-radius: 2px}
.listTime {min-width: 40px; text-align: left; color: var(--ink)}
.listTime {min-width: 58px; opacity: .85}
.mailListDate {text-align: center}
.mailListSender, .mailListDate, .mailListSize {white-space: nowrap; width: 1%}
.mailListSender {text-align: left}
#info {margin: -2px 0 0 3px; padding: 5px 6px; display: inline-block; vertical-align: middle; line-height: normal; color: var(--ink_light); border: 1px solid var(--border_badge); border-radius: 2px; box-shadow: var(--highlight); background: var(--bg2)}
#infoUser::after {margin: -8px 4px -8px 6px; width: 1px; height: 30px; display: inline-block; vertical-align: middle; background: var(--border_badge); content: ""}
#infoUser {padding-left: 17px; background: var(--user) no-repeat left center / 14px}
#mailbox a img.sort:hover, .sort:focus {opacity: 1; filter: drop-shadow(0 0 1px var(--hover))}
#mailbox a {opacity: .85}
#mailbox th, #mailbox td {padding-left: 6px; padding-right: 6px}
#mailbox th {padding: 6px; font-size: 70%; border-bottom: var(--border); background: var(--header)}
#mailbox th.mailListAttachment {background: var(--attach) no-repeat center center / 14px, var(--header)}
#mailbox th.mailListDelete {background: var(--nuke) no-repeat center center / 14px, var(--header)}
#mailbox th.mailListFlagged{background: url(../images/status.png) no-repeat center center, var(--header); background-blend-mode: luminosity}
#mailbox th > * {vertical-align: middle}
#mailbox td.mailListSender {padding-left: 18px}
#mailbox td.mailListSender a {font-weight: 400}
#mailbox td:nth-child(3) a {font-weight: 400}
#mailbox td:nth-child(5) {text-align: left}
#mailbox tr:hover td:nth-child(3) a {color: #104e99}
#mailbox tr.bottombuttons td {padding-top: 5px; padding-bottom: 5px; border-top: var(--border); background: var(--bg)}
#mailbox tr.bottombuttons td:first-child {text-align: left}
#mailbox tr.bottombuttons td:last-child {padding-right: 2px}
#mailhead, #message_full tr:first-child {background: #f2f2ff}
#mailhead {margin: 0}
#mailhead tr, #mailhead td {border: none}
#mailhead td:first-child {padding-left: 10px; width: 20px; white-space: nowrap; text-align: right; font-weight: 700}
#mailhead td[colspan="2"], #mailhead hr {display: none}
#newmail input[type=text] {width: 665px}
#newmail td:first-child {font-weight: 700; padding-right: 10px}
#viewmail {margin: -9px -10px; border-top: var(--border); background: var(--bg3)}
.debugHeader td {border-top: var(--border)}
.debugHeader pre {margin: 4px 10px; white-space: pre-wrap; line-height: 1.3; font-size: 9.5pt; opacity: .9}
#expand, #collapse {margin: 0 -7px -3px 0; padding: 2px 10px; min-width: 90px; display: inline-block; line-height: 1.4; text-align: center; font-size: 90%; color: var(--ink_light); border: var(--border); border-radius: 4px 0 0 0; background: var(--btn)}
#expand:hover, #collapse:hover {color: var(--ink_hover)}
#expand:active, #collapse:active {box-shadow: var(--highlight), inset 2px 2px 2px rgba(0,0,0,.3)}

/* confirm mail delete */
#confirmdelete td {padding: 10px; box-shadow: var(--highlight); background: #900; background: repeating-linear-gradient(45deg, #900, #900 10px, #ee9 10px, #ee9 20px); background-size: 400%; animation: attention 240s linear infinite both}
#nukemail br {display: block}
#nukemail.floating {margin: 0 auto 1px; width: 480px; position: absolute; z-index: 2000; top: 250px; left: 0; right: 0}
#nukemail {margin: 0; padding: 35px 20px 20px; text-align: center; font-weight: 700; font-style: italic; color: #900; border: 1px solid #700; box-shadow: inset 0 0 1px 1px #dda, 0 0 0 1px #fff, 0 0 2px 2px rgba(0,0,0,.3); background: var(--question) no-repeat center 20px / 32px, linear-gradient(180deg,#ffe, #ffffe6); animation: fade-in linear 0.5s}
#nukemail span {margin: 30px auto 20px; padding-bottom: 20px; display: inline-block; width: 100%; font-size: 120%; border-bottom: 1px solid #933}

/* iframe */
.iframed .attached {padding: 5px 0 5px 25px}
.iframed #confirmdelete td {padding: 12px 10px 10px}
.iframed div.footer {margin-top: -10px}
.iframed .folders {padding: 0 5px 4px}
.iframed .footer {display: none}
.iframed form {margin-bottom: 2px}
.iframed h3#config {margin: 1px auto 10px}
.iframed .header {display: none}
.iframed #info {margin-top: 0}
.iframed #message_full {margin-bottom: -1px}
.iframed #messagenav {padding-bottom: 0}
.iframed #nukemail {top: 230px}
.iframed .page {margin: -6px 1px 11px; min-width: 580px; border: none; box-shadow: none; background: transparent}
.iframed p.mailbody {margin: 0; padding: 0 20px 10px}
.iframed .topbuttons, .iframed p.error, .iframed p.info {margin: -1px -11px; border: var(--border); border-left: none; border-right: none}
.iframed .topbuttons {margin-bottom: -2px; padding: 6px 0 5px}
.iframed .topbuttons .pagenavcontrols {border: none}
.iframed .topbuttons .pagenavcontrols td {padding: 0 5px}
.iframed .topbuttons > * {vertical-align: middle}
.iframed #viewmail {margin: 1px 0 -10px; padding: 0; border: var(--border)}
.iframed #viewmail .folders {padding-top: 4px}

/* browser specific */
@-moz-document url-prefix(http://) {button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {padding: 0; border: 0 none}}
@supports not (-moz-appearance: none) {table#mailbox {margin-top: 1px} div#prefsave {border-bottom: var(--border)}}

@media screen and (max-width: 1500px) {.debugHeader pre {font-size: 8.5pt}}
@media screen and (max-width: 1024px) {.page {min-width: 600px} #composemail textarea, #newmail input[type=text] {min-width: 400px; width: 100%}}
@media screen and (min-width: 1300px) {.iframed body, .iframed td, .iframed textarea, .iframed input, .iframed div, .iframed p.mailbody, .iframed p.error {font-size: 10pt}}
@media screen and (min-width: 1500px) {body, td, textarea, input, div, p.mailbody, p.error, #settings, select {font-size: 10pt}}
