/* I2P Midnight theme globals */
/* Author:(c) dr|z3d 2022 */

@import url(/themes/fonts/DroidSans.css);
@import url(../images/images.css);
@import url(images/images.css);
@import url(images/tile.css);
@import url(chromescroll.css);

:root{
--a:#7171d1;
--active:#fc1c66;
--a_hover:#bf2295;
--badge:linear-gradient(180deg,#080818 50%,#000 50%);
--badge_hover:linear-gradient(180deg,#181828 50%,#000 50%);
--badge_active:linear-gradient(180deg,#080818,#181828);
--bevel_badge:var(--highlight),inset 0 0 2px 1px #8383c9,0 0 0 1px #000;
--bevel_h1:var(--highlight),inset 0 0 2px 1px rgba(70,70,160,.9);
--bevel:var(--highlight),inset 0 0 2px 1px rgba(70,70,160,.6);
--bg_main:repeating-linear-gradient(90deg,rgba(0,0,48,.5) 2px,rgba(0,0,0,.6) 4px) center center / 4px 100%,repeating-linear-gradient(180deg,rgba(0,0,40,.5) 2px,rgba(0,16,0,.3) 4px) center center / 100% 4px;
--bodybg:repeating-linear-gradient(90deg,rgba(0,0,36,.6) 2px,rgba(0,0,8,.4) 4px) center center / 4px 100%,repeating-linear-gradient(180deg,rgba(0,0,24,.8) 2px,rgba(0,0,0,.5) 4px) center center / 100% 4px,var(--tile) center center / 171px 148px,#001;
--bodyfont:Droid Sans,Open Sans,Noto Sans,Ubuntu,Segoe UI,Lucida Grande,DejaVu Sans,Verdana,Helvetica,sans-serif;
--border:1px solid #26235c;
--border_active:1px solid #fc1c66;
--border_badge:1px solid #225;
--border_btn:1px solid #26225c;
--border_hover:1px solid var(--ink_btn_active);
--border_inner:1px solid #1e1c4a;
--border_input:1px solid #27235c;
--border_input_hover:1px solid #652787;
--border_soft:1px solid #181537;
--btn_active:linear-gradient(180deg,#401856,#501f6c);
--btn_hover_radial:radial-gradient(at center bottom,rgba(96,0,96,.4),rgba(0,0,0,0) 60%);
--btn_hover:var(--btn_hover_radial),linear-gradient(180deg,#202,#101 50%,#080008 50%,#000);
--btn:radial-gradient(at center bottom,rgba(70,65,113,.25),rgba(0,0,0,0) 80%),linear-gradient(180deg,#1e1c31,#11101c 50%,#0a0910 50%,#000);
--btn_shadow_active:var(--highlight),inset 4px 4px 4px rgba(0,0,0,.7);
--element:linear-gradient(180deg,#112,#000);
--h1:repeating-linear-gradient(180deg,rgba(0,0,72,.3) 2px,rgba(0,0,0,.4) 4px) center center / 100% 4px,repeating-linear-gradient(90deg,#002 2px,#000 4px) center center / 4px 100%;
--helpsection:repeating-linear-gradient(180deg,#080820 2px,#010010 4px);
--highlight:inset 0 0 0 1px #000;
--hover:#6a1698;
--ink_btn_active:#83529f;
--ink:#c9ceff;
--ink_darker:#99a3ff;
--label:linear-gradient(180deg,#002,#001);
--li:#8589ad;
--membarinner:linear-gradient(90deg,rgba(0,0,0,0) 100px,rgba(255,0,255,.1) 160px,rgba(255,0,0,.15)),linear-gradient(180deg,rgba(100,100,220,.5),rgba(70,70,120,.5) 50%,rgba(0,0,50,.5) 50%,rgba(0,0,0,.5));
--monospaced:Droid Sans Mono,Noto Mono,DejaVu Sans Mono,Lucida Console,monospace;
--notes:linear-gradient(90deg,rgba(0,0,24,.6),rgba(0,0,8,.6),rgba(0,0,24,.6)),var(--label);
--optbox:linear-gradient(180deg,#030306,#112);
--outline:0 0 0 1px #000;
--panel:linear-gradient(180deg,#002,#001);
--radial_glow_top:radial-gradient(at center -50px,rgba(96,0,96,.4),rgba(0,0,0,0) 85%);
--row:linear-gradient(180deg,#080818,#010010);
--sb_bg:repeating-linear-gradient(90deg,rgba(0,0,0,.5) 2px,rgba(4,4,32,.5) 4px),repeating-linear-gradient(180deg,rgba(0,0,0,.5) 2px,rgba(4,4,32,.5) 4px);
--text_focus:linear-gradient(180deg,#002,#000028);
--th:repeating-linear-gradient(180deg,rgba(0,0,72,.3) 2px,rgba(0,0,0,.4) 4px) center center / 100% 4px,var(--panel);
--titlebg:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 2'%3E%3Cpath fill='%23000018' d='M0 0h1v1H0z'/%3E%3Cpath d='M0 1h1v1H0z'/%3E%3C/svg%3E");
--title:linear-gradient(180deg,#002,#000);
}

html,body{min-height:100%;color:var(--ink);scrollbar-color:#225 #001}
body{font:9pt var(--bodyfont);color:var(--ink)}
body.iframed{background:none;overflow:hidden}
a,input,button,select,textarea{outline:none}
a,button,input{-webkit-text-stroke:1px rgba(0,0,0,.3)}
:-moz-focusring{outline:none}
::selection{color:#fff;background:rgba(34,41,111,.9)}
a{text-decoration:none;font-weight:700;word-wrap:break-word}
a,a:link,a:visited{color:var(--a);outline:none}
a:hover,a:focus,a:visited:hover,a:visited:focus{color:var(--hover)}
a:active{color:var(--active)}
a:active,button:active,input:active{-webkit-text-stroke:0}
.left{text-align:left}
.right{text-align:right}
.center{text-align:center}
input,button{cursor:pointer}
input[type=text],textarea{cursor:text}
input[disabled]{pointer-events:none}
a:not(:hover):not(:focus),button:not(:hover):not(:focus),input:not(:hover):not(:focus),.control:not(:hover):not(:focus){-webkit-text-stroke:.5px rgba(0,0,0,.3)}
::placeholder,input::placeholder{font-size:90%;font-weight:700;font-style:italic;color:#aaf;opacity:.4}
:focus::placeholder{opacity:0}
input{margin:3px;font:bold 9pt var(--bodyfont)}
input[type=hidden]{display:none}
input[type=image]{min-width:0}
label{cursor:pointer}
input[type=text],input[type=password],textarea{padding:6px 8px;box-sizing:border-box;color:var(--ink_darker);-webkit-text-stroke:0;border:1px solid #27235c;box-shadow:var(--highlight),0 0 0 1px #000;background:#000;cursor:text}
input[type=text],input[type=password]{margin:5px 10px;padding:6px 8px;text-decoration:none;font:bold 9pt var(--bodyfont);border:var(--border_input)}
textarea{margin:10px;padding:3px 8px;width:calc(100% - 15px);min-height:100px;text-align:left;font:9pt var(--monospaced);box-shadow:inset 1px 1px 1px 0 #000;resize:none;scrollbar-color:rgba(24,24,80,.8) rgba(0,0,0,0);scrollbar-width:thin;will-change:transform}
input[type=text]:focus,input[type=password]:focus,textarea:focus{color:var(--ink);border:1px solid #6466a5;box-shadow:var(--outline),0 0 0 2px var(--a_hover),var(--btn_shadow_active);background:var(--text_focus);transition:ease all .3s}
textarea:focus{box-shadow:inset 0 0 0 1px var(--a_hover),var(--btn_shadow_active);scrollbar-width:auto}
input[type=text]:disabled,input[readonly],input[readonly]:focus{color:#26235c;border:var(--border_inner);box-shadow:none;background:linear-gradient(180deg,#000,#000019);filter:none;cursor:not-allowed}
button::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=reset]::-moz-focus-inner{outline:none;border:none}
input[type="file"]{margin:5px 10px;padding:0;font-weight:400;color:var(--ink);border:none;box-shadow:none;background:none;cursor:pointer}
input[type="file"]:hover,input[type="file"]:active{color:var(--hover)}
button,input[type=submit],input[type=reset],select,.control,.fakebutton,.fakebutton:visited{border-radius:1px;box-shadow:var(--highlight),inset 0 0 2px 0 #559,inset 0 0 1px 1px rgba(85,85,153,.5);background:8px 5px no-repeat,var(--btn);cursor:pointer}
input[type=submit],input[type=reset],button{min-width:0;background-size:12px,100%}
button,button:visited,input[type=submit],input[type=reset],.fakebutton,.control{margin:2px 3px;padding:5px 4px;font:bold 9pt var(--bodyfont);color:var(--a);text-decoration:none;text-align:center;text-shadow:0 1px 1px #000;vertical-align:middle;border:1px solid #27235c;background:var(--btn)}
input[type=submit]:hover,input[type=reset]:hover,button:hover,button:focus,input[type=submit]:focus,input[type=reset]:focus,select:hover,select:focus,.control:hover,.control:focus,.control:visited:hover,.control:visited:focus,.fakebutton:hover,.fakebutton:focus,.fakebutton:visited:hover,.fakebutton:visited:focus,#settings:hover,#settings:focus{color:var(--a_hover);border:1px solid var(--a_hover);box-shadow:var(--highlight),inset 0 0 2px 1px #757,inset 0 0 2px 2px rgba(119,85,119,.5);background:var(--btn_hover_radial),var(--btn_hover);cursor:pointer}
input[type=submit]:hover,input[type=reset]:hover,button:hover{color:var(--a_hover);background-size:12px,100%}
input[type=submit]:active,input[type=reset]:active,button:active,.control:active,.control:visited:active,#settings:active,.fakebutton:active,.fakebutton:visited:active{color:var(--ink_btn_active);text-shadow:0 1px 1px #3c1751;border:1px solid var(--hover);box-shadow:var(--btn_shadow_active),var(--outline);background:var(--hover);background-size:12px,100%;background-blend-mode:luminosity}
input[type=file]::file-selector-button{margin:2px 10px 2px 3px;padding:5px 8px;vertical-align:middle;font:bold 100% var(--bodyfont);color:var(--a);text-decoration:none;text-align:center;text-shadow:0 1px 1px #000;border:1px solid #27235c;border-radius:1px;box-shadow:var(--highlight),inset 0 0 2px 0 #559;background:var(--btn);cursor:pointer}
input[type="file"]:hover{border-radius:0 20px 20px 0;background:linear-gradient(90deg,rgba(0,0,0,0),#414)}
input[type=file]:hover::file-selector-button,input[type=file]:focus::file-selector-button{color:var(--a_hover);border:1px solid var(--a_hover);box-shadow:var(--highlight),inset 0 0 2px 1px #757;background:var(--btn_hover);cursor:pointer}
input[type=file]:active::file-selector-button{background:var(--hover)}
input[type=file]:active::file-selector-button{color:var(--ink_btn_active);text-shadow:0 1px 1px #3c1751;border:1px solid var(--hover);box-shadow:var(--highlight),inset 3px 3px 3px #000;background:var(--hover);background-size:14px,100%;background-blend-mode:luminosity}
select{margin:5px 10px;padding:6px 24px 6px 6px;min-width:110px;vertical-align:middle;appearance:none;overflow:hidden;text-overflow:ellipsis;font:bold 9pt var(--bodyfont);color:var(--a);text-align:center;border:1px solid #27235c;cursor:pointer;background:var(--dropdown) center right 10px no-repeat,var(--btn);background-size:10px auto,100%;filter:none}
select option{text-align:left;font-weight:400;font-size:9.5pt;color:var(--ink);background:#001}
select option:hover,select option:focus,select option:checked{box-shadow:inset 0 0 20px 20px var(--hover)}
select:hover,select:focus,select:active{color:var(--a_hover);text-shadow:0 1px 1px #000;border:1px solid var(--a_hover);background:var(--dropdown_hover) center right 10px no-repeat,var(--btn_hover);background-size:10px auto,100%,100%}
select[disabled],select[disabled]:hover,select[disabled]:focus,select[disabled]:active{opacity:.7;pointer-events:none}
.optbox{width:21px;height:21px;position:relative;vertical-align:middle;box-sizing:border-box;outline:none;border:1px solid #27235c;box-shadow:var(--btn_shadow_active);background:var(--optbox);appearance:none;filter:drop-shadow(0 0 1px #000);will-change:transform}
.optbox[type=radio]{border-radius:50%}
.optbox[type=checkbox]::before{position:absolute;transition:linear transform .1s;transform:scale(1)}
.optbox:not(:checked){box-shadow:var(--btn_shadow_active)}
.optbox:active{background:#000}
.optbox::before{display:inline-block;position:absolute;box-shadow:var(--outline),inset 0 0 0 1px var(--a);background:linear-gradient(180deg,#655fb9,#544eb1);content:""}
.optbox[type=checkbox]::before{top:4px;left:4px;width:11px;height:11px;border-radius:1px}
.optbox[type=radio]::before{top:25%;left:25%;width:9px;height:9px;border-radius:50%;box-shadow:0 0 1px #655fb9,0 0 0 1px rgba(0,0,16,.5),inset 0 0 1px 1px #655fb9}
.optbox[type=radio]:checked:hover::before{box-shadow:0 0 0 2px #7975c2;background:#7975c2}
.optbox:not(:checked)::before{opacity:0;transform:scale(0)}
.optbox:hover,.optbox:focus{border:1px solid #6466a5;box-shadow:0 0 0 1px rgba(101,39,135,.5),0 0 2px 2px #202;background:linear-gradient(180deg,#303,#414);filter:drop-shadow(0 0 1px #202)}
.optbox[disabled]{border:1px solid #4f4b87;box-shadow:none;background:#000;opacity:.5;filter:none;pointer-events:none}
.optbox.slider[type=checkbox],.optbox.slider[type=checkbox]:hover,.optbox.slider[type=checkbox]:focus{width:40px;height:21px;border-radius:1px;position:relative;z-index:100;border:var(--border);box-shadow:0 0 0 2px #000,var(--highlight),inset 3px 3px 3px rgba(0,0,0,.5);background:linear-gradient(180deg,#001,#002);outline:none;transition:ease-in left .15s;appearance:none}
.optbox.slider:not(:checked),.optbox.slider:not(:checked)[disabled]{background:linear-gradient(180deg,#400,#600);border:1px solid #500}
.optbox.slider:not(:checked):active,.optbox.slider:checked{background:linear-gradient(180deg,#060,#080)}
.optbox.slider:checked:active{background:linear-gradient(180deg,#800,#a00)}
.optbox.slider:not([disabled]):hover,.optbox.slider:not([disabled]):focus{box-shadow:0 0 0 1px #000,0 0 0 2px var(--hover),inset 0 0 0 1px #000,inset 3px 3px 3px rgba(0,0,0,.2)}
.optbox.slider[type=checkbox]::before,.optbox.slider::before,.optbox.slider:hover::before,.optbox.slider:focus::before,.optbox.slider:active::before,.optbox.slider:active:not(:checked)::before{width:20px;height:100%;position:absolute;top:0;left:-1px;border-radius:1px;box-shadow:inset 0 0 0 1px #337,inset 0 0 0 2px #000,0 2px 5px rgba(0,0,0,.2);background:linear-gradient(180deg,#337,#225);content:"";transform:scale(.85);transition:ease-in left .15s;opacity:1}
.optbox.slider:not([disabled]):not(:checked)::before,.optbox.slider:not([disabled]):active:checked::before{box-shadow:inset 0 0 0 1px #900,inset 0 0 0 2px #000,0 2px 5px rgba(0,0,0,.2);background:linear-gradient(180deg,#a22,#811)}
label:hover .optbox.slider[disabled],.optbox[disabled]:hover,label[disabled]:hover .optbox{pointer-events:none}
.optbox.slider:checked{border:1px solid #373}
.optbox.slider:checked::before{left:18px;box-shadow:inset 0 0 0 1px #373,inset 0 0 0 2px #000,0 2px 5px rgba(0,0,0,.2);background:linear-gradient(180deg,#373,#252)}
label[disabled],label[disabled]:hover{opacity:.45;cursor:default}

@supports not (-moz-appearance:none){select{padding:7px 24px 7px 10px}}

@media (forced-colors:active){*{forced-color-adjust:none}}
@media screen and (max-width:1499px){select{padding:5px 24px 5px 6px}}