/* disable snark's collapsible panels */
/* fixes a browser engine bug present in Konqueror, Midori, Qupzilla et al */

input.toggle_input + label + hr + table {
	display: table;
}

input.toggle_input:checked + label + hr + table, input.toggle_input + label + hr + table {
	margin-top: 20px;
}

.toggleview:hover, .toggleview:active, #addSection:hover .toggleview, #createSection:hover .toggleview {
	color: #777;
	cursor: default;
	background: linear-gradient(180deg,#fff 50%, #efefef 50%);
}

#addSection:hover, #createSection:hover, #addSection:hover .toggleview, #createSection:hover .toggleview {
	box-shadow: inset 0 0 0 1px #fff;
}